[2016-09-30 17:05] juneb opened #1 "Where are the help files?"
In Windows PowerShell 5.0, the PowerShellGet module directory has an en-US directory with 2 XML help files:
PSGet.psm1-help.xml
PSModule.psm1-help.xml

They are not in PowerShell 6, so there's no help for the functions or the module.

[2016-09-30 17:59] bmanikm commented on #1
@juneb Due to a backward-compatibility reason (PSGet.psm1 got renamed to PSModule.psm1), PowerShellGet will have a single help file with PSGet.psm1-help.xml.  Update-Help -Module PowerShellGet should update the help file under en-US directory. There is a known issue in Update-Help with https HelpInfoUri --> https://github.com/PowerShell/PowerShell/issues/1918. To workaround that issue, we can upda

[2016-09-30 21:27] kilasuit opened #2 "[PowerShell] - Make Install-Module automatically install in CurrentUser scope for non admin users"
As per issue https://github.com/PowerShell/PowerShell/issues/2292 - Reported by @ffeldhaus - moving this here as the home for PowerShellGet module for possible further discussion.

This is a feature request. Currently Install-Module gives a warning in Windows PowerShell if it is not run with admin privileges and -Scope CurrentUser is not specified.

As many users just expect Install-Module to work

[2016-10-01 18:50] Velocet commented on #2
But sometimes it happens that you forget to fire up a shell with admin rights...

So a warning message is a good thing in this case...

[2016-10-01 22:16] juneb commented on #1
Thanks, Mani. I actually reported that help file issue. :)
Will the help files be added to this GitHub project or to PowerShell-Docs?

[2016-10-01 22:44] Jaykul commented on #2
Tt's possible to distinguish between a non-elevated administrator and a non-administrator, right? So perhaps a warning (or the current behavior) for non-elevated administrators, and silently doing the right thing for other users?

[2016-10-03 21:23] kittholland opened #5 "Add support for Uninstall"
Chocolatey has support for uninstalls but PowershellGet does not, could add support for the chocolatey uninstall functionality?

https://github.com/chocolatey/choco/wiki/CommandsUninstall

[2016-10-03 21:25] joeyaiello opened #6 "Save-Module -Path should be a positional parameter"
Today, `-Name` is the only positional parameter for `Save-Module` I want to be able to do:

[code]

[2016-10-05 17:31] pcgeek86 commented on #1
Won't that open up PowerShell to man in the middle (MITM) attacks? @bmanikm

[2016-10-05 18:00] juneb commented on #1
Actually, I wrote a separate bug, because Update-Help requires http and won't accept https value.

[2016-10-05 19:45] bmanikm commented on #1
@pcgeek86 I agree with you on MITM attacks but as @juneb mentioned above Update-Help requires http.

@juneb PowerShellGet documentation is available in PowerShell-Docs (https://msdn.microsoft.com/en-us/powershell/gallery/psget/overview)

[2016-10-05 19:48] bmanikm commented on #5
@kittholland PowerShellGet is an in-box PowerShell Module. If newer versions of this module are installed from the PSGallery, you can uninstall those versions using Uninstall-Module cmdlet.

[2016-10-05 20:29] bmanikm commented on #2
As discussed in https://github.com/PowerShell/PowerShell/issues/2292 I have improved the error message in #4 to detect and throw proper error message in Linux and Mac.

[2016-10-05 23:26] pcgeek86 commented on #1
@bmanikm What is the work effort to get `Update-Help` to support HTTPS? This doesn't seem like something that should be very hard to fix. I'd classify this a high priority bug.

@juneb Which bug did you file about HTTPS for `Update-Help`?

[2016-10-06 21:12] juneb opened #7 "Properties of AdditionalMetadata are case-sensitive"
The Microsoft.PowerShell.Commands.PSRepositoryItemInfo has an AdditionalMetadata property that contains a hash table of properties and values. The hash table keys are case sensitive.

[code]

I think this is because the source is XML, which is case-sensitive, but I haven't had time to verify.

[2016-10-06 21:38] kilasuit commented on #5
@kittholland - There is the Uninstall-Module and Uninstall-Script functions that should provide the functionality that you are asking for

[2016-10-06 21:46] #5 closed

[2016-10-06 21:53] kilasuit commented on #7
Root cause is likely due to this issue that was raised in PoshCode StyleGuide repo https://github.com/PoshCode/PowerShellPracticeAndStyle/issues/60

[2016-10-10 20:31] bmanikm opened #8 "Update-Module fails with ModuleAuthenticodeSignature error for modules with signed PSD1"
https://github.com/PowerShell/PSScriptAnalyzer/issues/628

[code]

[2016-10-10 21:40] kilasuit commented on #8
@bmanikm - There was a massive thread on this previously with @jaykul @JamesWTruher in the PSMVP D/L

Work around currently is to run Install-module with the SkipPublisherCheck Parameter not update-module

[2016-10-10 23:32] bmanikm commented on #8
@kilasuit Yes, I am aware of the thread on catalog signing verification feature in the PSMVP D/L.
This is related to the psgallery modules whose previous versions are having the authenticode signed module manifest file, for example, PSScriptAnalyzer.

[2016-10-11 11:31] LaurentDardenne opened #9 "PSScriptInfo : the content of the field 'description' do not support the French alphabet"
This string :

[code]

is converted into :

[code]

The content of the field 'description' is incorrect :
https://www.myget.org/feed/ottomatt/package/nuget/Edit-String

The [PSScriptInfo](https://github.com/LaurentDardenne/ProjectTools/blob/master/Edit-String.ps1) datas :

[code]

Windows Seven
Powershell v 5.0.10586.117
PackageManagement 1.1.0.0

[2016-10-11 11:40] LaurentDardenne opened #10 "Publish-Script add the private functions into the 'Tag' field"
This [function](https://github.com/LaurentDardenne/ProjectTools/blob/master/Edit-String.ps1) contains a lots of private functions :

[code]

They are all present into the 'Tags' field :

[code]

Windows Seven
Powershell v 5.0.10586.117
PackageManagement 1.1.0.0

[2016-10-11 22:41] bmanikm commented on #9
This is happening due to default ANSII encoding of the .nuspec file created using Set-Content cmdlet. We will have to use the Out-File cmdlet to create the .nuspec file during publish operation, here Unicode is the default encoding.

[2016-10-12 17:32] LaurentDardenne opened #11 "Install-Module throw a ParameterBindingException"
I use this code in a server 2012 (new VM on Azure) :
[code]
The last statement throw a **_ParameterBindingException_** (NamedParameterNotFound) :
![bug-packagemanagement-server2012](https://cloud.githubusercontent.com/assets/4894452/19320608/3e7c4ed0-90b2-11e6-8db7-0f3e57eafb72.png)

The _SkipPublisherCheck_ parameter is missing.

[code]

[2016-10-12 18:09] bmanikm commented on #11
You need to run below command to load the latest version of PowerShellGet provider or launch a new PowerShell Session.

[code]

We recommend launching a new PowerShell Session as mentioned in [PowerShellGet and PackageManagement in PowerShell Gallery and GitHub](https://blogs.msdn.microsoft.com/powershell/2016/09/29/powershellget-and-packagemanagement-in-powershell-gallery-and-github/)

[2016-10-12 18:09] #11 closed

[2016-10-12 19:43] #7 closed

[2016-10-12 19:43] #8 closed

[2016-10-12 19:44] #2 closed

[2016-10-12 22:54] kilasuit opened #13 "General Improvements to fit in with PowerShell best Practices"
A few things

- [ ] - as mentioned in #12 we need to get the tests upto a reasonable level *before* we start adding new/updated/fixed functionality into the code base to enable us not to break things going forward
- [ ] - all PR's must be also tested on downlevel OS environments & downlevel PS environments too
- [ ] - PR's must also have chance to be validated by community members as well as PSTea

[2016-10-12 23:42] bmanikm commented on #13
Thanks @kilasuit!
Yes, we are working on getting the complete test suite into this git repo. There are many tests for PowerShellGet, all of them were written in Lite3 (MSFT internal test infra). I am currently working on porting them to Pester-based tests so that can be added to the PowerShellGet git repo. Yes, we run all PowerShellGet tests on all supported platforms.

[2016-10-14 06:37] HemantMahawar opened #14 "Install-Module should have a -Passthru parameter"
This is useful in atleast following 2 scenario
- Allows to use the installed module in the pipeline (Think Install-Module | Get-DscResource as one example)
- Allows the scripters to notify the end user that module got installed and its location

Workaround is an extra call to Get-Module -ListAvailable

[2016-10-15 18:08] LaurentDardenne opened #15 "Install-module do not install PSScriptAnalyzer"
It try to update PSscriptAnalyzer module v1.8.1,  but without success.
I have removed the folder (1.8.0) and try install-module :
![pssa-seven](https://cloud.githubusercontent.com/assets/4894452/19412257/5eb6eff4-9312-11e6-8e95-483a9c79d798.png)
No errror, but no module is installed.
I must use the _-SkipPublisherCheck_ parameter.

Update-module works on Windows server 2012 :
![pssa-srv2012](https

[2016-10-15 22:23] PlagueHO commented on #15
Hi @LaurentDardenne - I think this is expected/intended behavior.

It is documented in [this blog post](https://blogs.msdn.microsoft.com/powershell/2016/09/29/powershellget-and-packagemanagement-in-powershell-gallery-and-github/) from the PowerShell Team. HTH!

[2016-10-15 23:25] bmanikm commented on #15
@LaurentDardenne This is a known issue (#8) and got fixed in 1.1.1.0 version of PowerShellGet (https://www.powershellgallery.com/packages/powershellget/1.1.1.0). Please try again after installing the latest version of PowerShellGet as documented in (this blog post)[https://blogs.msdn.microsoft.com/powershell/2016/09/29/powershellget-and-packagemanagement-in-powershell-gallery-and-github/].

[2016-10-17 03:14] Velocet opened #18 "[Test-ScriptFileInfo] Fails on *NIX newlines (LF vs. CRLF)"
`Test-ScriptFileInfo` fails if the file has _LF_ line endings to indicate a newline.
## Expected Behavior

Validates a comment block for a script.
## Current Behavior

Validation fails when _LF_ for a newline is used:

## Possible Solution
- Open an Issue on GitHub
- Complain that you can't fix it for yourself
- Hope that someone at MSFT can do it 👍
## Steps to Reproduce
1. Download [Test-ScriptFi

[2016-10-17 07:42] #15 closed

[2016-10-17 16:00] SteveL-MSFT opened #19 ""Find-Command" & "Install-Module" cmdlets show identify OS compatibility"
_From @MaximoTrinidad on September 28, 2016 13:29_

Steps to reproduce
------------------
In Linux, using either Find-Command or Install-Module, will list all available (Windows and Linux).

Expected behavior
-----------------
Install the module that can be executed Linux, as well as Windows.

It maybe a good idea to have these cmdlets check for the OS type before providing the list.

Actual behav

[2016-10-17 16:00] SteveL-MSFT commented on #19
_From @joeyaiello on September 29, 2016 16:35_

We've talked about this in the past. My only reservation here is that many module authors won't know that they are actually compatible (or mostly compatible) with macOS or Linux, and I'd rather not *prevent* users from installing those modules. (E.g. posh-git is 99% working on Mac/Linux)

Maybe we should offer a warning at install time if compatibili

[2016-10-17 16:01] SteveL-MSFT opened #20 "PowerShell causes Segmentation Fault with Find-Command on Linux when network is connected through VPN"
_From @hsaito on September 25, 2016 22:5_
## Steps to reproduce
1. Start Powershell
2. Prompt is displayed
3. Type in Find-Command
4. A segmentation fault occurs
## Expected behavior

It should not cause a segmentation fault, and should display a list of commands.

strace below:

[code]
## Actual behavior

Powershell segfaults and does not display a list of commands.
## Environment data

[code]

_

[2016-10-17 16:01] SteveL-MSFT commented on #20
_From @MaximoTrinidad on September 25, 2016 23:4_

Hi hsaito!

You missed to provide which version of linux you had this issue.

I did ran Find-Command on my Ubuntu 16.04.1 LTS Desktop and had no problems executing the Find-Command in PowerShell version v6.0.0-alpha.10.

![posh6findcmd](https://cloud.githubusercontent.com/assets/19892435/18818859/bb47e4dc-8352-11e6-8b0f-9cc2e31bf35f.png)
. (see im

[2016-10-17 16:01] SteveL-MSFT commented on #20
_From @hsaito on September 26, 2016 8:42_

Sorry for the lack of info on that, it's ubuntu 16.04 LTS, 15.6GiB memory, Intel Core i7-2600 CPU @ 340GHz x 8, Gallium 0.4 and AMD TURKS (DRM 2.43.0, LLVM 3.8.0).

I have actually isolated this issue to only happen when I am connected through VPN. If I disconnect from the VPN (OpenVPN -- I can't provide too much detail about its connection due to securit

[2016-10-17 16:01] SteveL-MSFT commented on #20
_From @andschwa on September 29, 2016 18:19_

@hsaito can you run the Pester tests and see which fail? That might help to narrow it down.

[2016-10-17 16:01] SteveL-MSFT commented on #20
_From @hsaito on September 30, 2016 6:17_

I am not sure how the Pester test works at this moment, but does the following output suffice?

./Pester.Tests.ps1
Describing Pester manifest and changelog
 [+] has a valid manifest 40ms
 [+] has a valid name in the manifest 13ms
 [+] has a valid guid in the manifest 13ms
 [+] has a valid version in the manifest 14ms
 [+] has a valid version in the change

[2016-10-17 16:01] SteveL-MSFT opened #21 "Install-Module requires PowerShell to be run as root under Mac OS X"
_From @ffeldhaus on September 16, 2016 18:19_
## Steps to reproduce

Install PowerShell 6 Alpha 10 and run powershell as a user who is not root nor member of the wheel group. Then run `Install-Module -Name Posh-SSH` which will fail with exception `Could not find a part of the path`.
## Expected behavior

Either users who are not root nor member of the wheel group should be able to install Modules

[2016-10-17 16:01] SteveL-MSFT commented on #21
_From @DHowett on September 17, 2016 5:1_

On Windows / PowerShell Desktop it looks like there is a proper permissions warning:
[code]

Out of curiosity, does `Install-Module -Scope CurrentUser <module>` work? That is the idiomatic way to install a module without root privileges.

[2016-10-17 16:01] SteveL-MSFT commented on #21
_From @ffeldhaus on September 17, 2016 10:2_

Yes, `Install-Module -Scope CurrentUser <module>` works. Interestingly, `Uninstall-Module` run as a non root user when the module was installed by a root user gives the following warning followed by an exception which points to missing permissions:
[code]
I would suggest to implement a similar warning for `Install-Module` as shown in Windows PowerShell

[2016-10-17 16:01] SteveL-MSFT commented on #21
_From @bmanikm on September 19, 2016 17:55_

@ffeldhaus Is it possible to provide more details on how to determine a user who is not root nor member of the wheel group?

[2016-10-17 16:01] SteveL-MSFT commented on #21
_From @DHowett on September 19, 2016 18:5_

In this case, it should only be restricted to those with write access to the modules directory. Any user/group membership check would fail to paint the full picture.

A system administrator could set the module directory to be owned by `root:netusers` and give it `g=rwx` permissions. That way, all `netusers` group members would be able to install modules

[2016-10-17 16:02] SteveL-MSFT opened #22 "Save-Script should allow .PS1 extension"
_From @jpsnover on September 2, 2016 18:12_

[code]

_Copied from original issue: PowerShell/PowerShell#2170_

[2016-10-17 16:02] SteveL-MSFT commented on #22
_From @GeeLaw on September 2, 2016 19:13_

The `Name` parameter is the name of the package, not the file in the package.

See [get-uptime package on PowerShell Gallery](https://www.powershellgallery.com/packages/get-uptime) -- its name is `get-uptime`, not `get-uptime.ps1`. Meanwhile, [this package on PowerShell Gallery](https://www.powershellgallery.com/packages/Azure.Storage) is named `Azure.Sto

[2016-10-17 16:02] SteveL-MSFT commented on #22
_From @bjtucker on September 5, 2016 5:24_

As a naive user, I would expect save-script to accept a filename with extension for the name and do the right thing.

If the downside is things getting confused when someone (wrongly!) publishes a package with a .ps1 at the end, maybe the right thing is to ignore it unless the user specifies they really want that with the switch. (And perhaps prevent doi

[2016-10-17 16:02] SteveL-MSFT commented on #22
_From @GeeLaw on September 5, 2016 5:27_

Hmmm... Got a solution that both keeps backward compatibility and teaches the users.

Rename the parameter `Name` to `PackageName`, and add an alias (of course it's `Name`) for `PackageName`. New users will see `PackageName` in help or when tabbing thru the param list, and will surely understand what the parameter should be.

[2016-10-17 16:02] SteveL-MSFT commented on #22
_From @jpsnover on September 5, 2016 15:43_

As a general rule - PowerShell attempts to more like an AK47 than an M16 - loose and reliable vs tight and finicky.  My Issue was making the case that we don't want to be too precise here and that we know what the user is doing one way or the other so let them be sloppy and we'll figure it out.  If they give us NAME, we look for the file NAME.ps1, why n

[2016-10-17 16:02] SteveL-MSFT commented on #22
_From @MaximoTrinidad on September 5, 2016 16:10_

Well said Jeffrey Snover!

This could one strong topic to discuss in the next MVP Summit. Scripts collaboration between Windows and Linus will be a challenge . I wouldn't be good that a FOO, foO, or fOo.Ps1 would overwrite a foo.PS1 script in the gallery. So, again, the adoption of best practices for Linux will be critical.

This a good discussion

[2016-10-17 16:02] SteveL-MSFT commented on #22
_From @GeeLaw on September 5, 2016 16:52_

I agree that we should NEVER use Use-Ps1.ps1 as the same **package** name. But again, we should not confuse users with the name of a file in a package and the package itself.

There are many subtle things if you make `Save-Script` look for `Abc` given **package** name `Abc.ps1`.

1. Should we make `Save-Module` look for `Abc` given the package name `Abc.p

[2016-10-17 16:02] SteveL-MSFT commented on #22
_From @jpsnover on September 5, 2016 17:56_

@GeeLaw I might have confused the discussion.

What I'm saying is that for FOO.PS1 - the NAME is always FOO and the FILENAME is always FOO.PS1.  Full Stop.

From there, I'm saying that a user should be able to specify either the name or the filename for publishing, saving, updating etc and that we should be able to figure out the rest.  We can do this b

[2016-10-17 16:02] SteveL-MSFT commented on #22
_From @GeeLaw on September 6, 2016 3:34_

@jpsnover You forgot dependencies. See [this package](https://www.powershellgallery.com/packages/Update-Windows) on PowerShell Gallery. When you `Save-Script -Name Update-Windows -Path .`, you get `PSWindowsUpdate` folder (the module the script depends on) as well as `Update-Windows.ps1` -- it's *not saving a* file, therefore this might cause confusion.

T

[2016-10-17 16:02] SteveL-MSFT commented on #22
_From @iSazonov on October 6, 2016 13:5_

If we require #! for the Windows world  it is logical to require  .PS1 for Unix world. Reciprocal convergence.

[2016-10-17 16:02] SteveL-MSFT commented on #22
_From @KirkMunro on October 6, 2016 13:49_

I agree with this sentiment:

Not only that, what if there is support for a .ps2 extension in future builds of PowerShell? To maintain consistency with all of PowerShell I think requiring both the shebang and the file extension is the way to go, and PSScriptAnalyzer can help make this easier for folks to learn/accept.

[2016-10-17 16:02] SteveL-MSFT commented on #22
_From @JKeithB on October 6, 2016 16:35_

This is a great discussion focused on what the gallery & PowerShellGet cmdlets support.
The only hard stake in the ground that I'll put is that PowerShellGallery is the place we are establishing where users should look for stable scripts regardless of platform. That's our mission.
It seems we have consensus around avoiding user confusion that could arise a

[2016-10-17 16:02] SteveL-MSFT commented on #22
_From @iSazonov on October 7, 2016 7:24_

Extensions in Windows is allowed
Extensions in Linux   is allowed

Extensions in Windows is a base.
Extensions in Linux   is optional.

Windows use extensions to detect file type. High level API based on extensions to launch appropriated application.
Linux   don't use extensions to detect file type. Linux always open a file and analyze a file mark to launc

[2016-10-17 16:02] SteveL-MSFT commented on #22
_From @GeeLaw on October 7, 2016 7:41_

Another perspective on being case-kept and case-insensitive: though most modern file system are case-sensitive, a lot of high-level API set, e.g. Win32, adopts case-kept and case-insensitive. AFAIK, the default setting on Mac doesn't allow two files whose names differ only by case.

Summary till now:

1. A script package named `<abc>` will contain (by itself

[2016-10-17 16:02] SteveL-MSFT opened #23 "Find-Module gettting Unhandled Exception"
_From @ishu3101 on September 2, 2016 1:22_

When I run the command `Find-Module Markdown` on **Ubuntu Linux 14.04**, I'm getting this error message.

[code]

_Copied from original issue: PowerShell/PowerShell#2165_

[2016-10-17 16:02] SteveL-MSFT commented on #23
_From @vors on September 2, 2016 14:17_

cc @raghushantha @quoctruong

[2016-10-17 16:02] SteveL-MSFT opened #24 "Install-Module errors on install of Azure and AzureRM modules - MacOsX"
_From @JoshLuedeman on August 18, 2016 16:7_

## Steps to reproduce

Run command Install-Module Azure or Install-Module AzureRM
## Expected behavior

Install PowerShell module for interacting with Azure using Azure and AzureRM commandlets
## Actual behavior

Receive following error code

PackageManagement\Install-Package : Unable to find module providers (PowerShellGet).
At /usr/local/microsoft/po

[2016-10-17 16:02] SteveL-MSFT commented on #24
_From @TravisEz13 on August 18, 2016 16:16_

Can you try 'Register-PSRepository -Default', then retry the repro?
After that, I suspect you are going to hit this issue:  https://github.com/PowerShell/PowerShell/issues/1693

[2016-10-17 16:02] SteveL-MSFT commented on #24
_From @JoshLuedeman on August 18, 2016 16:18_

Received the same error, and I have verified that the PSModule.psm1 file exists at this path.

PackageManagement\Register-PackageSource : Unable to find module providers (PowerShellGet).
At /usr/local/microsoft/powershell/6.0.0-alpha.9/Modules/PowerShellGet/PSModule.psm1:4107 char:17
+ ...     $null = PackageManagement\Register-PackageSource @PSBoundP

[2016-10-17 16:02] SteveL-MSFT commented on #24
_From @kilasuit on August 18, 2016 21:36_

Although not quite you are also likely to hit the issue in #1773 as well as Install-Module is not currently working due to version type changes in these builds

[2016-10-17 16:02] SteveL-MSFT commented on #24
_From @JoshLuedeman on August 19, 2016 21:40_

I receive the same error when trying Register-PsRepository -Default

[2016-10-17 16:02] SteveL-MSFT commented on #24
_From @bmanikm on August 20, 2016 1:39_

@JoshLuedeman Please use one of the following options to install the modules.

### Option 1: Replace the PSModule.psm1 file under PowerShellGet module base with the updated file from master branch (https://github.com/PowerShell/PowerShell).
    Install-Module error got resolved by adding a workaround in PowerShellGet module.
    Please replace the PSModule.

[2016-10-17 16:02] SteveL-MSFT commented on #24
_From @detorn on August 20, 2016 12:55_

@bmanikm seeing the same behavior, can confirm option 1 does not remediate.

[2016-10-17 16:02] SteveL-MSFT commented on #24
_From @jimbrookski on August 23, 2016 2:11_

I managed to get the AzureRM module to install by ensuring that the .NET core was installed, and by making sure to run powershell with sudo.
I cannot get powershell to import the AzureRM module, though, which I think is related to the fact that AzureRM targets the full .NET and .NET Core doesn't yet work.
I get the following error:

[code]

[2016-10-17 16:02] SteveL-MSFT commented on #24
_From @alexandair on August 23, 2016 7:20_

@jimbrookski There are new AzureRM modules refactored to work on CoreCLR. Try Option 3 (Install-Package) from @bmanikm response above and specify AzureRM.NetCore.Preview as the name of the module.

[2016-10-17 16:02] SteveL-MSFT commented on #24
_From @StephenGilboy on August 29, 2016 23:41_

I followed @alexandair's advice and it worked. A step by step though is that you'll need to do the following. (I also put the modules in my home directory, not sure if that is correct)

1. `Install-Package -Name AzureRM.NetCore.Preview -Source https://www.powershellgallery.com/api/v2/ -ProviderName NuGet -ExcludeVersion -Destination $home/powershell/

[2016-10-17 16:02] SteveL-MSFT commented on #24
_From @dfr0 on September 17, 2016 2:50_

Great, works corretly but it's very important...we need use for example the following commands:

Get-AzureService
Get-AzureVM
Set-AzureLoadBalancedEndpoint

[2016-10-17 16:02] SteveL-MSFT commented on #24
_From @kilasuit on September 17, 2016 18:22_

@dfr0 - you'll need to raise this in the Azure Powershell repo over at https://github.com/azure/azure-powershell as this isn't a PowerShell issue

[2016-10-17 16:03] SteveL-MSFT opened #25 "Enable Publish-Module and Publish-Script cmdlets on PowerShell Core Edition"
_From @raghushantha on August 8, 2016 18:50_

These cmdlets in PowerShellGet module take dependency on nuget.exe which is windows full sku specific

We need to rework the logic to use Nuget Client APIs so that the publish-\* cmdlets work on CorePowerShell

_Copied from original issue: PowerShell/PowerShell#1678_

[2016-10-17 16:03] SteveL-MSFT opened #26 "Publish-Module should work in Core edition"
_From @vors on August 6, 2016 23:42_

I developed module [MarkdownLinkCheck](https://github.com/vors/MarkdownLinkCheck) fully on OS X. To my great surprise, I didn't encounter any cross-platform problems when I tested the result on inbox Windows PS version.
It's particularly remarkable, because there is a binary part (netstandard assembly) in the package, but it works fine on full framework.

Toda

[2016-10-17 16:03] SteveL-MSFT commented on #26
_From @raghushantha on August 8, 2016 18:51_

+ @bmanikm

@vors Publish-Module is written on top of Nuget.exe which works on FullCLR only.
https://github.com/PowerShell/PowerShell/issues/1294

Created a new feature task to track the porting work. Will be a post Aug 17 item:
https://github.com/PowerShell/PowerShell/issues/1678

[2016-10-17 16:03] SteveL-MSFT opened #27 "Disable older version of NuGet provider to be installed or loaded on PowerShell Core from repo."
_From @jianyunt on July 13, 2016 20:48_

As NuGet provider is a part of PowerShell Core now, it no longer requires to be bootstrapped. However, we need to disable any older version of NuGet provider to be installed or used on Core because they simply won't work on PowerShell Core alpha version..
## Steps to reproduce

find-packageprovider
install-packageprovider -name NuGet -version 2.8.5.205 -for

[2016-10-17 16:03] SteveL-MSFT opened #28 "Need to have Pester tests in place for PowerShellGet"
_From @raghushantha on July 7, 2016 16:58_

To ensure quality, PowerShellGet Pester check-in tests need to be in place.

_Copied from original issue: PowerShell/PowerShell#1308_

[2016-10-17 16:04] SteveL-MSFT opened #29 "Ensure system PATH Environment variable is updated correctly on all *nix platforms for PowerShellGet Scripts"
_From @raghushantha on July 7, 2016 16:55_

On Windows, the PATH environment variable is updated upon Script installation using PowerShellGet.

We need to ensure this happens consistently on all *nix platforms also

_Copied from original issue: PowerShell/PowerShell#1306_

[2016-10-17 16:04] SteveL-MSFT commented on #29
_From @andschwa on July 7, 2016 17:12_

@raghushantha you don't normally edit a user (or the system's) path variable on *nix platforms, you either inform the user that they need to do it, or link the executables into a well-known binary location (e.g. `/usr/bin`).

What is the nature of PowerShellGet Scripts? (Self-contained exectuables, PowerShell scripts with a shebang, etc.)

[2016-10-17 16:04] SteveL-MSFT commented on #29
_From @raghushantha on July 7, 2016 17:16_

Ref @bmanikm - owner of PowerShellGet

Here is the scenario:

[code]

[2016-10-17 16:04] SteveL-MSFT commented on #29
_From @andschwa on July 7, 2016 17:44_

Ah sweet. So as long as it's done interactively like this, it can happen. On *nix, if they say yes, you append a line to the end of their .bashrc with `PATH="$PATH:<additional path>"`. The message will want to be updated so it explicitly asks something along the lines of "Do you want installation path '...' added to your PATH in your ~/.bashrc file?" Since t

[2016-10-17 16:04] SteveL-MSFT commented on #29
_From @raghushantha on July 19, 2016 17:55_

Prompting work is not complete yet. Hence reactivating

[2016-10-17 16:04] SteveL-MSFT commented on #29
_From @raghushantha on August 10, 2016 20:56_

@bmanikm Moving this to Alpha 10 - since the change is significant - support has to be added for multiple shells to update the PATH env variable.

The workaround for now is to invoke the script using full path or use the downloaded location

[2016-10-17 16:04] SteveL-MSFT commented on #29
_From @Jaykul on August 21, 2016 19:35_

Why bother updating profiles for other shells? The scripts aren't going to work there anyway (at least, not yet, and probably not at ever, unless PowerShell is registered as a shell interpreter, **and** we convince the whole PowerShell community to put shebang lines in anything that works on Core...

Just (offer to) update PowerShell's profile, let them kno

[2016-10-17 18:17] bmanikm commented on #26
This is a duplicate of #25

[2016-10-17 18:17] #26 closed

[2016-10-17 18:59] kilasuit commented on #24
This is more an issue with the way that the Gallery and the functions both currently work with the metadata processing implementation that we currently have as there is no distinguishing within Install-Module that it's running on PSCore and therefore should only allow install modules that are built to work on PSCore and contains the right metadata.

However that is a wider issue and will require a

[2016-10-17 23:44] jianyunt opened #30 "Need to update SkipPublisherCheck error message"
Currently when a user run install-Packageprovider ContainerImage, they will get an error like below.  As SkipPublisherCheck is a PowerShellGet specific dynamic parameter, it seems to be appropriately to update the PowerShellGet error message.

For example, we may change to '...If you  want to install or update, run **install-module -SkipPublisherCheck parameter**.

install-Packageprovider : The ve

[2016-10-17 23:59] bmanikm commented on #30
@jianyunt The same error message is used for both Install-Module and Install-Package scenarios, so from the current error message user should be able to use **-SkipPublisherCheck parameter**.

[2016-10-18 00:14] bmanikm commented on #30
This should be handled in Install-Packageprovider cmdlet and provide the proper message to the user.

[2016-10-18 20:21] Velocet commented on #18
Updated the Issue with a more correct name.

[2016-10-18 20:51] #30 closed

[2016-10-18 21:33] Velocet opened #32 "Add Issue Template?"
How about adding an [Issue template](https://github.com/blog/2111-issue-and-pull-request-templates/) to this repo?

An example could look like this: #18

As a template i used the [Open Source Template](https://www.talater.com/open-source-templates/) by Tal Ater and adapted it for PowerShell.
---
# Template

[code]
---
# Example

`Verb-Noun` throws an error while processing things.
## Expected Beha

[2016-10-18 21:59] bmanikm commented on #32
Thanks @Velocet! If possible, please submit a PR with this template.

[2016-10-22 23:16] Jaykul opened #34 "Update-Module "untrusted repository" prompting is broken"
I assume that when modules are being UPDATED, they're only updated from the original source repository?  If not, why?

Not to put it too strongly, but the way that prompting happens in Update-Module is

1. **Awful**: You get prompted for every module from an untrusted repository. Not once per repository as happens when installing modules.
2. **Confusing**: You're not told which module(s) are being

[2016-10-24 23:05] bmanikm opened #35 "Cannot process argument transformation on parameter 'InstalledModuleInfo'. Cannot convert the "System.Object[]" value of type "System.Object[]" to type "System.Management.Automation.PSModuleInfo""
Install Contoso module to multiple module paths in $env:PSModulePath then install another version using Install-Module instead of Update-Module.

[code]

[2016-10-27 00:50] kilasuit opened #36 "Cannot Pipe Get-RSRepository to Set-PSRepository"
Noted from Facebook PowerShell group the Set-PSRepository command cannot be piped to from Get-PSRepository

[2016-10-27 02:04] kilasuit opened #37 "Split PSModule.psm1 to move all functions to seperate files"
This should help to make development much easier going forward - I have what I think is almost fully working that includes
- [x] Separates all functions to separate files
- [x] Renames PSModule.psm1 to PowerShellGet.psm1
- [x] Renames PSGetFormat.ps1xml to PowerShellGet.Format.ps1xml
- [x] Renames PSGet.Resource.psd1 to PowerShellGet.Resource.psd1
- [x] Updates PowerShellGet.psd1 version
- [x] Upd

[2016-10-27 16:49] bmanikm commented on #37
@kilasuit I agree, these changes will make the development much easier.

When I started this project, I tried to create separate file for each function and ran into some issues.

Here are some details.
- There are some limitations in splitting into multiple files like using the nestedmodule (siblings) functions in other nested modules (siblings).
- It is not possible to separate all functions into

[2016-10-27 22:45] yutingc opened #38 "Update-ModuleManifest wrongly quotes "Microsoft Corporation""
1. Run Update-ModuleManifest on any PSD1 file.
Notice it adds the following at the top:

Generated by: Microsoft Corporation

This is wrong. We should not quote Microsof here. We should quote saying that this manifest is autogenerated by using Update-ModulManifest cmdlet.

Also, I noticed that Update-Modulemanifest clears the comments at the top. We should fix this.
 
 
 

[2016-10-27 23:51] yutingc commented on #38
The original Update-ModuleManifest would replace the author name with "Microsoft Corporation" in the comments. This bug is fixed in the latest version of PowerShellGet.

[2016-10-27 23:51] #38 closed

[2016-10-28 20:37] HemantMahawar opened #39 "Cannot install EWS via NuGet, Ubuntu 16.04 and 14.04"
_From @jwcrawley on October 4, 2016 19:18_

Steps to reproduce
------------------
install Powershell for Linux (stock Ubuntu 14.04 or 16.04 - tested with both)
execute powershell in terminal
PS :> Install-Package Microsoft.Exchange.WebServices   (as listed https://www.nuget.org/packages/Microsoft.Exchange.WebServices/ )

Actual behavior
---------------
Install-Package : No match was found for the

[2016-10-28 20:37] HemantMahawar commented on #39
_From @andschwa on October 12, 2016 18:27_

Looks to me like package sources aren't setup. How did you add NuGet.org as a package source?

[2016-10-28 20:38] HemantMahawar opened #40 "nuget feature tests are failing in daily builds"
_From @JamesWTruher on September 26, 2016 19:44_

https://ci.appveyor.com/project/PowerShell/powershell/build/6.0.0-alpha.10-686#L6984
is an example

Steps to reproduce
------------------

observe daily build (ex: https://ci.appveyor.com/project/PowerShell/powershell/build/6.0.0-alpha.10-686)

Expected behavior
-----------------
no errors

Actual behavior
---------------
[code]
Environment data
--

[2016-10-28 20:38] HemantMahawar opened #41 "PackageManagment binaries should be installed under \Modules\PackageManagement\ folder"
_From @jianyunt on September 22, 2016 23:49_
# Problem

It is observed that PowerShell core is loading assembles from its installed folder first (e.g. PowerShell\6.0.0.10) if exists, even if ipmo with a full path.  For most cases, this behavior seems to be ok.  However for the PackageManagement, we need to allow users to update the PackageManagement via install-module.  The updated binaries will b

[2016-10-28 20:38] HemantMahawar commented on #41
_From @kilasuit on September 23, 2016 0:55_

This looks like it is the same for the other modules that are installed with v6.0.0.10 too so would need to be resolved for them as well.

[2016-10-28 20:38] HemantMahawar commented on #41
_From @daxian-dbw on September 23, 2016 19:15_

This happens because when running `Import-Module <path-to-foo.dll>`, powershell first tries to load the assembly using its short name `foo` via `Assembly.Load`, and if that fails, it turns to `LoadFrom` with the file path (https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/ExecutionContext.cs#L1376).

Therefo

[2016-10-28 20:38] HemantMahawar commented on #41
_From @daxian-dbw on September 23, 2016 19:21_

At any rate, if we want any in-box module to be update-able, then it should not leave the original set of assemblies around after it's updated. So `PackageManagement` assemblies should be placed within the module folder, at least when we package and release powershell core.

[2016-10-28 20:38] HemantMahawar commented on #41
_From @kilasuit on September 24, 2016 13:45_

see #2350 which also has this similar issue and would correct this too

[2016-10-28 20:38] HemantMahawar opened #42 "Find-Module: Can't find module providers (Mac OS X)"
_From @juneb on August 21, 2016 16:12_

This might be a user error. I'm new to Mac world. Apologies in advance if I've missed a step.

Mac OS X 10.11.6 (15G31) El Capitan
PSVersion: 6.0.0-alpha
PSEdition: Core
PowerShellGet 1.0.0.1
PackageManagement 1.0.0.1

[code]

Steps to reproduce
------------------
Find-Module

Expected behavior
-----------------
Return PSRepositoryItemInfo

Actual behavior
-

[2016-10-28 20:38] HemantMahawar commented on #42
_From @jasontayler on August 22, 2016 1:48_

you need to install .net core
Follow https://www.microsoft.com/net/core#macos

PS /Users/j> (find-module).count
943

[2016-10-28 21:02] HemantMahawar commented on #42
This issue was moved to OneGet/oneget#228

[2016-10-28 21:02] #42 closed

[2016-10-28 21:03] HemantMahawar commented on #39
This issue was moved to OneGet/oneget#229

[2016-10-28 21:03] #39 closed

[2016-10-28 21:03] HemantMahawar commented on #40
This issue was moved to OneGet/oneget#230

[2016-10-28 21:03] #40 closed

[2016-10-28 21:03] HemantMahawar commented on #41
This issue was moved to OneGet/oneget#231

[2016-10-31 20:41] ebekker opened #43 "Update-ModuleManifest isn't parsing RequiredModules correctly"
When I try to use Update-ModuleManifest to update the module version, it fails complaining about the format of my `RequiredModules` element.  This may be a problem only with PowerShell v5.1, because I don't run into this issue on my local PowerShell 5.0 environment.

An example of this can be seen at:  https://ci.appveyor.com/project/ebekker/acmesharp/build/0.8.5.244#L2595

I've tried it using the

[2016-10-31 20:44] ebekker commented on #43
You can reproduce this problem with just a couple steps:
[code]

[2016-10-31 22:35] bmanikm commented on #43
@ebekker
There are some improvements in Test-ModuleManifest cmdlet on PowerShell v5.1.
From the error message, it looks like ACMESharp module is not available on your local machine under any of the module paths specified in $env:PSModulePath .

Ensure that **Test-ModuleManifest -Path .\foo.psd1** works fine before using the Update-ModuleManifest cmdlet.

[2016-11-01 00:59] #43 closed

[2016-11-02 17:13] rufer7 opened #45 "DefaultCommandPrefix not honoured by Test-ModuleManifest Cmdlet"
Rebecca Roenitz suggested to open a bug on this project for the following problem.

We received the following mail from PowerShell Gallery after the last release of our PowerShell module `biz.dfch.PS.Appclusive.Client`:

 may override the existing commands. If you still want to install this module 'biz.dfch.PS.Appclusive.Client', use -AllowClobber parameter.

We are aware of the fact, that the Cmd

[2016-11-02 18:25] #28 closed

[2016-11-02 18:32] #27 closed

[2016-11-02 21:13] HemantMahawar commented on #41
Leave a comment

[2016-11-02 21:13] #41 closed

[2016-11-03 13:11] ebekker commented on #43
Thanks -- this fixed the issue once I resolved the availability issue.

[2016-11-03 23:08] jianyunt opened #47 "Publish-Module and Authenticated Feeds"
_From @whatatripp on July 6, 2016 15:39_

Our customers seem to have a lot of issues with Publish-Module when they use authenticated feeds.

Windows Integrated Authentication doesn't work at all (the 401/challenge isn't recognized), and trying to use ProGet's "name:pass" convention as the API key for doesn't work, because OneGet/PowerShellGet/something is encoding the ":" and non-alpha characters

[2016-11-03 23:08] jianyunt opened #48 "Update-ScriptInfo requires non-mandatory parameters"
_From @DouglasPlumley on June 2, 2016 20:55_

PS version 5.0.10586.122, PowerShellGet version 1.0.0.1.

Whenever I try to update the script information in a ps1 file that already has the information I'm unable to proceed if I don't provide arguments to non-mandatory parameters.

[code]

This appears to be happening for all parameters, I've highlighted Copyright and ExternalModuleDependencies.

[co

[2016-11-03 23:08] jianyunt commented on #48
_From @bmanikm on June 27, 2016 21:14_

@DouglasPlumley, Yes, this is a known issue and got fixed in the newer releases of Windows.

[2016-11-03 23:08] jianyunt commented on #48
_From @DouglasPlumley on June 28, 2016 12:1_

@bmanikm I'm in Win 10 Version 1511 Build 10586.420 but don't have the fix, do you know at what build number this started being included?

Thanks!

[2016-11-03 23:08] jianyunt commented on #48
_From @bmanikm on June 28, 2016 21:54_

@DouglasPlumley, The fix is available in Windows Server 2016 Technical Preview 5 release.
We are also planning to release the latest version of PowerShellGet module to the PowerShellGallery.com.

[2016-11-03 23:08] jianyunt opened #49 "OneGet team should work with PSScriptAnalyzer team to show report cards to authors and users"
_From @KirkMunro on February 2, 2016 21:21_

I wanted to share this issue because this really needs buy-in from both PSScriptAnalyzer and OneGet.  See here: https://github.com/PowerShell/PSScriptAnalyzer/issues/436

_Copied from original issue: OneGet/oneget#168_

[2016-11-03 23:09] jianyunt opened #50 "Publish-Module doesn't seem to publish help"
_From @heaths on November 2, 2015 22:32_

I have a help file in my module named something like _mydll_.dll-help.xml and it works fine when in the module directory; however, after running `publish-module` it seems that file wasn't packaged and pulled down later with `install-module`. The file is listed in the module manifest in the `FileList` property.

See the 'msi' module in the gallery if you wa

[2016-11-03 23:09] jianyunt commented on #50
_From @heaths on November 25, 2015 1:16_

Upon further investigation, piping a `PSModuleInfo` object to `Publish-Module` actually binds to the `Name` parameter, which causes `Publish-Module` to look up the module, which in my case didn't have the help XML because the original uploaded module didn't have it.

When using the `Path` parameter, there is a bug that assumes that the parent directory nam

[2016-11-03 23:09] jianyunt commented on #50
_From @quoctruong on November 25, 2015 4:53_

Hi heaths, thanks for investigating the bugs. I will point this out to the owner of the PowerShellGet module (this repository is mostly for PackageManagement work, we don't have a repository for PowerShellGet yet).

[2016-11-03 23:09] jianyunt opened #51 "Publish-Module keeps reporting it can't build the NuGet package"
_From @heaths on August 15, 2015 16:54_

Whenever I try to run `publish-module` on a valid module with strong-named signed assemblies, I get various errors. First it was reporting that Find-Module couldn't find my module (well, yeah - I was trying to publish the first version). If I modified _psget.psm1_ to ignore that error, later I was getting errors on line 2880 of _psget.psm1_ (on Win10 RTM).

[2016-11-03 23:09] jianyunt commented on #51
_From @Jaykul on August 16, 2015 6:45_

Is your module code posted anywhere? ;-)

It sounds like you may have a problem with your module manifest (.psd1) -- do you have anything in RequiredModules (or NestedModules)?

For what it's worth, the nuget that PackageManagement (aka OneGet) is using is stored in AppData\Local\PackageManagement\ProviderAssemblies and it's v2.8.5.21 (at least on my box).

[2016-11-03 23:09] jianyunt commented on #51
_From @heaths on August 17, 2015 9:8_

It's the "msi" module on powershellgallery.com.

Thanks for the tip about Connect. I wasn't sure who owned it, and saw a PowerShellGet directory in the OneGet sources so thought maybe they had taken it over.

[2016-11-03 23:09] jianyunt commented on #51
_From @heaths on August 17, 2015 9:11_

Just as a follow up, posted to https://connect.microsoft.com/PowerShell/feedbackdetail/view/1678384/publish-module-keeps-reporting-it-cant-build-the-nuget-package.

[2016-11-04 01:30] bmanikm commented on #51
@heaths Please verify this issue with the latest version of PowerShellGet from the PSGallery.
Reopen this if reported issue is not resolved.

[2016-11-04 01:30] #51 closed

[2016-11-04 01:34] bmanikm commented on #48
This is fixed in the latest version of PowerShellGet.

[2016-11-04 01:34] #48 closed

[2016-11-04 01:40] bmanikm commented on #47
As mentioned in http://inedo.com/support/questions/4964 latest version of PowerShellGet has support for authenticated feeds.

[2016-11-04 01:40] #47 closed

[2016-11-04 05:51] bmanikm opened #52 "Add support for installing the catalog signed modules on downlevel PS versions."
PowerShellGet support catalog signed module verification during install and update operations on PowerShell Version 5.1 or newer.

Test-FileCatalog cmdlet is not available on PowerShell Versions 5.0 and lower versions.

Options:
      - Ensure the Microsoft.PowerShell.Security module gets published to the PSGallery. Add Microsoft.PowerShell.Security module as a dependency. OR
      - Add Test-File

[2016-11-04 05:56] bmanikm opened #53 "Add PSPath alias to LiteralPath parameter and also ValueFromPipeline =$false, ValueFromPipelineByPropertyName = $true for -Path and -LiteralPath parameters."
Add PSPath alias to LiteralPath parameter and also set ValueFromPipeline =$false, ValueFromPipelineByPropertyName = $true for -Path and -LiteralPath parameters of PowerShellGet cmdlets.

[2016-11-04 06:04] bmanikm opened #54 "piping moduleinfo to uninstall-module should uninstall the version of the module you piped in"
## Workaround
[code]
## Repro Frequency

100%

## Repro Steps
[code]

## Expected

It should attempt to uninstall the module I pipe to the cmdlet

## Actual

It tries to uninstall the most recent module

[2016-11-04 06:07] bmanikm opened #55 "Add a warning message or update the verbose message when a module or its dependencies are already installed"
Add a warning message or update the verbose message when a module or its dependencies are already installed

## Current
We write a verbose message when a module or its dependencies are already installed.

[2016-11-04 06:11] bmanikm commented on #32
Added issue template in PR #44.

[2016-11-04 06:11] #32 closed

[2016-11-04 06:12] bmanikm commented on #35
Fixed in PR #44.

[2016-11-04 06:12] #35 closed

[2016-11-04 18:11] SteveL-MSFT opened #56 "Unable to find module providers (PowerShellGet) on Linux"
_From @shaolinint on November 4, 2016 8:21_

Expected behavior
-----------------
Successfully install psscriptanalyzer module

Actual behavior
---------------
**Failed to install the selected module. Error below:**
[code]

Environment data
----------------
[code]

_Copied from original issue: PowerShell/PowerShell#2614_

[2016-11-04 22:44] bmanikm commented on #56
@shaolinint This issue got fixed with [the latest version of PowerShellGet](
https://www.powershellgallery.com/packages/PowerShellGet).

[2016-11-04 22:44] #56 closed

[2016-11-08 16:52] tenortim commented on #23
This also prevents running the vmware/powercli Docker code as supplied because the CEIP code
hits this same backtrace:

[code]

[2016-11-08 19:19] bmanikm commented on #23
@tenortim Could you please let us know why your back trace is related to this issue in Find-Module cmdlet? Do you know whether CEIP is using Find-Module cmdlet? from the back trace **System.Net.NetworkInformation.NetworkInterface.GetAllNetworkInterfaces()**, your reported issue is not related to the Find-Module cmdlet or PowerShellGet module.

[2016-11-08 23:49] tenortim commented on #23
Hi @bmanikm,
in both cases, the exception/crash is identical:
Access to the path '/sys/class/net/lo/operstate' is denied. ---> System.IO.IOException: Permission denied
and it's being called from the same routine: System.IO.UnixFileStream.CheckFileCall

In both cases, the stacks are identical all the way back to  System.Net.NetworkInformation.LinuxNetworkInterface.GetLinuxNetworkInterfaces()

The b

[2016-11-09 21:14] bmanikm commented on #23
This is happening due to https://github.com/dotnet/corefx/issues/12969.

[2016-11-09 21:14] #23 closed

[2016-11-09 22:10] tewgup commented on #56
I'm using PowerShell on centOS 7 and I've got the problem when install module as follows:

PS /home/OneDrive/scripts> Install-Module -Name OneDrive -Scope CurrentUser
PackageManagement\Install-Package : Unable to find module providers (PowerShellGet).
At /home/OneDrive/PowerShellGet/PowerShellGet/PSModule.psm1:1809 char:21
+ ...          $null = PackageManagement\Install-Package @PSBoundParameters

[2016-11-10 00:01] bmanikm commented on #56
@tewgup Could you please try after installing the latest version of PowerShellGet from PSGallery? Use below command to update the PowerShellGet module:
- Launch PowerShell with Sudo permissions
[code]

[2016-11-10 01:04] bmanikm commented on #37
@JKeithB, @KrishnaV-MSFT Please take a look at this proposal. This is has a servicing impact for the inbox release if we rename and create new files.

[2016-11-10 01:44] tewgup commented on #56
I was trying to install the latest version from PowerShell Gallery but got the error.

PS /home/tew> Install-Module -Name PowerShellGet -Force
PackageManagement\Install-Package : Unable to find module providers
(PowerShellGet).
At /opt/microsoft/powershell/6.0.0-alpha.12/Modules/PowerShellGet/PSModule.psm1
:1823 char:21
+ ...          $null = PackageManagement\Install-Package @PSBoundParameters
+

[2016-11-10 21:18] bmanikm commented on #56
PackageManagement module is completely broken on non-Windows platforms in Alpha12 release. Please use the Alpha11 release. OneGet/oneget#239

[2016-11-11 16:50] tewgup commented on #56
Thanks for your supporting. I can install OneDrive Module now but there is another problem when used "Get-Command -Module OneDrive", there came out **nothing on CentOS 7** compare to Windows.

For example I got list of commands on Windows as follows:
PS C:\Users\Admin> Get-Command -Module OneDrive

CommandType     Name                                               Version    Source
-----------

[2016-11-11 19:12] bmanikm commented on #56
Hi @tewgup , could you please provide the output of following on **CentOS 7** to understand the issue?
[code]

[2016-11-11 20:26] tewgup commented on #56
Please find the output attached.

[output.pdf](https://github.com/PowerShell/PowerShellGet/files/586707/output.pdf)

[2016-11-11 22:33] bmanikm commented on #56
It looks like OneDrive is not compatible for non-Windows platforms.

[code]

Refer below URLs to find the compatible modules:
https://msdn.microsoft.com/en-us/powershell/gallery/psget/module/modulewithpseditionsupport
https://msdn.microsoft.com/en-us/powershell/gallery/psgallery/psgallery_pseditions

[2016-11-15 01:04] bmanikm opened #57 "Need update notification for installed modules and scripts"
- Show toast notification for newer version of module in the gallery, if an older version of that module is installed on the system.
- Notification should be enabled on all supported Platforms and PowerShell versions.
- Registration can be at individual item level or for all installed modules/scripts.

[2016-11-15 01:08] bmanikm opened #58 "Add commands for registering a commandnotfound hook to find, install the missing commands"
Add new commands to allow the users to register/unregister the commandnotfound hook to find and install the missing commands from PSGallery.

[2016-11-17 18:56] mmaitre314 opened #59 "Enable Non-PAT based authentication with VSTS PackageManagement feeds"
Is it possible to host PowerShell modules in VSTS Nuget repoes?

I hit two issues trying to do that:
- VSTS uses Nuget V3 instead of V2 (ex: https://xxx.pkgs.visualstudio.com/_packaging/yyy/nuget/v3/index.json)
- VSTS requires user authentication

[2016-11-17 21:11] cpolydorou opened #60 "Publish-Module does not work against repository with basic authentication"
When using a nuget server repository with basic authentication to publish a module the command fails with exception:

Publish-PSArtifactUtility : Failed to publish module '*******': 'Cannot prompt for input in non-interactive mode
.
'.
At C:\Users\admin\Desktop\PowershellGet\PowerShellGet\PSModule.psm1:1227 char:17
+                 Publish-PSArtifactUtility -PSModuleInfo $moduleInfo `
+

[2016-11-17 21:12] bmanikm commented on #59
@mmaitre314
- Yes, you can host the PowerShell modules in a VSTS PackageManagement feeds.
- VSTS PackageManagement also provides the NuGet v2 based URL. [More details](https://www.visualstudio.com/en-us/docs/package/nuget/nuget-2x
)
- NuGet V2 Source location is https://xxx.pkgs.visualstudio.com/_packaging/yyy/nuget/v2/
- You will have to use the -Credential parameter on PowerShellGet cmdlets to w

[2016-11-17 21:31] bmanikm commented on #60
@cpolydorou your authenticated feed needs to be registered with NuGet.exe with credentials to publish.

[2016-11-17 21:55] maitre-matt commented on #59
Thanks! I could not get authentication to work:

[code]

The Uri looks correct (opens in browser), so I assume the error is actually due to auth failing. In VSTS docs I see PATs mentioned for auth with Nuget v2 instead of regular AAD user auth. Is that the only option? I don't mind using PATs to publish modules, but for my users that want to consume modules this is a non starter.

[2016-11-17 22:28] cpolydorou commented on #60
Hi bmanikm,

Shouldn't this be covered by the -Credential parameter?

[2016-11-17 23:05] mmaitre314 commented on #59
Per offline discussion, VSTS PackageManagement feed authentication is not working in PowerShellGet without PAT tokens.

[2016-11-17 23:15] bmanikm commented on #60
@cpolydorou
- By default NuGet.exe prompts for the username and password for authenticated feeds during Push operation.
- And there is no option for providing the username and password as an input during push operation.
- If authenticated feed is added to the NuGet sources list with username and password, it wont prompt for username and password during Push operation.

[code]

[2016-11-18 08:31] HemantMahawar opened #61 "Unexpected behavior (usability) in Register-PSRepository"
_From @WernerMairl on November 18, 2016 8:27_

Hi
Working with Register-PSRepository i have found some behavior that was really unexpected.
Probably we are not talking about bugs but about usability....

1. Repository uniqueness
All the functions around PSRepository (Get, Register, Unregister) are using the Name Property/Argument to identify a Repo.

Seeing this API-Surface i'm assuming that the p

[2016-11-18 12:22] WernerMairl commented on #61
Result of some investigation:

- Verified with v1.1.1.0 of PackageManagement AND PowershellGet!
- after reading some sourcecode i can image that the "problem" is cased by the NuGet-Provider and not by PackageManagement/PowershellGet
(https://github.com/OneGet/NuGetProvider/blob/5bf937d437c5a648d516134af75b7dc7e49fe8e4/NugetLightProvider.cs, Line 290-293)

here a small sample that shows the behavio

[2016-11-19 10:02] cpolydorou commented on #60
@bmanikm

I'm not quite sure I follow...

Let's say that I register the feed with nuget.exe using the credentials. This source will not be available as a Powershell repository, how am I going to publish using the Publish-Module command?

[2016-11-19 10:22] cpolydorou commented on #60
Moreover, at the module's page on the gallery ([https://www.powershellgallery.com/packages/PowerShellGet/1.1.1.0](url)), under the release notes of version 1.1.1.0 it is stated that this version supports authenticated feeds. What kind of authentication is supported?

[2016-11-20 06:33] WernerMairl opened #62 "Q: Intended behavior for Parameters "-Force" "-Confirm" in Install-PackageProvider (and others)"
Hi
Please help me to understand the intended behavior for -Force and -Confirm!

My Usecase: "Install-PackageProvider"
Requirements:
1. ensure a certain minimumversion of a provider (-MinimumVersion)
2. no confirmation dialog needed (assuming answer YES) (-Confirmation:$false)
  - not for trust in download source
  - not for overriding existing version
3. No Download/install needed if just installe

[2016-11-20 08:03] WernerMairl opened #63 ""Get-PackageProvider" API surface improvements (Feature Request)"
## Summary
PackageProvider are versioned/have versions.

Cmdlets like "Install-PackageProvider" have a lot of  version features (MinVerion,MaxVersion, requiredversion)

Get-PackageProvider has NO XXXVersion Arguments!

## Expected Behavior
the user should be able to verify if a CERTAIN version of provider is installed or not

## Current Behavior
Get-PackageProvider returns the installed version. t

[2016-11-21 12:29] cawoodm opened #64 "Find-Module with no NuGet Provider - Unreadable Message Dialog"
I wanted to use the PowerShell Gallery so I downloaded the PowerShellGet MSI and installed it. However, when running Find-Module I get an unreadable message box.

![21 11](https://cloud.githubusercontent.com/assets/498834/20482732/831f6e36-afee-11e6-9e25-adbcbe9a3238.png)

You might wanna text wrap that.

## Your Environment
[code]

[2016-11-21 22:11] pcgeek86 commented on #25
Any thoughts on prioritization for this? Would love to see the ability to publish modules from PowerShell Core. @bmanikm @SteveL-MSFT

[2016-11-25 05:48] WernerMairl commented on #62
A good discussion about the same PS-Guidelines/Pattern Problem from the Azure-PS team:

https://github.com/Azure/azure-powershell/issues/475

[2016-12-06 19:01] dotps1 opened #76 "SourceLocation and ScriptSourceLocation must be different URI's"
## Expected Behavior

Right now you you cannot set the SourceLocation (modules) and the ScriptSourceLocation (scripts) to the same URI/Feed with Register/Set-PSRepository, and I'm not sure why.  I have a ProGet Server set up in house, with two NuGet feeds, one hosting modules, one hosting scripts.  But, if a script requires a module in the module feed, how is it supposed to find that?  The setup f

[2016-12-06 21:04] dotps1 commented on #76
I notice when you do `New-ScriptFileInfo` there is
[code]
but no `.REQUIREDMODULES` metadata attribute.  Maybe for a solution, that could be included, and the when `Install-Script` is used, it can look at that metadata field, and it would look at the `SourceLocation` value from whatever PSRepository was used to install the script.  that would allow you to have an internal repo with 2 feeds, one fo

[2016-12-20 04:56] Jaykul opened #78 "Update-Module doesn't check all modules when not elevated"
When a user runs `Update-Module` from a non-elevated host, it only checks modules in the `-Scope CurrentUser` folder (i.e. in your `Documents\WindowsPowerShell\Modules`, not the `Program Files` folder).

This means that there's no built-in way for a (non-elevated) user to even check that **all** of their modules are up to date.

## Expected Behavior

Even when running in a **non-elevated** host, `

[2016-12-20 06:25] matt-richardson opened #79 "Exception calling "ShouldContinue" with "2" argument(s): "Windows PowerShell is in NonInteractive mode. Read and Prompt functionality is not available.""
If spent the last few days banging my head against the wall, trying to get `Publish-Module` to work from under a TeamCity build. I've installed WMF5, downloaded nuget to `C:\ProgramData\Microsoft\Windows\PowerShell\PowerShellGet\NuGet.exe`, but still getting an error:
[code]

I'm using version 1.0.0.1 of PowershellGet and PackageManagement.
[code]

Oddly enough, on my local machine, running the sa

[2016-12-20 06:28] matt-richardson commented on #79
Turns out adding a `Install-PackageProvider nuget -force` makes it work.

Keeping it open as it the exception message should be improved for this scenario.

[2016-12-20 07:29] apetitjean opened #80 "PSGet broken on my Mac - PSCore up to alpha14"
PowerShellGet (with PSCore alpha11, 12, 14) never worked on my MacOS (10.12).

Is it because of my locale which is Fr-fr?

## Expected Behavior

## Current Behavior

Tryed on Alpha14 and previous versions without installing or updating additional modules and it never worked.

There's no package source registered, nor repositories. So PowerShell is not able to find or install any module from the Po

[2016-12-20 18:56] bmanikm commented on #80
@apetitjean As you mentioned in the PSMVP discussion list, this issue was happening due to broken OpenSSL on your Mac.

If anyone encounter this issue, please run below on your Mac:
**xcode-select --install
brew install openssl**

[2016-12-20 18:56] #80 closed

[2016-12-20 19:16] bmanikm commented on #79
@matt-richardson
The above mentioned error message is returned by the PowerShell runtime. This is an expected error in non-interactive mode when you don't have the pre-requisites installed like NuGet provider and/or NuGet.exe. Please update the Expected Behavior with expected message you would like to get in this scenario.

[2016-12-20 20:03] NReilingh opened #81 "Install-Script -Scope CurrentUser PATH changes should not require a reboot for new PS processes"
When running Install-Script with a -Scope of CurrentUser, psget checks to make sure that the user's Documents\WindowsPowerShell\Scripts folder is in the PATH, and if it's not, offers to add it.

## Expected Behavior
Since the user is installing a script with powershellget, they should assume that being prompted about a change to their path enabling them to easily run the script will be permanent a

[2016-12-20 21:53] matt-richardson commented on #79
Can you tell me why `-force` is available locally, but not on the build agent?

[2016-12-20 21:58] matt-richardson commented on #79
I've updated the Expected Behaviour, but not sure its a great idea to get someone who knows very little about how this all works together to design the error messages.

[2016-12-20 23:34] bmanikm commented on #79
Thanks @matt-Richardson !
Your build agent might be having the PowerShellGet module from previous releases.
Please work with your 'Team City' team to have the latest version of PowerShellGet module from the PowerShell Gallery.  [Get the latest version from PowerShell Gallery](https://github.com/powerShell/powershellget#get-the-latest-version-from-powershell-gallery)

[2016-12-20 23:55] bmanikm commented on #81
@NReilingh Please take a look at the [Install-Script documentation](https://msdn.microsoft.com/en-us/powershell/gallery/psget/script/psget_install-script) to understand more on the prompt for updating the PATH environment variable.

Please provide more details to consistently repro this issue.
Can you provide the output of following commands from a new PS Console on your machine?

[code]

[2016-12-21 05:38] NReilingh commented on #81
@bmanikm Thank you for the tips on reproducing this. I experienced the issue on a different machine earlier today. The machine I'm on now _should_ be on the same versions, but the behavior here is as expected. I'll need to try to reproduce on the first machine tomorrow.

As a side issue, I have noticed that all of the existing PATH settings on my system are of the form `C:\Path\To\Folder;`, with t

[2016-12-21 06:07] NReilingh commented on #81
Whoa! I spoke too soon. The issue is affecting me on this machine after all. I must have been testing without actually creating a new process session.

It seems the issue actually IS relating to the placement of the semicolon. When I reproduced the issue just now, the Install-Script cmdlet did append to the User path with a prefixed semicolon. But, when I started a new PowerShell session, this loc

[2016-12-21 18:47] NReilingh commented on #81
https://github.com/PowerShell/PowerShellGet/blob/development/PowerShellGet/PSModule.psm1#L6601

Looks like that's the problematic line.

[code]
should be
[code]
or perhaps
[code]

[2016-12-21 19:12] matt-richardson commented on #79
Both my local packages and the ones on the build agents have version `1.0.0.1`. One has the `-force` parameter, and one doesn't. Are there multiple different versions out there with the same version number?

[2016-12-21 20:19] bmanikm commented on #1
Fixed in https://github.com/PowerShell/PowerShellGet/pull/82

[2016-12-21 20:19] #1 closed

[2016-12-21 20:25] bmanikm commented on #79
Inbox version of PowerShellGet module is 1.0.0.1 in WMF 5.0/5.1, Windows 10 and Windows Server 2016 releases. Version of inbox release is not changed to ensure that Windows Servicing/Updates work fine. In future, we would like resolve this versioning issue for inbox release.

[2016-12-21 20:54] bmanikm commented on #81
@NReilingh Could you please elaborate on why ';;' in PATH value is causing the issue? Windows should ignore the empty entries in PATH value.

What is your OS?

Can you please provide the output of following commands from a new PS Console on your machine?

[code]

Now open a new PS Console and get the output of following commands.

[code]

[2016-12-22 02:33] NReilingh commented on #81
@bmanikm The output of those commands is included in the transcripts I attached to my previous message.

I figured it out. The issue is that the way PSGet is currently editing the User's PATH is by [editing the registry directly with Set-ItemProperty](https://github.com/PowerShell/PowerShellGet/blob/development/PowerShellGet/PSModule.psm1#L12086). When done in this way, this updated value does not

[2016-12-22 10:41] kilasuit commented on #79
@matt-richardson - There were alot of changes made between the initial 1.0.0.1 version of PowerShellGet that was released in the Windows 10 RTM (& WMF 5) and the 1.0.0.1 version of PowerShellGet that was in the Anniversary Edition of Windows 10 (which has WMF 5.1). One of the many changes was to include the -Force parameter.

Even though I noticed this and brought it up via the MVP distribution li

[2016-12-22 20:58] bmanikm commented on #81
@NReilingh, thanks for providing more details to repro this issue.

Please note that [Environment.SetEnvironmentVariable Method (String, String, EnvironmentVariableTarget)](https://msdn.microsoft.com/en-us/library/96xafkes(v=vs.110).aspx) is not available in CoreCLR.

**Could you please run the below utility function after installing a script with your repro environment and let me know whether the

[2017-01-01 19:42] matt-richardson commented on #79
Thanks for the detailed response, @kilasuit. Shame that it happened that way.
I've managed to get it all working now, so dont need that script - thanks.

[2017-01-05 17:53] juneb opened #83 "Document the PSRepositoryInfo class"
MSDN has no documentation of the PSRepositoryInfo class. It would be really useful to understand the object and its NoteProperties.

[2017-01-05 17:57] juneb opened #84 "Add Class key to Includes hashtable"
The PSRepositoryInfo object has an Includes hashtable with keys for the types of commands and resources in a module.

Please add a Class key for classes defined in the root module or ScriptsToProcess script that can be exported into the user's session.

[code]

[2017-01-06 00:45] bmanikm commented on #84
@juneb PowerShellGet needs to work on PS 3.0 or newer. Classes feature got added in PS 5.0.

[2017-01-06 00:47] juneb commented on #84
If there are no classes defined in the script or module, the value Classes value would be null. This shouldn't create any problems for older versions of PowerShell.

[2017-01-06 00:51] bmanikm commented on #84
@juneb Could you please update the issue with more details as mentioned in the [issue template]( https://github.com/PowerShell/PowerShellGet/blob/development/.github/ISSUE_TEMPLATE.md)?

[2017-01-06 02:20] juneb commented on #84
Sure. It's a feature request, not a bug. :)

Expected Behavior
If my module or script defines classes, I would like them to be discoverable before installing or importing, such as in the Includes hash table. Currently, the Includes hash table has keys for functions and DSCResources, but not for classes.

Current Behavior
[code]

Possible Solution
Add a Class key to the Includes hash table:

[code]

[2017-01-06 05:31] beeleebow opened #85 "Publish-Module with -Path requires directory and cannot use path to manifest file (*.psd1)"
The [documentation ](https://msdn.microsoft.com/en-us/powershell/reference/5.0/powershellget/publish-module) for the Publish-Module cmdlet has the following to say about the -Path parameter:

I have not been able to get this working with a full path to a manifest file. This manifest file lives in a directory that does not match the PowerShell Module name, e.g. /foodirectory/bar.psd1.

## Expected

[2017-01-06 05:31] beeleebow opened #593 "Publish-Module with -Path requires directory and cannot use path to manifest file (*.psd1)"
The [documentation ](https://msdn.microsoft.com/en-us/powershell/reference/5.0/powershellget/publish-module) for the Publish-Module cmdlet has the following to say about the -Path parameter:

I have not been able to get this working with a full path to a manifest file. This manifest file lives in a directory that does not match the PowerShell Module name, e.g. /foodirectory/bar.psd1.

## Expected

[2017-01-06 23:22] bmanikm commented on #85
@beeleebow This is a documentation issue. Module manifest file is not supported as you may have other (confidential) files under the directory where the module manifest is located. Supporting the module manifest file path can upload the whole base directory and sometimes it can have the proprietary files.

Regarding your context: Please take a look at the other projects in [TeamCity CI](https://bu

[2017-01-17 20:55] JohnWintellect opened #87 "Publish-Module failure "Publish-PSArtifactUtility : The property 'Count' cannot be found on this object."
Attempting to publish a module fails with the error in the title. I have tried with PowerShellGet 1.1.2.0 on multiple machines and I get the same error. I'm still exploring if there is a work around and will include additional info as I figure out more.

## Expected Behavior
I would expect my module to be published.

## Current Behavior
[code]

## Possible Solution
Still experimenting as to possib

[2017-01-17 21:07] JohnWintellect commented on #87
Here's some additional findings:

In my .psd1 file, I had `CmdletsToExport = '@()`' because the PSSCriptAnalyzer reported that my original setting of `CmdletsToExport = '*'` was a warning. When I commented out the line, I got a little further and now it's not liking spaces in my tag
[code]
The above line is the issue! I guess you shouldn't be reporting an empty array on PSD1 files.

[2017-01-17 21:43] bmanikm commented on #87
@JohnWintellect
Please note the single quotes around `@()` in your module manifest file.
`CmdletsToExport = '@()'` should be `CmdletsToExport = @()`.

[2017-01-17 21:50] JohnWintellect commented on #87
Thanks! Yes, that is true. However, I would vote for a better error message that would point to the cause a little more directly. :)

[2017-01-17 21:58] bmanikm commented on #87
@JohnWintellect This should be handled in Test-ModuleManifest cmdlet. Do you agree?

[2017-01-17 22:01] JohnWintellect commented on #87
Yes! That's an excellent idea. Also, changing the PSSCriptAnalyzer rule that told me to change '*' to '@()' would be good too.

[2017-01-17 22:04] bmanikm commented on #87
@kapilmb @chunqingchen Could you please take a look at this and open corresponding issues in your GitHub repositories?

[2017-01-19 06:06] chunqingchen commented on #87
for the test-modulemanifest part, i have created issue:
Adding '@()' check in test-modulemanifest #3016 track this

[2017-01-19 16:05] godefroi opened #88 "Publish-Module fails when ModuleVersion isn't in X.Y.Z format"
Publish-Module fails when ModuleVersion (in the psd1 file) isn't in X.Y.Z format, and the error message is completely unhelpful (`File does not exist`). The original version of PowerShellGet (1.0.0.1) fails, and the latest release on the PS gallery (1.1.2.0) fails as well, in exactly the same way (though the line number is different).

[code]

## Expected Behavior
The publish either succeeds, or f

[2017-01-19 22:37] bmanikm commented on #88
@godefroi
What value did you specify as ModuleVersion in the module manifest to repro this issue? Have you used the New-ModuleManifest or manually created it?
How did you bootstrap the NuGet.exe?

[2017-01-20 15:15] godefroi commented on #88
The ModuleVersion was originally '1.0', which was what was automatically created for me when I ran `New-ModuleManifest`. I changed it to '1.0.0', and the issue went away. Changing the version number to '1' caused the command to fail with a different, only-slightly-less-unhelpful error message.

I didn't manually do anything to "bootstrap" the "NuGet.exe", unless you count downloading it and puttin

[2017-01-20 18:50] bmanikm commented on #88
@godefroi I am unable to repro it. Could you please provide the consistent repro steps?

Also please provide the output of following script.

[code]

[2017-01-20 19:46] godefroi commented on #88
My NuGet.exe is in C:\Users\myuser\Utils\NuGet.exe and is version 3.5.0.1996. Neither of your first two commands returned any output.

I checked again, and if the ModuleVersion is `1.0` it fails, and if ModuleVersion is `1.0.0`, it succeeds.

[code]

[2017-01-20 19:58] godefroi commented on #88
This script is just about the cleanest reproduction I can manage:

[code]

[2017-01-25 12:46] dotps1 commented on #76
so, any plans on a fix for this?  or a work around?  its getting harder and harder to use PowerShellGet in an internal production environment when you have scripts that count on internal modules.  We either need to have them in the same feed, or have a way to specify alternate feeds in the ScriptInfo as to where the modules are located.

[2017-01-25 20:01] bmanikm commented on #76
@dotps1
Using the same web-based endpoint for both modules and scripts is not a supported scenario. Please feel free to add the required functionality/enhancement in PowerShellGet for your internal production environment.  Please note that adding additional tag based search for web-based repository  for both scripts and modules with different search criteria is not performant.

Workaround 1: Same

[2017-01-25 20:07] dotps1 commented on #76
But you cannot supply the same values from `SourceLocation` and `ScriptSourceLocation` i pasted the error in the original post.  If i could do that,  i would just do that, and set them as the same single NuGet feed.

[2017-01-25 22:38] bmanikm commented on #76
Please note the difference in location values with difference in ending '\\'. Which will help you in registering.

**Workaround 3**: Take a look at the test utility function
https://github.com/PowerShell/PowerShellGet/blob/development/Tests/PSGetTestUtils.psm1#L905

[2017-01-26 12:36] dotps1 commented on #76
i have to ask though, if you can get around the check for using the same URLs with just a trailing `/` then what is the purpose of the check?

[2017-01-26 20:14] bmanikm commented on #76
Yes, that is a known issue.

[2017-01-27 19:06] JKeithB opened #89 "New-FileCatalog -Whatif creates 0-byte .cat file"
Using -Whatif with new-filecatalog creates a 0-byte .CAT file.

## Expected Behavior
Expected behavior is that -Whatif should have no impact on the system, so that removing -Whatif and replaying the command will succeed.

## Current Behavior
Current behavior prevents replaying the command without -Whatif because the 0-byte .Cat file is present.
That file cannot be over-written without adding .Forc

[2017-01-27 20:33] bmanikm commented on #89
@JKeithB New-FileCatalog cmdlet is part of PS/PS repo. Please move this issue to PS/PS repo.

[2017-01-27 20:33] #89 closed

[2017-01-28 02:19] NReilingh commented on #81
@bmanikm Sorry for the long wait -- I finally got a chance to test this as I was setting up a fresh machine. It works as advertised on Windows 10 Pro!

[2017-02-04 19:30] gregdegruy commented on #24
Just want to point out following the steps [here](https://blogs.technet.microsoft.com/jessicadeen/azure/getting-started-with-powershell-core-and-azurerm-modules-on-ubuntu-and-os-x/) and THEN AFTER using the steps from @SteveL-MSFT  SteveL-MSFT commented on Oct 17, 2016:

[code]

Worked for me, will see if any bugs arise while I play around.

[2017-02-16 23:33] JKeithB opened #90 "No retry of network connection if use -repository psgallery"
Using any of the PowerShellGet cmdlets, if -Repository PSGallery is specified and is unavailable due to network or similar issues, user must use a new console session for the command to succeed.

I was having networking issues could not reach the PowerShell Gallery using Find-Module from PowerShellGet v1.1.2.0. I specified -Repository PSGallery because I test with other galleries.

I received the

[2017-02-17 15:30] Glober777 opened #91 "Publish-Module failure to publish a module to a Package Manager hosted in VSTS"
When I try to publish a PowerShell module to a Package Manager hosted in VSTS I'm getting the following error:
Publish-PSArtifactUtility : Failed to publish module 'MSTrueUp': 'Credential plugin C:\ProgramData\Microsoft\Windows\PowerShell\PowerShellGet\CredentialProvider.VSS.exe handles this request, but is unable to provide credentials. Auth tokens could not be retrieved. Remove the -NonInteracti

[2017-02-18 07:50] kilasuit commented on #91
I have a semi-working version that does publish to VSTS feeds though I need to clean it up a bit as it was a PoC and am planning on working on this more over the weekend.

@bmanikm @JKeithB - I do need to discuss this further with you both in a lot of detail as I think that this kinda links in with at least the following issues #37 #60 #59 #13 and would help in solving some of the rest too

[2017-02-21 14:01] dotps1 opened #92 "Give some way to configure psrepos via GPO"
We use an internal NuGet feed to host a lot of our module/scripts for people in IT.  but everytime they get on a new box, they need to register that repo, which is very cumbersome, it would be nice if the PSRepository was not stored in CLIXML because that makes it pretty cumbersome to try and deploy those settings.  i guess a logon script to be used, but that seems like the wrong direction to go t

[2017-02-23 06:20] bmanikm commented on #92
@dotps1
You can configure a logon PowerShell script with group policy to register/configure the custom repositories.

**Some references on this.**
- https://technet.microsoft.com/en-us/library/ee431705(v=ws.10).aspx
- https://blogs.technet.microsoft.com/heyscriptingguy/2011/01/06/use-powershell-and-group-policy-for-your-logon-script/
- https://technet.microsoft.com/en-us/library/cc753404(v=ws.11).

[2017-02-23 06:25] upbeta01 commented on #24
I did the commands above and was able to run `Login-AzureRmAccount` (successfully login).

Now, trying to get the *vhds* using the command `Save-AzureRmVhd` and its giving an error.
[code]

I tried importing the module (which I though already there after running an import for `AzureRM.Profile.NetCore.Preview`) and I get the error:

[code]

Here is how my Powershell looks like:
[code]

[2017-03-02 15:45] jackfruh commented on #24
I'm getting an error running

[code]

[code]

This is with `$psversiontable:`

[code]

I did see the posts by Steve-MSFT above from October 2016, figuring that these changes would have made there way into the current alpha (16) by now.

[2017-03-03 18:17] kilasuit commented on #24
PowerShellGet is updated Outside the Alpha - have you updated that first and used Update-Module not Install-Package ???

Some additional checks are made in Update/Install/Save-Module functions you see!

[2017-03-03 20:36] jackfruh commented on #24
hi, no, I don't think I have, but how does that work?
if powershellget is part of the powershell package, wouldn't each new alpha build of powershell for mac automatically include updates to powershell git?

[2017-03-04 00:07] SteveL-MSFT commented on #24
I believe PSCore6 pkg would include the latest published PSGet (1.1.2) not the latest from this repo.

[2017-03-04 17:49] juneb opened #94 "Unsigned module not triggering publisher check"
Filed at Mani's request: [https://twitter.com/bmanikm/status/837938902333718528](https://twitter.com/bmanikm/status/837938902333718528)

PowerShellGet: Version 1.1.2.0
PSVersion: 5.1.14393.693

When I install Pester 4.0.2 on a clean VM with Server 2016 RTM in AllUsers scope, I get a catalog signature error.
[code]
-------------------------
When I install the same module on my dev box with Windows

[2017-03-06 18:59] bmanikm commented on #94
As per the below verbose message, latest version of Pester module is not signed. So, user has installed an unsigned version.

[code]

Publisher check is applicable only when already installed latest version is signed.

[2017-03-06 18:59] #94 closed

[2017-03-06 19:55] juneb commented on #94
Thanks for explaining, Mani. So, SkipPublisherCheck has a persistent effect, even though the switch affects only the command in which it's used.

[2017-03-06 20:12] juneb opened #95 "Question: How does IsLatestVersion differ from IsAbsoluteLatestVersion?"
What is isAbsoluteLatestVersion? How does it differ from IsAbsoluteLatestVersion?

Thanks. I can't find any blogs or documentation of the AdditionalMetadata, so it's tough to figure this out.

[2017-03-06 23:05] juneb opened #96 "Unsigned module error triggers when no signed module is installed"
Re:  #94 (now closed)

I hope to write about this, but I need to understand it myself. Thanks in advance for your help.

If I understand correctly, the catalog signing error appears only when:

-- An installed version of the same module **is signed**, but the version that the user is trying to install is not signed.
-- This signing check is module-specific.

But, on my VM (Server 2016 RTM, 5.1.143

[2017-03-07 01:47] bmanikm commented on #96
Hi @juneb, thanks for submitting a PR for fixing a typo in format!
- Yes, publisher validation is module-specific.
- It is applicable only when the latest version of the module being installed is signed.
- Publisher details are retrieved from either catalog file or module manifest. First, catalog file otherwise module manifest file. For all in-box modules, module manifest is signed.

[2017-03-07 01:48] bmanikm commented on #94
Answered in #96.

[2017-03-07 01:59] juneb commented on #96
"It is applicable only when the latest version of the module being installed is signed."
[juneb] The error message occurs when the module being installed is **unsigned** and there is a signed version of the module already installed. Why would we throw an error for a signed module?

Also, on my VM (Server 2016 RTM, 5.1.14393.693), the installed version of Pester, 3.4.0, is unsigned. It does not hav

[2017-03-07 02:11] bmanikm commented on #95
@juneb These two properties are derived from the NuGet implementation.
Currently, for PSGallery, both IsAbsoluteLatestVersion and IsAbsoluteLatestVersion convey the latest version.

IsAbsoluteLatestVersion will be used when we enable the pre-release/preview version support in PSGallery.

Below script and output helps you in understanding the differences between these properties when we support pre

[2017-03-07 02:20] bmanikm commented on #96
"It is applicable only when the latest **installed** version of the module being installed is signed."
Latest version from the installed versions of module are considered for the publisher validation.

In above mentioned case (in your above reply), installed latest version is signed and version being installed is unsigned, right? Since the new version is not signed, publisher validation should fai

[2017-03-07 02:34] juneb commented on #96
No. That's why I'm confused. On my VM, the latest installed version, 3.4.0, is *unsigned* (no Pester.cat file in the module). In fact, both 3.4.0 and 4.0.2 are unsigned. So, I can't figure out why I'm getting the catalog signature error.

[2017-03-07 02:45] bmanikm commented on #96
Please take a look at the third point I mentioned above.
**Publisher details are retrieved from either catalog file or module manifest. First, catalog file otherwise module manifest file. For all in-box modules, module manifest is signed.**

Check the authenticode signature of Pester.psd1 file under 3.4.0 version.

If that module manifest file is not authenticode signed, please provide the -debug

[2017-03-07 02:48] juneb commented on #96
Ah! Now, I see. Thanks.

So, is this an error in Pester, because the .psd1 in 4.0.2 is unsigned?

[2017-03-07 02:49] JKeithB commented on #96
I've got a draft of catalog signing docs I need to share. Will make sure it's pushed to a viewable repo & share with @June before EOD 3/8

[2017-03-07 02:50] juneb commented on #96
Thanks, Keith. That's great. We need some best practice guidance.

[2017-03-07 16:07] Jaykul opened #98 "AllowClobber should write a warning about command collisions"
Can we please have Install-Module with -AllowClobber write a **warning** about command collisions, so that we still get notified about them _as we install_?

Personally, I think that should be the _default behavior_. I mean, hypothetically a user can always cancel or uninstall if it gets in the way, but so far I have never _not_ installed a module because of the command-collision error, so I'm jus

[2017-03-07 18:38] #96 closed

[2017-03-07 18:38] #95 closed

[2017-03-07 18:41] dotps1 commented on #96
Just thought i'd add @juneb, the version of pester on a fresh install of windows 10 does not come from the gallery.  and that is why you cannot just do a `Update-Module -Name Pester`.

[2017-03-07 19:02] juneb commented on #95
IsLatestVersion doesn't include beta builds. Thanks!

[2017-03-07 19:04] juneb commented on #96
@dotps1 Thanks, I used Install-Module.

The .../Pester/3.4.0/* directory does not include a .cat file, but Get-AuthenticodeSignature returns a valid catalog signature.

But, I don't see one of those long signature blocks in the file. Is the embedded signature in metadata?

[2017-03-09 21:26] eanders-MS opened #100 "Install-Package Azure or AzureRM errors on Windows 10"
Hello, I hope I'm in the right place. I'm attempting to install the latest Azure PowerTools and getting this error:

![image](https://cloud.githubusercontent.com/assets/12176807/23771241/1d0d3be6-04cb-11e7-8770-c993173fa645.png)

The same happens for `Install-Module AzureRM -Force` (I'm unsure the difference).

How can I get it to install?

[code]

[2017-03-09 23:08] bmanikm commented on #100
@eanders-MS
Please ensure that you have installed the latest Windows updates on your machine. Alternatively, the latest version of PowerShellGet can be installed from PSGallery using the steps mentioned [here](https://github.com/PowerShell/PowerShellGet#get-the-latest-version-from-powershell-gallery).

After installing the latest version, open a new PS Console and try to install the AzureRM module

[2017-03-12 07:06] kilasuit commented on #92
Personally this sounds more like a cross org issue, and more specifically an issue that could be alleviated at the machine build time than it being a typical user issue, however you've pointed out the crux of the issue is that PowerShellGet currently only has the support for user settings not machine level settings.

In line with another conversation on customising module configurations like this

[2017-03-13 02:16] kilasuit commented on #98
Nice Idea Joel and I agree that it should be the default behaviour too!

[2017-03-13 02:17] kilasuit commented on #91
I'm currently recircling back to this and should have an update in the next few days

[2017-03-13 08:45] Glober777 commented on #91
@kilasuit, that's great news. Can't wait for it.

[2017-03-13 09:45] #60 closed

[2017-03-15 18:35] f0rt opened #101 "Register-PSRepository in non-interactive mode?"
Team,
I'm using Register-PSRepository for automation on internal build system. On PS 5.1. the cmdlet prompts and I get the following message(from the build logs):

The cmdlet doesn't have -Force/-Confirm parameters and it doesn't respect the $ConfirmPreference variable. Is there a workaround for this?

Thanks,
Nedko

[2017-03-15 22:06] f0rt opened #102 "[Feature Request] Session scope for Register-PSRepository"
Team,
Can you please add session scope support for Register-PSRepository?

We have an internal build system that outputs PowerShell modules. Every successful build is published to an internal PSRepository (Artifactory server).
Every time we want to publish a module we have to deal with the following cases:
- Is the repository already registered?
- Is another repository with different name and the

[2017-03-17 20:27] bmanikm commented on #19
[code]

For more details, please take a look at the below documentation on explicitly filtering the items by Edition.
- [Items with compatible PowerShell Editions](https://msdn.microsoft.com/en-us/powershell/gallery/psgallery/psgallery_pseditions)
- [Modules with PSEditions](https://msdn.microsoft.com/en-us/powershell/gallery/psget/module/modulewithpseditionsupport)
- [Scripts with PSEditions](htt

[2017-03-19 21:56] Glober777 commented on #92
I'd really like if there was a machine level configuration as I don't really like the idea of logon scripts, because they tend to increase the logon time experience, require someone to interactively login for them to apply, etc. Besides, those require additional efforts to make sure they're running without issues.

If there's a service account that is used to schedule a script that relies upon Pac

[2017-03-20 10:26] gogbg opened #103 "Publish-Module does not propagate Credentials to sub-functions"
Publish-Module cannot verify if Dependant Modules are already present in cases where PSReposity should be accessed with alternate credential.

## Expected Behavior
If Publish-Module is been run with "Credential" parameter it should propagate the provided Credentials to the other functions that are doing validations against the PSRepository.
The suggested solution is to detect if "Credential" param

[2017-03-20 11:19] dotps1 commented on #103
I found this as well, I created a PR that has been accepted, it just has not be published to production AFAIK.

https://github.com/PowerShell/PowerShellGet/pull/93

[2017-03-20 11:43] gogbg commented on #103
I`ve also submitted PR before seeing your post :)

[2017-03-22 02:52] #103 closed

[2017-03-23 19:31] crmckenzie opened #105 "Register-PSRepository should support persistent credentials"
In general package managers allow you to specify credentials when registering a package source which are then used by downstream functions that use that source. PowershellGet *appears* to allow you to do this via the `-Credential` parameter, but the credential is not used later by `Find-Module.`  I believe that `Find-Module`, `Install-Module`, `Save-Module`, and `Publish-Module` should all be able

[2017-03-23 19:51] dotps1 commented on #105
my guess is this just needs to be pushed to the gallery so we update production.  see PR #93 and #104 .

[2017-03-23 20:26] crmckenzie commented on #105
I think those issues are different. I'm saying it should be unnecessary to use the `-Credential` parameter when interacting with a credentialed source if you specified the credential during `Register-PsRepository`.

[2017-03-23 20:33] dotps1 commented on #105
ah, I see what you mean, I think you can do that with the nuget.exe.  and TBH when I use the `-Credential` parameter, at first I always think I'm like supplying administrator credentials.  So I can be running as my standard user, but then use -Credential to install to the machine scope.

[2017-03-24 08:15] gogbg commented on #105
Maybe the solution can be that Register-PSRepository saves the credentials in Nuget Credential Manager?

[2017-03-24 15:54] crmckenzie commented on #105
@gogbg, that is how I imagined the solution should be implemented.

[2017-03-24 17:53] dotps1 commented on #105
Based on line 4225 this may need to be done in PackageManagment before PowerShellGet could pull that off.  but i'm not positive on that.

[2017-03-24 21:42] pauldalyii commented on #35
I installed 1.1.2.0 still see this issue when attempting to `Install-Module AzureRM`.

[code]

Also, at first I had both 1.0.0.1 and 1.1.2.0 installed.  When I'd run `Install-Module AzureRM`, I'd see that 1.0.0.1 was being referenced in the error message.  I then forcefully uninstalled 1.0.0.1 using ([this](http://stackoverflow.com/questions/36097266/removing-a-powershell-module-using-its-version-

[2017-03-24 21:43] bmanikm commented on #105
Due to security reasons, also recommended by security review team, credential persistence is not supported for authenticated repositories/sources in both PowerShellGet and PackageManagement.

The workaround is to use [$PSDefaultParameterValues](https://msdn.microsoft.com/en-us/powershell/reference/5.1/microsoft.powershell.core/about/about_parameters_default_values).

[2017-03-24 21:47] pauldalyii commented on #35
After installing v1.1.2.0 of PowerShellGet, I still see this issue when I run `Install-Module AzureRM`:

[code]

At first, the error message still referenced v1.0.0.1 of PowerShellGet.  I turns out that v1.0.0.1 and v1.1.2.0 were both installed.  I uninstalled v1.0.0.1 using [this](http://stackoverflow.com/questions/36097266/removing-a-powershell-module-using-its-version-number).

[code]

I still

[2017-03-24 21:54] bmanikm commented on #35
@pauldalyii, could you please provide consistent repro steps to repro this issue on a clean machine?

[2017-03-24 22:34] crmckenzie commented on #105
@bmanikm Thank you for your reply.

I guess I'm not sure what is meant by "Security Concerns" in this context. That's kind of vague. `nuget`, `gem`, `npm`, and just about every other package manager tool I'm aware of have a method to persist credentials with the source across sessions. `PowershellGet` uses `nuget` under the covers: is the security team saying that `nuget` is doing it wrong? What i

[2017-03-27 16:12] pcgeek86 opened #106 "Register-PSRepository throws exception when run inside Windows Server container"
Problem Overview
--------------

We're trying to register an internal / private NuGet PowerShell module repository inside of a Windows Server Container. When we attempt to register the repository, an exception is thrown by the `Register-PSRepository` command. The repository can be registered properly outside of a Windows Server Container.

Steps to reproduce
------------------

1. Create a `Docker

[2017-03-27 16:12] pcgeek86 commented on #106
Moved from https://github.com/PowerShell/PowerShell/issues/3412

[2017-03-28 00:10] bmanikm commented on #105
Could you please verify whether below proposed workaround works for CI/CD scenarios?

## Proposed workaround using [$PSDefaultParameterValues](https://msdn.microsoft.com/en-us/powershell/reference/5.1/microsoft.powershell.core/about/about_parameters_default_values).
### Persist the credential. Use the same script for updating the expired password too.
[code]

### Snippet to be added in PowerShell

[2017-03-28 23:14] brettcannon commented on #35
I ran into this today trying to do `Install-Module Azure -AllowClobber -Force` on Windows 10 Anniversary (it said Azure 2.1.0 was already installed, hence the Force). The fix a co-worker found which worked for me was to clear out the Azure-related stuff in:
* %ProgramFiles%\WindowsPowerShell\Modules folder
* %ProgramFiles(x86)%\Microsoft SDKs\Azure\PowerShell

[2017-03-29 16:21] mjyeaney opened #107 "Conflict between VS2015 NuGet and PowerShell provider"
Cross-posted from OneGet repo issue here: [https://github.com/OneGet/oneget/issues/274](https://github.com/OneGet/oneget/issues/274)

VS Environment:
[code]

Powershell Environment:
[code]

Powershell Package Providers:
[code]

Package Source Locations:
[code]

Given the above configuration, VS2015 is able to browse NuGet packages without issue. PowerShell, however, is unable to search the NuGet r

[2017-03-29 18:17] bmanikm commented on #107
@mjyeaney From the above details, it doesn't look like PowerShellGet related issue. PowerShellGet provider doesn't update the NuGet source registrations.

Are you using the PowerShellGet provider or NuGet provider?
Is it possible to get the verbose and debug messages from Find-Package?

[2017-03-29 19:35] mjyeaney commented on #107
Thanks for the feedback, @bmanikm. I'm honestly not sure what the _real_ issue is, hence the cross posting. Apologies for the confusion.

As for the verbose tracing - the dump is shown below. Note that it appears after the internal exception is thrown, Fiddler is showing the traces for 'FoooBar' to the PowerShellGallery (which I don't see in the trace).

Is this expected behavior?

[code]

[2017-03-29 20:32] bmanikm commented on #107
From above messages, it is related to NuGet provider.  Regarding 'FoooBarr' search, NuGet provider uses this search term to check whether the specified/registered source is available or not.

By default, OneGet queries all the loaded providers. Consider using -Provider and -Source parameters on Find-Package.
[code]

[2017-03-29 20:53] mjyeaney commented on #107
Perfect - thanks for the follow-up.

[2017-03-29 21:05] #107 closed

[2017-03-29 21:30] rebro-msft opened #108 "Add -AllowPreRelease flag to Find-Module/-Script cmdlets"
See [Pre-Release RFC](https://github.com/PowerShell/PowerShell-RFC/blob/master/1-Draft/RFC0013-PowerShellGet-PowerShellGallery_PreRelease_Version_Support.md) for more information.

- The AllowPreRelease flag in Find-(item type) will be used to return Prerelease items from the PowerShell Gallery.
- Using any of the version specifiers (-RequiredVersion, -MinimumVersion, -MaximumVersion) with a pre-r

[2017-03-29 21:41] rebro-msft opened #109 "Add -AllowPreRelease flag to Install-Module/-Script cmdlets"
See [Pre-Release RFC](https://github.com/PowerShell/PowerShell-RFC/blob/master/1-Draft/RFC0013-PowerShellGet-PowerShellGallery_PreRelease_Version_Support.md) for more information.

- The AllowPreRelease flag in Install-(item type) will be used to install Prerelease items from the PowerShell Gallery.
- Using any of the version specifiers (-RequiredVersion, -MinimumVersion, -MaximumVersion) with a p

[2017-03-29 21:45] rebro-msft opened #110 "Add -AllowPreRelease flag to Save-Module/-Script cmdlets"
See [Pre-Release RFC](https://github.com/PowerShell/PowerShell-RFC/blob/master/1-Draft/RFC0013-PowerShellGet-PowerShellGallery_PreRelease_Version_Support.md) for more information.

- The AllowPreRelease flag in Save-(item type) will be used to save Prerelease items from the PowerShell Gallery.
- Using any of the version specifiers (-RequiredVersion, -MinimumVersion, -MaximumVersion) with a pre-rel

[2017-03-29 21:48] rebro-msft opened #111 "Add -AllowPreRelease flag to Update-Module/-Script cmdlets"
See [Pre-Release RFC](https://github.com/PowerShell/PowerShell-RFC/blob/master/1-Draft/RFC0013-PowerShellGet-PowerShellGallery_PreRelease_Version_Support.md) for more information.

- The AllowPreRelease flag in Update-(item type) will be used to update items to Prerelease versions from the PowerShell Gallery.
- Using any of the version specifiers (-RequiredVersion, -MinimumVersion, -MaximumVersion

[2017-03-29 22:03] rebro-msft opened #112 "Add PreRelease metadata checks to Publish-Module/-Script cmdlets"
See [Pre-Release RFC](https://github.com/PowerShell/PowerShell-RFC/blob/master/1-Draft/RFC0013-PowerShellGet-PowerShellGallery_PreRelease_Version_Support.md) for more information.

## Modules
- Publish-Module will recognize a PreRelease field in the PrivateData section of the module manifest, like the following:
[code]
- Publish-Module will validate that the PreRelease string in PSData follows the

[2017-03-29 23:21] rebro-msft opened #113 "Change Get-InstalledModule to include prerelease string in displayed version"
See [Pre-Release RFC](https://github.com/PowerShell/PowerShell-RFC/blob/master/1-Draft/RFC0013-PowerShellGet-PowerShellGallery_PreRelease_Version_Support.md) for more information.

- Output of Get-InstalledModule will include a PreRelease property.

[2017-03-31 23:55] KrishnaV-MSFT commented on #106
@pcgeek86 I am able to successfully build a container using these instructions in my test environment.  Here is the PSVersionTable on my machine:

Name                           Value
----                           -----
PSVersion                      5.1.14393.693
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.1439

[2017-04-05 15:16] #106 closed

[2017-04-11 18:53] joeyaiello opened #114 "Uninstall-Module: add ability to uninstall dependent modules"
_From @dmilov on March 21, 2017 8:1_

The use-case is to upgrade multiple modules to their new version. When there is a module with number of dependent modules Install-Module allows installing all dependent modules at once. If I need to upgrade the modules to new version with no willing to have multiple versions of certain module I'd expect to be able to uninstall module with all dependent modules

[2017-04-11 18:53] joeyaiello commented on #114
_From @iSazonov on March 21, 2017 9:35_

We have related Issue #2505 "Reloading module does not reload submodules"
If we fix this we fix "upgrade multiple modules to their new version" too.

[2017-04-11 18:55] joeyaiello commented on #114
@KrishnaV-MSFT this is needed by a customer, we can talk offline if you need more info.

[2017-04-11 21:16] BrucePay commented on #114
It is important to understand that a module may be a dependency of more than one loaded module.  In that scenario, removing only one of the depending modules should *not* remove the dependency module since it is still in use by at least one loaded module. If the goal here is to force a refresh of the entire module dependency tree, then this issue proposes the wrong solution. A better approach woul

[2017-04-11 22:08] ebekker commented on #98
Also, be sure to take into account if the `DefaultCommandPrefix` of the module is set and evaluate if the *final resolved* cmdlet is in fact in conflict as per #45.

[2017-04-11 22:11] ebekker commented on #45
This could also be a potential security hole if the fully resolved name is not already being evaluated.

For example if I define a cmdlet `Get-ifcate` and the module manifest has a `DefaultCommandPrefix` of `Cert` then the naked cmdlet name won't be in conflict, but the fully resolved name will be.

[2017-04-12 11:05] iSazonov commented on #114
It seems my comment was wrong -  the Issue is about installing modules instead of importing.

[2017-04-12 12:29] Glober777 commented on #91
Hey @kilasuit, I was just wondering if there are any news regarding this?

[2017-04-12 12:35] Glober777 opened #115 "Release notes for 1.1.3.0"
Hi! I've noticed that there's already a 1.1.3.0 version published on the PowerShell Gallery, however I can't find a list of things that have changed since the 1.1.1.0 version which was previously published there. Is such a listing available somewhere?

[2017-04-12 18:46] joeyaiello commented on #114
@BrucePay I should've clarified with my own take on how this should be implemented. We just need a command to remove dangling dependencies. Portage has `emerge --depclean` , Yum has `package-cleanup` in `yum-utils`, `apt-get` has `apt-get autoremove`.

We need the same. Something like `Uninstall-Module -Orphan` or something that alludes to a dangling/orphaned/unused dependency/module.

This should

[2017-04-14 06:52] hahndorf opened #116 "Install-Script from PowerShellGet kills variables in Path variable"
Steps to reproduce
------------------

Run Install-script on Windows 10 to install a script from the PowerShell Gallery. On a fresh system the cmdlet will ask you to add to the path `PATH Environment Variable Change`, if you agree your path variable is screwed up.

Expected behavior
-----------------
Path environment variable should be:
 `%SystemRoot%\system32;%SystemRoot%;%SystemRoot%\System32\Wb

[2017-04-15 02:02] hahndorf commented on #116
As I already have a solution for this I will try to fix it and create a pull request.

[2017-04-17 18:04] crmckenzie commented on #105
I think it would be easier to abandon PowershellGet and implement package deploying using Chocoately instead.

[2017-04-17 18:13] RamblingCookieMonster commented on #105
@crmckenzie - are you using a CI solution that doesn't offer secure variables?  Tools like AppVeyor, Jenkins, GitLab CI all provide this, and these should always be preferred over plain text in a script, IMHO.  Better yet would be some sort of secret management platform, but we can't assume that : )

Cheers!

[2017-04-17 18:39] crmckenzie commented on #105
I'm trying to automatically deploy powershell modules to build agents. My CI process needs to publish the module to a credentialed feed. I'm using Artifactory for this and it works quite well. I actually don't need PowershellGet for this part.

My goal is to then deploy the module using a CD tool to all of my build agents. My supposition was that since PowershellGet is supposed to be a package man

[2017-04-17 19:30] bmanikm commented on #116
Thank you @hahndorf.
Resolved in PR #117 .

[2017-04-17 19:30] #116 closed

[2017-04-18 13:37] alexdresko commented on #88
I experienced the same issue today. Using '1.0.0' as the version instead of '1.0' fixed the problem. My manifest was created with `New-ModuleManifest`.

[2017-04-18 19:09] bmanikm commented on #88
@alexdresko It looks like you are also using 3.5 version of NuGet.exe. If you need to publish a module with only two parts (1.0) in module version, download NuGet.exe from https://www.nuget.org/NuGet.exe.

[2017-04-18 19:14] alexdresko commented on #88
@bmanikm Correct. It's not clear in this thread that nuget v2.8.60717.93 is required to make a 2-part version work, so I hope this comment helps someone.

I personally do not need a 2-part version number, so it wasn't a problem to make it a 3-part version number.

Is there a plan to update `publish-module` to support the newer nuget.exe?

[2017-04-25 17:17] godefroi commented on #101
@bmanikm That command doesn't seem to download nuget.exe. In my environment, I have been running that command, but I don't get the error about non-interactive mode until I get to the publish-module step, which fails because it's trying to prompt about downloading nuget.exe.

[2017-04-25 17:48] godefroi commented on #60
@bmanikm I am having this same issue, and though I registered my source with NuGet.exe with the credentials, it still doesn't work (fails with the exact same error message). Do you have any other suggestions? Should we re-open this issue?

[2017-04-25 18:17] bmanikm commented on #101
@godefroi Correct, Install-PackageProvider only installs NuGet provider, and it doesn't download nuget.exe. NuGet.exe is required only during Publish-Module or Publish-Script operations.

Please take a look at
https://github.com/PowerShell/PowerShellGet/blob/development/tools/build.psm1#L72 to understand the logic for bootstrapping NuGet.exe in automation scripts.

[2017-04-25 18:27] bmanikm commented on #60
@godefroi Could you please let us know whether your repro steps are different from https://github.com/PowerShell/PowerShellGet/issues/91 ? If yes, could you please create a new issue with the repro steps along with instructions for authenticated feed setup, so that we can ensure that your scenario is validated/verified/tested with the fix?

[2017-04-25 19:20] godefroi commented on #60
@bmanikm same steps, except I'm using an Artifactory feed and not a VSTS one. Other than that, same steps, same results.

[2017-04-25 19:42] bmanikm commented on #105
@crmckenzie thanks for the feedback. As I mentioned earlier and since provided workaround is not suitable for your scenario, we should implement the logic for persisting the credentials of a repository during Register/Set-PSRepository cmdlets.

[2017-04-26 06:51] LaurentDardenne opened #120 "[Feature request] Add a public variable containing 'Modules' and 'Scripts' paths"
We have _$Profile_ to know the path names of the profiles, but there is no variable to know the PowershellGet installation paths.
[code]

[2017-04-26 15:57] godefroi commented on #60
@bmanikm In fact, I'm now getting this same error from the command line in interactive mode:
[code]

[2017-04-26 17:43] godefroi commented on #60
@bmanikm It seems that replacing NuGet.exe version 2.8 with NuGet.exe version 3.5 has solved the problem.

[2017-04-27 17:53] vgangamsft opened #121 "Using $ConfirmPreference throws exception when run inside Windows Server Container"
## Problem Overview

We're trying to register an internal / private NuGet PowerShell module repository inside of a Windows Server Container. When we attempt to register the repository, an exception is thrown. Commenting out $ConfirmPreference line in the script that runs insider Windows Server Container resolves the issue

## Expected Behavior

Container builds successfully, without errors.
## Cur

[2017-05-02 05:39] VahidN opened #122 "Unable to find dependent package(s) (CoreCompat.System.Drawing)"
I'm trying to install [iTextSharp.LGPLv2.Core](https://www.nuget.org/packages/iTextSharp.LGPLv2.Core/) package using PowerShell with the following command:
[code]
But it can't find its dependent library
[code]
The dependent package is [CoreCompat.System.Drawing](https://www.nuget.org/packages/CoreCompat.System.Drawing/).

## My Environment
[code]

[2017-05-02 07:35] bmanikm commented on #122
@VahidN This is not related to PowerShellGet. NuGet provider related issues should be reported at https://github.com/OneGet/oneget/issues .

[2017-05-02 07:35] #122 closed

[2017-05-10 16:33] ghost opened #123 "[Issue-Question] How do I download from gallery when Package Manager not allowed?"
Issue created by PSGallery team, ported from Twitter conversation: https://twitter.com/texmandie/status/861932115495190528

## Expected Behavior
---Information needed from customers---

## Current Behavior

Concern raised about use with PS v3, which should be possible using https://www.microsoft.com/en-us/download/details.aspx?id=51451

---Information needed from customers---

## Possible Solution

[2017-05-11 00:32] RamblingCookieMonster commented on #123
Some quick thoughts on alternatives currently available:

* PowerShellGet and PackageManagement should be available for PowerShell 3 - this seems to be the plan, based on [this bit](https://www.microsoft.com/en-us/download/details.aspx?id=51451) being linked from the Gallery

* Nuget is a viable option for anyone using the commandline.  It's simple to deploy (portable executable) and has what is n

[2017-05-11 03:35] Jaykul commented on #123
It only takes a handful of lines of code to **find** and download a module from the gallery by name _without_ PowerShellGet. There are _a **lot**_ of features which we _need_. This isn't one.

You can send people to [this gist](https://gist.github.com/Jaykul/9a810bac8584dd654cf9b0cffe6426eb) for a _slightly_ nicer version including separate search, but here's the simple version:

[code]

[2017-05-11 07:44] #81 closed

[2017-05-11 14:37] potatoqualitee commented on #123
You guys have such well thought-out posts. I've got a lot of feelings ;)

Basically, I've seen the successes of shortlinks and a /zip that grabs the latest version of the .nuget and sends the filename as {modulename}.zip would be tremendously helpful. We'd help get the word out on it.

I understand that in an ideal world, PowerShellGet and PackageManagement would be the answer, but I like to give

[2017-05-11 17:59] JKeithB commented on #123
Good input, but maybe missing clarification. Is the core problem a combination of the package is not obviously a .ZIP file, and the acquisition method is via a REST API? If so, then would a blog as described between @Jaykul and @potatoqualitee be sufficient?

@RamblingCookieMonster - One point to add is that PowerShellGet IS the wrapper around those functions, nothing more. NuGet is a zip file wit

[2017-05-11 20:18] bmanikm opened #125 "Catalog signing verification is not working in v6.0.0-beta.1 release of PowerShellCore"
The following features of PowerShellGet are broken in v6.0.0-beta.1 release of PowerShellCore due to https://github.com/PowerShell/PowerShell/pull/3556 .
- Module catalog signing verification on Windows.
- Proxy
- Telemetry

Failed tests can be found at https://ci.appveyor.com/project/PowerShell/powershellget-0lib3/branch/development/job/j9ff508mkf21b3ym/tests .

[2017-05-12 03:16] Jaykul commented on #123
I think it was 6 year ago when I reached my limit on the number of times I was willing to explain to people that there is nothing wrong with my module, they've just unzipped it in the wrong place. This drives me crazy.

#### Zips are _not_ a straightforward way of shipping modules

For that reason, I'm *strongly* opposed to providing any of these methods of getting a .zip -- even if it was just a

[2017-05-12 04:59] #115 closed

[2017-05-12 05:01] brianbunke commented on #114
A separate use case for consideration:

"Metapackages," like [VMware.PowerCLI](http://www.powershellgallery.com/packages/VMware.PowerCLI/) and [Database](http://www.powershellgallery.com/packages/Database/), do not uninstall their friends when removed. In the VMware example, one has to know to

[code]

And it gets uglier in the Database example, where there is no common naming convention among mod

[2017-05-12 05:35] daxian-dbw commented on #125
Is there a simple repro for the regression? (like using `Get-AuthenticodeSignature`)

[2017-05-12 10:51] potatoqualitee commented on #123
Fair enough. That's why I offer **both** [dbatools.io/zip](https://dbatools.io/zip) _and_ [dbatools.io/in](https://dbatools.io/in) which allows people to run

`Invoke-Expression (Invoke-WebRequest -UseBasicParsing https://dbatools.io/in)`

This unzips the zip and places the module in their module directory. I've spent 0 time supporting module placement because I've done my best to reduce barriers

[2017-05-12 19:10] bmanikm commented on #125
## Simple repro steps
[code]

[code]

## Required resolution as per PowerShell/PowerShell#3556 .
As per PowerShell/PowerShell#3556, I think, it is not required to specify -ReferencedAssemblies for .Net assemblies.

### Resolution
[code]

[code]

[2017-05-12 19:14] bmanikm commented on #125
This issue got resolved in PowerShellGet with PR #124.

[2017-05-12 19:48] daxian-dbw commented on #125
Ah, so the root cause is `Add-Type`.
It's completely expected for `Add-Type` to break when we move to a new .NET Core version **if `-ReferencedAssemblies` is explicitly specified**, because .NET types and assemblies get shuffled consistently. That's why it was fixed in PowerShell/PowerShell#3556 to no longer require users to specify `-ReferencedAssemblies` in PowerShell Core.
Glad that the issue i

[2017-05-14 00:28] Jaykul commented on #123
@potatoqualitee you're suggesting an installer script that makes things a one-liner -- the PowerShell Gallery has one of those: the PowerShellGet module. To make it easy for people to install, it's wrapped in an msi that any beginner can click through.

So you want this _not_ because of some prohibition against installing the PowerShellGet module, but because installer _scripts_ are perceived as e

[2017-05-14 17:45] kilasuit commented on #123
@potatoqualitee - I personally can't see the real benefit of having yet another URL that needs to be constantly updated when there are new modules uploaded (like imagine the manual workload, unless automated ofc)

However what I think that @amandadebler was meaning is that the PowerShell Gallery should have a button that says `Download Now`

[2017-05-14 22:10] potatoqualitee commented on #123
@kilasuit - it would be an auto redirector. Basically, a shortlink to the longer API URL. Nothing to keep track of. If a package doesn't exist, the shortlink will just hit a 404.

@Jaykul - I understand where you're coming from. Both of our positions are valid - yours caters to security and being proper, mine to widespread adoption and chill. And really, my support of each argument will vary, depe

[2017-05-15 12:26] amandadebler commented on #123
Yup, @kilasuit is right - for my colleagues who are just starting to be ok with modules, "Download Now" on a PowerShell Gallery page (from Microsoft themselves!) is a lot more likely to get the SqlServer module onto their machine without teaching them bad habits (running PowerShell commands they don't fully understand)

[2017-05-15 13:02] potatoqualitee commented on #123
With that, we return to the issue @Jaykul mentioned of module placement and support (which is why I was in favor of iex/iwr). There should perhaps be a note in the Download Now box that suggests where to put it. GitHub has a nice way of displaying more info.

![image](https://cloud.githubusercontent.com/assets/8278033/26058735/73575b74-397f-11e7-935d-201841e279bf.png)

[2017-05-15 17:21] JKeithB commented on #123
Thanks, everyone, for helping explain the asks. I believe we have the information to close this particular thread, and open separate issues. I am going to try to summarize what's here (without evaluating) so that we get the issues opened properly. I believe this comes down to:

- Have a "download now" button that puts a zip somewhere on the user's system. Primary reasons are:  support customers wh

[2017-05-15 17:45] potatoqualitee commented on #123
Thanks, Keith.

I don't think there's any issue with frequency.  `Install-Module sqlserver` is the actually the easiest way for people who are new to PowerShell to install modules. My concerns are about people who don't have access to PowerShellGet and thus can't use the easiest way.

The proxy issue came up, but I don't believe this is an issue as proxies are supported by both PowerShellGet and b

[2017-05-15 17:51] JKeithB commented on #123
@potatoqualitee - Thank you, good clarifications.
Any others?

[2017-05-17 00:07] bmanikm commented on #18
Hi @Velocet, Could you please verify whether this issue got fixed with the latest builds of PowerShellCore? I believe this issue got fixed along with other code changes for PowerShellCore.

[2017-05-17 00:07] #125 closed

[2017-05-17 18:14] kilasuit commented on #123
PackageManagement works (or at least has been explained & in my experience it does) on PSv3

I don't know/understand how this can be mis-read to mean anything else

![image](https://cloud.githubusercontent.com/assets/6355225/26168427/ee3e0668-3b31-11e7-9339-dfe7e64f0516.png)

Even moreso when I created this script https://github.com/kilasuit/PoshFunctions/blob/Dev/Scripts/Install-PowerShellPackage

[2017-05-18 19:23] sdwheeler opened #130 "Update-Module does not really update the module"
Update-Module only installs a newer version. It does not remove the previous version. This is no different that using Install-Module except that it checks the current installed version an searches for a newer version. That search functionality would be better implemented as a -Update parameter for Install-Module.

## Expected Behavior
Update-Module should replace the current version with a new ver

[2017-05-19 21:39] Jaykul opened #131 "NuGet 3 and 4 binaries can't publish modules with 2 or 4 numbers in the version"
Given a module 'Autoload' with a ModuleVersion = "4.1"
And you have NuGet 4 available in your Path.
When you `Publish-Module -Name Autoload`
Then PowerShellGet fails to publish with an unhelpful error

In fact, the error was extremely difficult to troubleshoot -- I ended up having to set a breakpoint in the PowerShellGet module itself to figure out what it meant.

## Expected Behavior

Publish-Mod

[2017-05-21 07:47] LaurentDardenne opened #132 "Question about FindModule -IncludeDependencies"
Does the _IncludeDependencies_ parameter of **Find-Module** only work with dependencies on the same repository ?

[code]
Test:
[code]

[2017-05-22 17:54] kilasuit commented on #132
There is a specific Hash table that has to be passed in the external module dependencies section that should also include the Repository to search if not the same repository as the main module though I don't have this exactly to hand I remember it was difficult to get working correctly.

Will try and dig this out during this week though.

[2017-05-22 19:40] bmanikm commented on #131
@Jaykul From the error details, it looks like you are using 3.0 or later version of NuGet.exe.
This issue should not happen with https://www.NuGet.org/NuGet.exe .

It looks like, we need to parse the output of `NuGet.exe help` to find the NuGet.exe version and change the nupkg filename accordingly in the path for `nuget push`. Any other alternatives?

#### Workaround for others until this issue ge

[2017-05-22 19:57] bmanikm commented on #132
`Does the IncludeDependencies parameter of Find-Module only work with dependencies on the same repository ?`
Yes, this is only applicable for the dependencies which are available on the same repository.

[2017-05-23 13:08] Velocet commented on #18
@bmanikm Verified working on Windows 10 Enterprise LTSB 2016 Version 1607 (Build 14393.1198).

[code]

[2017-05-23 13:20] LaurentDardenne commented on #132
@bmanikm Thank you.
@kilasuit May be with [PSDepend](https://github.com/RamblingCookieMonster/PSDepend)...

[2017-05-23 13:20] #132 closed

[2017-05-24 03:16] bmanikm commented on #18
Thanks for verifying the fix.

[2017-05-24 03:16] #18 closed

[2017-05-24 15:35] Jaykul commented on #131
Ok, I've tested and you're exactly right.  It works fine with NuGet 2.x but not with Nuget 3 or Nuget 4 -- you guys are _**really far behind the times**_.

The issue was that we were trying to get publishing working with the VisualStudio.com galleries, and _incorrectly_ thought that we needed to use the _nuget.exe_ binary they provided in their authentication package -- it turns out it's enough to

[2017-05-24 19:19] Jaykul opened #133 "PowerShellGet doesn't work with NuGet CredentialProviders"
Microsoft's VisualStudio.com has started hosting NuGet Repositories, but the authentication scheme that they've chosen requires a [nuget.exe credential provider](https://docs.microsoft.com/en-us/nuget/api/nuget-exe-credential-providers) plugin.

I was able to get this to work with PowerShellGet but only by directly calling the NuGet.exe which is installed by PowerShellGet to add the `source` with

[2017-05-24 19:26] Jaykul commented on #133
Since `find` and `install` work when passing -credential (although I shouldn't have to, since I passed it at registration time), I'm tempted to conclude that the credentials are simply not being passed at all when I'm trying to `Publish-Module -Credential` and that perhaps this could be fixed separately from the credential caching problem.

[2017-05-25 15:38] barkz commented on #130
I have hit this same issue with two of my modules (PureStoragePowerShellSDK and PureStoragePowerShellToolkit).

[2017-05-27 18:24] kilasuit commented on #132
Nah this was internally to PowerShellGet and not requiring PSDepend at all

[2017-05-29 09:21] gluons opened #135 "Cannot convert null to type "System.DateTime"."
## Expected Behavior

No error message.

## Current Behavior

Get error:

<img width="787" alt="default" src="https://cloud.githubusercontent.com/assets/4688092/26543873/cccafcbe-4489-11e7-8696-adc81dbe0738.PNG">

[code]

## Possible Solution

I have no idea. I'm new to PowerShell. 😅
I've tried to update to latest with

[code]

that in [readme](https://github.com/PowerShell/PowerShellGet#for-syste

[2017-05-30 18:55] bmanikm commented on #135
@gluons Could you please get the output of following commands to investigate on this issue?

[code]

[2017-05-30 21:08] mcvic1rj opened #136 "Cannot republish a module with the same version number"
## Expected Behavior
When publishing a module with -force switch, it should be expected that the module will publish even if it already exists in the repository.

## Current Behavior
An error is thrown: ModuleVersionIsAlreadyAvailableInTheGallery

## Possible Solution
Update line 1215 of PSmodule.psm1 from
                if($currentPSGetItemInfo.Version -eq $moduleInfo.Version)
to

[2017-05-30 23:17] bmanikm commented on #136
@mcvic1rj PowerShell Gallery doesn't allow republish of the same version. You should unlist this version in the gallery and publish a new version after incrementing.

[2017-05-31 02:11] mcvic1rj commented on #136
@bmanikm Sorry about that. I didn't know this was by design. I was basing this off our our internal NuGet repo which allows overwriting.

-
Ryan

[2017-05-31 02:33] gluons commented on #135
**This is content output of your script:** [log.txt](https://github.com/PowerShell/PowerShellGet/files/1040159/log.txt)

I got some error at the end.
<img width="786" alt="default" src="https://cloud.githubusercontent.com/assets/4688092/26613237/fb2e609a-45e3-11e7-82cd-2961af1f7855.PNG">

[code]

[2017-05-31 17:00] #136 closed

[2017-05-31 17:30] bmanikm commented on #135
@gluons From the log.txt, it looks like you have changed the date & time format from 24 hour to 12 hour after installing the modules.
Please uninstall these versions manually and try again with the current date & time format settings.

[code]

[code]

[code]

[2017-06-01 02:58] gluons commented on #135
I honestly have never change date & time format after install. But I got Anniversary Update and Creators Update. 😅

I've tried to reinstall but not work. 🤔
[code]

My laptop always use this format: `29/5/2560 15:54:53`
**Default by Windows (Thai):**
<img width="345" alt="default" src="https://cloud.githubusercontent.com/assets/4688092/26662701/0a88a5e2-46b0-11e7-8413-e9171690bc70.png">

Sorry, I'v

[2017-06-01 06:26] bmanikm commented on #135
@gluons Thanks for the additional details. This is not related to Anniversary Update and Creators Update. I am not sure why your PowerShell Console has different date time format than other threads spawned within the same process.

[code]

Do you have any specific instructions for setting up a repro machine for this language and date & time format? I will try to repro it locally on a Windows 10 ma

[2017-06-01 06:53] gluons commented on #135
My Windows is **Windows 10 Pro (Thai version)**.
Now, my Windows version is `1703`.
And my build version is `15063.332`.

My region, language and date/time are Thailand/Thai. (Default after installed)

---

[code]

[code]

I'm so confused. haha 🙄

[2017-06-01 09:26] bmanikm commented on #135
@gluons Until this issue is understood and resolved, please use the following workaround on your machine.
Comment line 7060 in PSModule.psm1 file by putting `#` at the beginning of this line and restart the PowerShell Console then run Get-InstalledModule cmdlet.

C:\Program Files\WindowsPowerShell\Modules\PowerShellGet\1.1.3.1\PSModule.psm1:7060
[code]

[2017-06-01 10:59] gluons commented on #135
Thanks. That error gone for now.

[2017-06-06 02:21] bmanikm commented on #135
@gluons Could you please verify whether https://github.com/bmanikm/PowerShellGet/commit/9f6d9b674e6b7352254a91a8abf24a86bc34355f  fixes the issue on your machine?

# Please get the output of following commands from your machine.

[code]

[2017-06-06 22:43] joeyaiello commented on #114
@brianbunke yup, that's exactly the use case we're trying to fix here. In fact, VMware provided me this feedback already. 😄

[2017-06-07 02:15] brianbunke commented on #114
Ah, sorry for the duplicate! Couldn't tell from the description.

[2017-06-07 02:39] gluons commented on #135
@bmanikm  OK.
This is output from you script: [log.txt](https://github.com/PowerShell/PowerShellGet/files/1056767/log.txt)

[2017-06-07 17:54] brywang-msft opened #137 "Save-Module fails on WS2012R2 + WMF5 + Latest PSGet/PM"
Some environments with the setup in the title fail. Others are unable to repro.

# Repro
Save-Module on certain WS2012R2 + WMF5 + Latest PSGet/PM environments fails. AdministratorRightsNeededOrSpecifyCurrentUserScope appears to be in PSGet, though this seems to be related to contract issues between PSGet and PM, possibly due to a bad previous installation.

## Steps
1. Install WMF for PS4 on Serve

[2017-06-07 17:55] brywang-msft commented on #137
Spending some time to look into this

[2017-06-07 18:00] brywang-msft commented on #137
Mani mentioned it's just the EN-US folder being left behind. Using this to track whenever the EN-US folder is added back.

[2017-06-08 07:03] CermakPOI opened #138 "Update-ScriptFileInfo and New-ScriptFileInfo do not update ScriptFileInformation as described"
## Expected Behavior

The Script content should be extended with the provided ScriptFileInformation (Description, Releasenotes,...)

## Current Behavior

PS C:\WINDOWS\system32> New-ScriptFileInfo -Description "Script file description." -PassThru
This removes all previous Script content!

PS C:\WINDOWS\system32> Update-ScriptFileInfo -Description "Script file description."
Error System.InvalidOper

[2017-06-08 18:01] bmanikm commented on #138
@CermakPOI
By default, New-ScriptFileInfo should not replace the existing file, unless you specify -Force.
Have you tried to use Update-ScriptFileInfo with **-Force** switch for the existing script file which was not created using New-ScriptFileInfo?

[2017-06-09 07:19] CermakPOI commented on #138
Update-ScriptFileInfo with these parameters```

		Path		    = $FileScript
		CompanyName	 = "MyCompany"
		Copyright	   = "(c) 2017. All rights reserved."
		RequiredModules = 'POI.PS.Library'
		Version	  = $NewVersion
		Author	   = $Author
		Description  = $ScriptDescription
		ReleaseNotes = $NewReleaseNotes
		Force = $true
		PassThru = $true

[code]

[2017-06-09 10:57] bmanikm commented on #138
@CermakPOI Source file gets replaced only when the temp file proper and validated. Please take a look at https://github.com/PowerShell/PowerShellGet/blob/development/PowerShellGet/PSModule.psm1#L5673 .

Please note that
- New-ScriptFileInfo cmdlet is for creating a new script file with script info,
- Update-ScriptFileInfo is mainly for the script files with existing script info.
- Update-ScriptFil

[2017-06-14 08:27] CermakPOI commented on #138
I can send you the script per PM/email.

[2017-06-14 18:26] rebro-msft opened #140 "Add PreRelease metadata checks to Update-ModuleManifest/-ScriptFileInfo cmdlets"
See [Pre-Release RFC](https://github.com/PowerShell/PowerShell-RFC/blob/master/1-Draft/RFC0013-PowerShellGet-PowerShellGallery_PreRelease_Version_Support.md) for more information.

## Modules
- Update-ModuleManifest will accept a PreRelease parameter, validate it, and if valid will update the corresponding field in the PrivateData section of the module manifest, like the following:
[code]
- Update

[2017-06-16 00:46] bmanikm commented on #138
@CermakPOI, Could you please send it in PM on Gitter? My Gitter id is bmanikm. [![Join the chat at https://gitter.im/PowerShell/PowerShellGet](https://badges.gitter.im/PowerShell/PowerShellGet.svg)](https://gitter.im/PowerShell/PowerShellGet?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)

[2017-06-19 16:04] Jaykul opened #142 "PowerShellGet cannot publish modules with dependencies to galleries which require credentials"
If a gallery requires `Credentials` for search, PowerShellGet **cannot** publish modules to that gallery if they have RequiredModules which are not external.

## Expected Behavior

Publish-Module should publish modules, as long as their dependencies are either available on the repository being published to, or marked external.

## Current Behavior

PowerShellGet cannot resolve the module dependenc

[2017-06-19 17:36] gogbg commented on #142
I think it is not possible to pass credentials to nuget.exe in non-interactive session. I`m dealing with it by creating/updating a user profile nuget config file every time.

[2017-06-19 18:05] bmanikm commented on #142
@Jaykul This issue should be resolved with PR #93 . Could you please try with [the latest version (1.1.3.1) of PowerShellGet](https://www.powershellgallery.com/packages/PowerShellGet) and let us know if this issue is resolved or not?

[2017-06-19 18:09] Jaykul commented on #142
What nuget.exe can do is mostly irrelevant  -- the cmdlets support `-Credential` ...

When we invoke `Publish-Module` it calls `Find-Module` to determine if the module has already been published. In this first call, it passes the credential, so **_that_ works**.

However, after that, it calls `Publish-PSArtifactUtility` (which is an internal function containing the common part of publishing script

[2017-06-19 18:14] dotps1 commented on #142
i submitted a PR that was accepted that added this.

[2017-06-19 18:17] Jaykul commented on #142
You are absolutely right, @bmanikm, @dotps1  -- I can't believe I didn't see that release, but in my own defense, it came out right _after_ I started investigating all of this! 😉 I took vacation and got sidetracked by two other more "urgent" issues in the backlog, so the whole thing took longer than it should have.

Thanks guys -- I should have thought to check for a new release when I got back. I

[2017-06-19 18:17] #142 closed

[2017-06-19 20:22] Jaykul opened #143 "Missing NuGetApiKey should not throw exceptions on Publish-Module"
The NuGetApiKey is not **marked** mandatory on Publish-Module.

In point of fact, there are NuGet repositories, like the Visual Studio Online package repositories, which require credentials _rather than_ API keys, so this error (with id "NuGetApiKeyIsRequiredForNuGetBasedGalleryService") is technically incorrect anyway.

You should just try the publish and provide proper errors _when and if_ the a

[2017-06-19 20:36] Jaykul opened #144 "Why does Publish error handling check for a magic NugetApiKey?"
In the error handling for `Publish-PSArtifactUtility` there is [a test for `$NugetApiKey -eq 'VSTS'`](https://github.com/PowerShell/PowerShellGet/blob/development/PowerShellGet/PSModule.psm1#L8492) which is driving me crazy.

Under what circumstances does that actually come up? Doesn't it require that users know to use "VSTS" as a magical API key, but _not know **why**_ they should do so?  I mean,

[2017-06-20 17:53] bmanikm commented on #144
Thanks for the feedback. Yes, we should incorporate this feedback.

[2017-06-20 17:53] bmanikm commented on #143
I agree with you.

[2017-06-20 23:52] #135 closed

[2017-06-27 17:20] Jaykul opened #145 "BUG: Missing credentials cause TERMINATING exception."
I have used `Register-PSRepository` to add our internal PowerShell gallery, which requires credentials, and now I can't search for modules _without **explicitly** specifying which galleries to search_, or providing my credentials every time.

## Expected Behavior

I should just get a warning that I can't access one of my repositories, and the _other_ repositories should _still be searched_:

[code

[2017-07-05 00:29] RamblingCookieMonster opened #146 "Provide means to 'rate' gallery items"
Hi all!

Not sure where to post this.  The [uservoice item](https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/13799814-the-powershell-gallery-should-have-a-rating-system) is closed and seems dead, despite the solution not appearing to address the original request.

[This reddit thread](https://www.reddit.com/r/PowerShell/comments/6l92ql/powershell_modules_frameworks_sticky/)

[2017-07-10 19:44] bmanikm commented on #146
@JKeithB Could you please take a look at this issue?

[2017-07-12 22:21] joeyaiello opened #148 "Publish-Module traverses all of $PSModulePath when using -Path"
## Steps to Reproduce (for bugs)

[code]

## Expected Behavior

Publish should happen immediately because the exact location of the module is known. At the very least, it should be as quick as `Get-Module -ListAvailable`, as that should have all necessary information for `RequiredModules`.

## Current Behavior

If there's a bunch of modules installed on the machine, the publish could take minutes.

[2017-07-12 22:22] joeyaiello opened #149 "Simplify the issue template"
Just finished filling out the Issue template for relatively small issue, and it is *long*. Look to https://github.com/powershell/powershell/tree/master/.github/ISSUE_TEMPLATE.md for inspiration.

[2017-08-04 18:54] bmanikm opened #152 "Enable PowerShellGet Telemetry on PS Core using AppInsights API"
We need to use AppInsights API to enable PowerShellGet telemetry on PS Core as PowerShell Telemetry APIs got removed in PowerShell Core beta 4 build.

[2017-08-09 15:56] victor-sim opened #156 "Unable to Publish-Script if the script has 'REQUIREDSCRIPTS' or un-versioned Requires module"
If the script to publish has REQUIREDSCRIPTS in a comment and/or #Requires -Module, such as Script-WithDependencies1.ps1, Publish-Script fails due to NeGet.exe error.

## Expected Behavior
Publish-Script cmdlet should work when the script has REQUIREDSCRIPTS and/or Required modules without Min/Max/Required version info (defined as module name only)

## Current Behavior
Publish-Script cmdlet failed

[2017-08-10 15:56] victor-sim opened #158 "Enhancement suggestion for dependency script/module versioning"
## Expected Behavior
If required module has maximum version condition due to broken backward compatibility, install-script/module should guarantee any higher version than given condition should not be installed.
And if another dependency requires a higher version than previous max version condition, publish-script/module and/or install-script/module should report version conflicts on dependencies.

[2017-08-11 20:32] #156 closed

[2017-08-12 21:16] waffleshop commented on #25
+1

[2017-08-12 22:50] benpiper opened #159 "Installing module fails due to missing Microsoft.PowerShell.Commands.PowerShellGet.Win32Helper type"
Installing the AWSPowerShell.NetCore module fails on Windows due to missing Microsoft.PowerShell.Commands.PowerShellGet.Win32Helper type.

Steps to reproduce
------------------

[code]

Actual behavior
---------------

[code]

Adding the `-SkipPublisherCheck` flag is a workaround.

Environment data
----------------

[code]

[2017-08-14 04:30] SteveL-MSFT commented on #25
cc @KrishnaV-MSFT

[2017-08-15 17:58] dlwyatt opened #160 "Two problems with module publisher verification"
Function in question:  Get-AuthenticodePublisher (currently on line 14661 in the dev branch: https://github.com/PowerShell/PowerShellGet/blob/development/PowerShellGet/PSModule.psm1#L14661)

First problem is simple to fix:  It is apparently possible to have two identical certificates installed in the same store.  I don't know how, but it causes trouble with PowerShellGet, which assumes that Publis

[2017-08-15 21:45] bmanikm commented on #159
@benpiper This issue got resolved with PR #153 and the [newer version](https://www.powershellgallery.com/packages/PowerShellGet/1.1.3.2) of PowerShellGet got published to the PSGallery.

[2017-08-15 21:45] #159 closed

[2017-08-18 17:45] lipkau opened #161 "Means to aquire metadata of Gallery Item"
## Expected Behavior
I would like to show information from my module that is publish in the gallery on my homepage - in particular the # of downloads of my module.
I would like to query this kind of information using javascript.

## Current Behavior
It is currently not possible to do this

## Possible Solution
create a rest interface with which this can be done
`GET /api/rest/:module/downloads`

[2017-08-24 06:22] vors commented on #25
I'm amazed that it's still an issue.

I want to publish a new version of ZLocation https://ci.appveyor.com/project/vors/zlocation/build/0.2.0.104 and I have a build from a CI windows machine, but I don't have windows to publish it.
Current behavior is not only nuget, but essentially a 4+ Gb image of the windows OS.

[2017-08-24 07:04] SteveL-MSFT commented on #25
I just did a simple test removing the check for $IsCoreCLR and also defining $IsNanoServer = $false (the current check is incorrect and should be changed to [this](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/CoreCLR/CorePsPlatform.cs#L78)).  Some problem with `Get-DSCResource` so I made `Get-ExportedDscResources` just return an empty array.  After this, `p

[2017-08-24 21:06] bmanikm commented on #161
Cc: @JKeithB @KrishnaV-MSFT

[2017-08-24 21:28] JKeithB commented on #161
Interesting proposal. Question: would a REST API that provided that data be sufficient?
We will be monitoring this to see how many reactions it gets from others.

[2017-08-24 22:16] SteveL-MSFT commented on #25
@vors unfortunately my fix only makes it work on PSCore6 on Windows, still not supported on non-Windows due to dependency on nuget.exe

[2017-08-25 10:59] lipkau commented on #161
Yes. It would be sufficient for me :-)

[2017-08-25 14:07] wooseung-sim opened #164 "Specifying version requirements for REQUIREDSCRIPTS"
# Expected Behavior

For some reasons, scripts or modules might require specific versions of dependency modules and/or scripts. And publish module/script should validate and packaging it with proper dependency version condition.

## Current Behavior
Script/Module author can specify version requirements for dependency modules, but cannot for dependency script, as format of REQUIREDSCRIPTS accepts o

[2017-08-29 15:28] ryancbutler opened #165 "Update-ScriptFileInfo adds 2 extra lines each time run"
## Expected Behavior
Update-ScriptFileInfo should update PSScriptInfo values consistently without adding unnecessary extra lines

## Current Behavior
When Update-ScriptFileInfo is run it adds 2 extra lines between
[code]
## Possible Solution
New lines should not be added when Update-ScriptFileInfo run

## Steps to Reproduce (for bugs)
[code]
You'll see the line numbers increase each time update-sc

[2017-08-30 21:52] SteveL-MSFT commented on #25
Looks like my change only enables it for PSCore on Windows, so not a complete fix for non-Windows platforms.  No longer working on this.

[2017-08-31 18:37] pcgeek86 commented on #25
Is someone else taking ownership of this @SteveL-MSFT? What does this mean for the first launch version of PowerShell Core Edition?

[2017-08-31 19:20] SteveL-MSFT commented on #25
@KrishnaV-MSFT can you comment on whether we will get support by the time 6.0.0 is done?

[2017-08-31 20:33] bmanikm commented on #25
@SteveL-MSFT Could you please let us know the timelines for 6.0.0 release?
I will discuss with @KrishnaV-MSFT  to prioritize this work item for the first launch version of PowerShell Core Edition.

[2017-08-31 20:43] SteveL-MSFT commented on #25
@bmanikm per our [blog](https://blogs.msdn.microsoft.com/powershell/2017/07/14/powershell-6-0-roadmap-coreclr-backwards-compatibility-and-more/), we're targeting release by end of this calendar year

[2017-09-11 14:59] poortom1004 opened #166 "Install-Module fails when running as a different user"
profile-related files fail to install when installing a module from the repository.  It's common to have to run as a different user when needing to perform actions that require administrative access.

## Expected Behavior
Should be able to run powershell as a different user to install a module from the repository.

## Current Behavior

PackageManagement\Install-Package : Package 'AzureRM.profile'

[2017-09-11 15:20] #166 closed

[2017-09-17 02:01] juneb opened #167 "Find-Command -Name doesn't support globbing"
The Name parameter of Find-Command should support globbing. Otherwise, the user has to guess or know the *exact* name of the command, or get all commands and filter the Name property.

## Expected Behavior

Find-Command -Name "*foo*" should return all commands in the gallery with names that contain "foo". Today, this returns nothing, even if the gallery contains commands that meet the criteria.

I

[2017-09-19 12:06] athaynes commented on #6
@joeyaiello I know this is almost a year old, but it looks like an easy fix for me to make my first contribution to and wanted to see if you still want this implemented.

[2017-09-19 18:56] Geogboe commented on #60
@godefroi Can you elaborate on how you did this? My understanding is that PowerShellGet uses the Nuget Provider Assembly, not the plain old nuget.exe binary. Thanks!

[2017-09-20 13:19] godefroi commented on #60
@Geogboe I'm not sure what you're asking. NuGet.exe is definitely present; when I updated it, the problem was solved.

[2017-09-21 16:20] tylerl0706 opened #168 "Find-* cmlets should support -allowPrerelease or support all version flags"
During the bug bash for prerelease, we discovered a bug in the prerelease code. The bug was that when you do:

`Find-Module RebroTest* -AllowPrerelease` nothing shows up in the output.

After talking to Mani, this should throw an error because the design says that wildcards are not allowed with `-AllowPrerelease` (or with version flags at all) in `Find,Install,Update-Module`.

However, consider th

[2017-09-22 17:50] Blackbaud-ShaydeNofziger opened #169 "Install-Module should optionally install missing RequiredModules"
This is an enhancement request, one I'd be happy to implement and PR if accepted.

## Expected Behavior

Currently, `Import-Module` fails when a module listed in `RequiredModules` of the `psd1` file is not installed in the local environment.

I propose an enhancement to the `Install-Module` function to (optionally) install `RequiredModules` missing from the local machine.

## Current Behavior

Cur

[2017-09-22 17:59] Jaykul commented on #169
I don't understand.

Installing dependencies is _already_ built-in to Install-Module and even Save-Module. It's just not optional.  Are you proposing to make it optional?

[2017-09-25 20:59] Midacts commented on #136
@bmanikm How do you unlist a previous version?
(I only care about an internal publish of a module - not publishing to powershellgallery.com)

[2017-09-25 22:12] bmanikm commented on #136
Documentation on unlisting a published version on PowerShell Gallery --> https://docs.microsoft.com/en-us/powershell/gallery/psgallery/psgallery_unlist_items.

If you are working with your internal or custom repositories, please consider deleting the existing version then re-publish the same version.

[2017-09-25 22:16] Midacts commented on #136
"To unlist your item, visit the item details page and select 'Delete Item'.
Uncheck the 'Listed' checkbox, and click Save."

I have a internal nuget feed. I don't know if it has this option but I will
check in the morning.

How can you delete the current version?
There isn't a cmdlet for that.

On Sep 25, 2017 6:12 PM, "Manikyam Bavandla" <notifications@github.com>
wrote:

Documentation on unlisti

[2017-09-29 13:55] Jackbennett commented on #130
If users have scripts that require modules at X version, And update module replaces the available version then some script written long ago might break.

Maybe there should be a `Get-OutdatedModule` that could be piped to remove-module. At least the user intended to get rid of versions that way.

Similar problem solutions I've seen would be [npm prune](https://docs.npmjs.com/cli/prune). Perhaps a

[2017-10-04 13:55] pldmgg opened #170 "Updating PackageManagement Module in PowerShell Core - Assembly Name Conflicts"
I have a little script that I'm working on that attempts to update the PackageManagement and PowerShellGet Modules in PowerShell Core if they're not the latest. It seems like I'm getting a race condition in PowerShell Core beta.6 and 7 when I attempt to update the PackageManagement Module.

Here's a Git Gist with both the script (~100 lines) and the resulting errors I get on PowerShell Core beta.7

[2017-10-04 18:52] bmanikm commented on #170
@pldmgg Yes, it is required to start a new PowerShell Session to load the newly installed versions of PackageManagement and PowerShellGet modules. Please take a look at 'Get the latest version from PowerShell Gallery' section in [doc](https://docs.microsoft.com/en-us/powershell/gallery/psget/get_psget_module).

[2017-10-04 20:42] jakerobinson opened #171 "Offline installation of modules from Save-Module does not work on PS <5.x"
`Save-Module` downloads modules including a version folder in the path. Older versions of Powershell don't know how to import modules with a version in the folder path, and requires users to manually move around files to get the modules to work.

A user has provided details and a workaround here: http://www.powershellcrack.com/2017/09/installing-powercli-on-disconnected.html

See also: https://com

[2017-10-04 21:25] pldmgg commented on #170
To be clear, according to the output of 'Get-Module' for a brand new session in both Windows PowerShell and PowerShell Core, neither PackageManagement nor PowerShellGet Modules are loaded, which means none of their respective assemblies are loaded.

My script (around line 32) uses the "Find-Module" cmdlet (part of PowerShellGet), which automatically loads the latest locally available versions of P

[2017-10-04 21:39] bmanikm commented on #171
@jakerobinson Yes, the workaround is to use Save-Module on PS 4 or 3.

Option: -NoVersionFolder switch parameter can be added on Save-Module cmdlet to not create the version folder on PS 5 or newer. Thoughts?

[2017-10-04 22:02] jakerobinson commented on #171
That sounds like a perfect solution. :)

Cheers,

Jake Robinson

On Oct 4, 2017, at 5:39 PM, Manikyam Bavandla <notifications@github.com<mailto:notifications@github.com>> wrote:

@jakerobinson<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_jakerobinson&d=DwMFaQ&c=uilaK90D4TOVoH58JNXRgQ&r=lc17gVzCCmkDZaxAOyQw8Q&m=b_pQvsDbvioFS0txTXctDhsmkhjAmYBF8OmojDqmms4&s=DFZ2YATXOpHYfguL-hMGcMI

[2017-10-05 18:35] jakerobinson commented on #171
Also, how deep does this go? I am trying to find where that path gets added, and `install-package` from OneGet has the same behavior. I am guessing it is even deeper in the PackageProvider? What is actually putting that version into the path, and where do we want to remove it?

[2017-10-05 22:17] bmanikm commented on #171
@jakerobinson
https://github.com/PowerShell/PowerShellGet/blob/acee8cc49c4f8309776f30d1553a1b14f37fb09c/PowerShellGet/PSModule.psm1#L11099

[2017-10-07 07:12] lwsrbrts opened #174 "Install-Module CurrentUser path when Documents is redirected"
I've redirected my "Documents" location on my PC from C:\Users\name\Documents to D:\Google Drive\My Documents. Yes, the new location is called "My Documents" in this location, the point is that I've redirected Documents from its default location to here. The CurrentUser scope for Install-Module seems to ignore the special path for my "Documents" location on disk and just goes with the default C:\U

[2017-10-07 08:02] lwsrbrts commented on #174
Same issue with 6.0.0-beta.8

If I manually move the module after installation, it imports fine and works as expected.

[2017-10-08 00:48] SteveL-MSFT opened #175 "Install-Module should be installing to parent of $PSHOME for PSCore6"
Currently, `Install-Module` puts modules into a `Modules` folder under $PSHOME.  The problem is that when 6.0.0-beta.7 is upgraded to 6.0.0-beta.8, all the modules are "gone" since they are in the 6.0.0-beta.7 folder.  They should probably be installed in ${env:programfiles}\PowerShell\Modules which is already in $env:PSModulePath

[2017-10-11 18:39] BrunoMacias opened #176 "Documentation link in changelog is broken"
https://github.com/PowerShell/PowerShellGet/blob/development/CHANGELOG.md has the link below. But it doesn't go anywhere.

https://docs.microsoft.com/en-us/powershell/gallery/psget/module/RequireLicenseAcceptance

[2017-10-13 03:40] rkeithhill opened #177 "Publish-Module shouldn't warn about putting ReleaseNotes in psd1 file"
## Expected Behavior
I and I suspect others, like to keep ReleaseNotes.txt in a file in the root of our GitHub repo.  Burying the release notes in a PSD1 file in some dir is not a great approach from an OSS pov.  Also, we don't want to duplicate this information. So when I publish my module, I grab the contents of the ReleaseNotes.txt file in the root of my repo and pass those to the `-ReleaseNote

[2017-10-13 04:06] rkeithhill commented on #177
Can we put a link to the release notes in the ReleaseNotes section of the PSD1?  That wouldn't have to change with every release.

[2017-10-13 22:36] bmanikm commented on #176
Please take a look https://github.com/PowerShell/PowerShell-Docs/pull/1620 , this PR has been merged. It looks like the documentation is not yet deployed to live documentation site.

[2017-10-16 21:06] bmanikm commented on #176
https://docs.microsoft.com/en-us/powershell/gallery/psget/module/RequireLicenseAcceptance is live now.

[2017-10-16 21:06] #176 closed

[2017-10-17 08:31] cgmeijers opened #178 "Issues with installing AzureRM in Windows 10."
Not able to install AzureRM, because it can

## Expected Behavior
Install-Module AzureRM should install AzureRM, but does not.

## Current Behavior
Package 'AzureRM.ApiManagement' failed to be installed because: The process cannot access the file
'C:\Users\StijnM\AppData\Local\Temp\vosoicvg\Microsoft.Data.OData.dll' because it is being used by another process.

Trying to install the AzureRM module

[2017-10-17 21:47] lwsrbrts commented on #174
This PR should fix the issue.
#179

[2017-10-17 23:12] bmanikm commented on #178
@brywang-msft Please take a look at this issue in NuGet provider.
`Microsoft.PackageManagement.NuGetProvider.PackageUtility.DecompressFile(String fullZipPath)`

[2017-10-17 23:28] brywang-msft commented on #178
Does Save-Module work? Just trying to see if there's a way around this for you until we can get this fixed. Another possibility would be to install the module that you need rather than the whole AzureRM suite, which is a TON of dependencies. For example, ```Install-Module AzureRM.MachineLearning```.

[2017-10-18 08:40] cgmeijers commented on #178
Save-Module does work. How do I go from here?

[2017-10-18 11:32] lwsrbrts commented on #174
I'll close off this issue now as my PR has been merged.

[2017-10-18 11:32] #174 closed

[2017-10-18 12:25] lwsrbrts commented on #175
There's two options I think. My preferred option is at the bottom.

I think changing one line could achieve this but have a question in respect of x86 versus x64 versions of PowerShell. Does the x86 version of PowerShell Core install to C:\Program Files (x86)\PowerShell\ on an x64 machine and C:\Program Files\PowerShell on an x86 machine?

If so, what would the use of $env:ProgramFiles return in e

[2017-10-18 12:59] lwsrbrts commented on #175
Answering my own question without giving anyone enough time to respond...

Installing PowerShell x86 on an x64 machine puts PowerShell, by default in `C:\Program Files (x86)\PowerShell` however both `$env:ProgramFiles` AND `${env:ProgramFiles(x86)}` from the PSCore6 shell returns `C:\Program Files (x86)`, so that issue goes away.

However the user does have the option to install PowerShell whereve

[2017-10-18 16:45] SteveL-MSFT commented on #175
@lwsrbrts thanks for looking into this!  Once 6.0.0 is final, my thinking is that 6.0.x versions are upgrades to 6.0.0 while 6.1.0 would have an option in the installer to be side-by-side (need to see if this is actually possible).   Alternatively, all msi installed versions are upgrades and side-by-side is only supported via the .zip which means it could be put anywhere.

However, most modules sh

[2017-10-18 18:47] brywang-msft commented on #178
You should be able to use ```Save-Module AzureRM -Path $anyModulePath``` where ```$anyModulePath``` is any one of the paths in ```$env:PSModulePath``` (e.g. ```C:\Program Files\WindowsPowerShell\Modules\```).

Unless you meant something else?

[2017-10-23 22:01] larssb commented on #25
Mayn. Dang! I guess I have to bootup a Docker Container or a VM or something like that on my non-Windows so that I can publish modules and script to a private package management server I've setup. I really hope that the publish-module and publish-script cmdlets will become available in the RTM release of PS v6.

Fingers crossed :-)

[2017-10-23 22:06] BatmanAMA opened #180 "HTTPS PowerShellGet Repository invalid web uri"
## Expected Behavior
Register-PSRepository should complete without error

## Current Behavior
Register-PSRepository : The specified Uri 'https://pkg.contoso.local/nuget/PowerShell' for parameter 'SourceLocation' is an invalid Web Uri. Please ensure that it meets the Web Uri requirements.

## Steps to Reproduce (for bugs)
1. Create nuget repo on https url
2. `Register-PSRepository -Name testing -So

[2017-10-24 04:51] vors commented on #25
Common, it's like been a year since the issue is opened :(

[2017-10-24 19:47] bmanikm commented on #25
Community, please help us by contributing to this.

[2017-10-25 20:51] larssb commented on #25
Hi community and @bmanikm

Now, PowerShellGet is a pretty big PowerShell project. In regards to lines of code. But I thought, what the heck. Let me give it a look.

So here is my cup of "wisdom":
_The issue is with PowerShellGet relying on nuget.exe. NuGet is available on MacOS (I think on Linux as well) and looks to have the same commands as the version for Windows. Meaning:_

- We should be able

[2017-10-25 23:09] bmanikm commented on #25
Thanks @larssb, when you submit a pull request, you will have to complete the Contribution License Agreement at https://cla.microsoft.com.

Yes, NuGet can also be run on Mac OSX and Linux using [Mono](https://docs.microsoft.com/en-us/nuget/guides/install-nuget#nuget-cli), or through the [.NET Core CLI (dotnet)](https://docs.microsoft.com/en-us/nuget/tools/dotnet-commands). I think, for PowerShell

[2017-10-25 23:40] TravisEz13 opened #181 "Sign binaries for release build"
authenticode all binaries in the release builds of the module.

[2017-10-26 19:39] mmattes opened #182 "Update-ModuleManifest reverts back CompanyName and FunctionsToExport to default"
When using the following command `Update-ModuleManifest -Path $ManifestPath -ModuleVersion $NewVersion` the CompanyName and FunctionsToExport parameter gets set back to default

## Expected Behavior
`Update-ModuleManifest -Path $ManifestPath -ModuleVersion $NewVersion` should only update the ModuleVersion and should not touch any other value

## Current Behavior
`Update-ModuleManifest -Path $Manif

[2017-10-26 20:29] bmanikm commented on #182
I agree, CompanyName should not be changed to 'Unknown'.

FunctionsToExport change is by design as Update-ModuleManifest gets the output of Test-ModuleManifest and adds the list of function names exported by the current module. The best practice is to explicitly list the exported function names in the module manifest, this also helps in improving the command discovery performance for command autol

[2017-10-27 19:53] mmattes commented on #182
Isnt that bad design as no one would expect that behavior when reading `Update-ModuleManifest -Path $ManifestPath -ModuleVersion $NewVersion` ?

[2017-10-27 20:10] Jaykul commented on #158
This is **WRONG**.

Install-Script and Install-Module must guarantee that _at least one_ version that is less-than or equal to the expected maximum version **is** installed. They must not care if newer versions are also installed.

PowerShell at Import-Module time, must make sure to import the right version -- having multiple versions _available_ **is not a conflict.**

This is implicit in the und

[2017-10-27 23:23] victor-sim commented on #158
I think my issue description is not good enough and didn't cover what I mean well.

I meant last case on previous comment. You said it's acceptable, but it was not really acceptable for me when it really happened.

Let's assume that module A has dependency on Dumb and Dumber modules. And Dumb and Dumber has dependency on same module Dumbest which does not have backward compatibility. And unfortuna

[2017-10-29 00:26] bmanikm commented on #182
As mentioned earlier, the best practice is to explicitly list the exported function names in the module manifest, this also helps in improving the command discovery performance for command autoloading scenario. This functionality was added as per the feedback received from the community.

It looks like your module doesn't have any exported functions, right? that's why `FunctionsToExport = @()` got

[2017-10-31 07:12] Michal-Ziemba opened #183 "Can't Uninstall/Remove AzureRM module from PowerShell on Mac OS"
## Expected Behavior
I expect to be able to uninstall the AzureRM complete module with command
[code]
on the Mac OS

## Current Behavior
When trying to  uninstall the AzureRM module with the following command:
[code]
and listed Azure related modules hoping that they are gone, but apparently they haven't been removed:
[code]
## Possible Solution
there is a workarround suggested:
[code]

## Steps to

[2017-10-31 11:26] complexxL9 opened #184 "Find-DSCResource returns no results on internal PSRepository"
## Expected Behavior

`Find-DSCResource -Repository "internalPSrepository"`
should return a list of all DSC resources available in the internal PS repository
## Current Behavior

returns no results
## Possible Solution

## Steps to Reproduce (for bugs)

1. `Register-PSRepository -Name InternalPSGallery -SourceLocation https://www.myget.org/F/com/api/v2 -PublishLocation https://www.myget.org/F/com/

[2017-10-31 18:20] SteveL-MSFT commented on #183
It seems that what is happening is that on installation, psget finds dependencies and installs them.  But on uninstall, it doesn't do the reverse.  Seems like we need some ref counting and perhaps prompt the user to uninstall unused dependent modules for a cleaner experience.

[2017-11-01 19:46] bmanikm commented on #184
@complexxL9 Could you please get the output of following two commands from your machine?

[code]

[2017-11-02 00:38] bmanikm commented on #184
@complexxL9 It looks like tag based search is not supported in myget feeds. I have verified this with a custom myget feed.

[2017-11-02 23:06] JKeithB opened #186 "Confusing output from Update-Module -whatif"
Ran update-module -whatif, saw output for PackageManagement twice:
What if: Performing the operation "Update-Module" on target "Version '1.1.6.0' of module 'PackageManagement', updating to version '1.1.7.0'".
What if: Performing the operation "Update-Module" on target "Version '1.5.0.0' of module 'PackageManagement', updating to version '1.1.7.0'".
With Verbose on, it seems that PackageManagement

[2017-11-03 16:43] daxian-dbw opened #187 "Remove dependencies on $IsCoreCLR on PowerShell Core"
The powershell core committee has decided to remove the variable `$IsCoreCLR` from PowerShell Core.
Here is the related comment in the discussion of https://github.com/PowerShell/PowerShell/issues/4904: https://github.com/PowerShell/PowerShell/issues/4904#issuecomment-341258168

The fact whether it's running on CoreCLR can be checked by
[code]

[2017-11-03 17:25] daxian-dbw opened #189 "Need to update the CI builds to use the latest powershell-beta.9 package for tests on PowerShell Core"
I find that the CI builds are still using powershell-6.0.0-beta.5 for test runs on PowerShell Core.
PowerShell Core has some breaking changes in the recent 2 releases, and currently the latest release is beta.9. PowerShell Core is going to have the RC release on 11/15, so PowerShellGet should update its CIs to run on powershell core beta.9 as soon as possible, so that if there are any issues comin

[2017-11-05 23:24] #187 closed

[2017-11-06 16:43] daxian-dbw commented on #187
@bmanikm Thanks! Will a new module package be published soon?

[2017-11-06 22:21] aaronpowell opened #191 "Ignore files when using `Publish-Module`"
When I publish a module using the `Publish-Module` command to the PowerShellGallery it will automatically generate a `nuspec` file for me, and in turn a NuGet package is generated.

I'd like a way to mark files to be excluded from the package that I'm uploading so that I don't publish unneeded files, such as my Pester test scripts.

Currently my workaround for this is to have a step that copies al

[2017-11-06 22:54] SteveL-MSFT commented on #191
If the only concern is Pester test scripts, I think it's actually a best practice to include them.  In the future, maybe PowerShellGallery can leverage included test scripts.  However, if you have some other files you want excluded, perhaps PSGet can borrow something like .gitignore

[2017-11-06 23:08] aaronpowell commented on #191
I was using Pester as an example of something that's common, but it's not the old thing. I have `.gitignore`/`.gitattributes`/`.editorconfig` in the repo, a `.vscode` folder for launch/tasks, etc.

I also accidentally published a version of my module with a few hundred extra files because I hadn't cleaned up the repo from testing (the module is a [node.js version manager](https://github.com/aaronp

[2017-11-07 00:50] SteveL-MSFT commented on #191
I think a current workaround would be to have a PowerShel script to build and copy only the files you want to publish to a different folder in your $PSModulePath and use that to publish.

[2017-11-07 00:56] bmanikm commented on #187
@daxian-dbw We are planning to release a new version with Prerelease version support in couple weeks and before end of this month.

[2017-11-07 01:10] aaronpowell commented on #191
Yep that's essentially the approach I take at the moment.

[2017-11-07 01:50] adaviel opened #192 "Cannot install powershell modules on CentOS 7"
I have powershell-6.0.0_beta.9-1.rhel.7.x86_64 on CentOS 7.4.1708

**PS /root> Install-Module -Name psCheckPoint -Scope CurrentUser -Force**
... .. Installing package 'psCheckPoint' Downloaded 0.00MB out of 0.63MB Installing package 'psCheckPoint' Downloaded 0.31MB out of 0.63MB
[ooooooooo ] Installing package 'psCheckPoint' .. . Unzipping [ooooo ]

**S /root> Import-Module psCheckPoint Import-Mod

[2017-11-07 02:42] bmanikm commented on #192
@adaviel Can you get the debug output of following command from your environment?

[code]

[2017-11-07 21:26] larssb commented on #25
Hi @bmanikm et. al.

I've had a solid look at this the today and yesterday. It is not as easy peasy as I hoped. Some issues has been pacthed (in a raw way) others worked around in order to use dotnet on MacOS and Linux with PowerShellGet. However, there is still ways to go. But. I don't have the required knowledge of dotnet core, .csproj files and such. Currently the exact status is that dotnet pa

[2017-11-07 23:19] adaviel commented on #192
See attached file

[pwsh.debug.log](https://github.com/PowerShell/PowerShellGet/files/1452030/pwsh.debug.log)

[2017-11-08 14:06] Ben-Shirley commented on #180
coming across this too, this was an issue way back here it would seem

https://github.com/OneGet/testbuild/issues/2

although I am not 100% certain OneGet became PowerShellGet

[2017-11-08 19:45] bmanikm commented on #192
@adaviel Thanks for providing the debug output, unfortunately this debug output is not helping us in determining the root cause of the issue.

Is this issue happening only for psCheckPoint module?
Are you able to install any other module on your machine?
Do you know whether the psCheckPoint module is supported on PWSH?

Please use Save-Module as a workaround until we understand the root cause of t

[2017-11-08 20:11] adaviel commented on #192
I can not install any modules. I was told I needed to install MSOnline, which is why I was trying, but that turned out to be a different bug and I did not really need it.

I'm not that familiar with powershell; I do not know whether psCheckPoint is supported. A responder on a different tracker told me to try that, then said I should re-post the issue in this tracker.

See attached log. Save-Module

[2017-11-08 21:02] bmanikm commented on #25
Thanks @larssb! Yes, this is not a simple work item.
Yes, the creation of a .csproj file to use together with the .nuspec file is the right approach.

There are few other scenarios we need to handle here.
In my fork, I have made the required changes to enable the publish cmdlets on PWSH using dotnet commands. Please take a look at my 'in-progress' changes at https://github.com/bmanikm/PowerShellGe

[2017-11-08 21:02] bmanikm commented on #25
Thanks @larssb! Yes, this is not a simple work item.
Yes, the creation of a .csproj file to use together with the .nuspec file is the right approach.

There are few other scenarios we need to handle here.
In my fork, I have made the required changes to enable the publish cmdlets on PWSH using dotnet command. Please take a look at my 'in-progress' changes at https://github.com/bmanikm/PowerShellGet

[2017-11-09 00:02] bmanikm commented on #192
It looks like NuGet provider is unable to download the file on your machine.

[2017-11-09 01:23] adaviel commented on #192
[debug3.log](https://github.com/PowerShell/PowerShellGet/files/1455966/debug3.log)

It seems I do now have
/tmp/psCheckPoint.0.7.8/psCheckPoint.psd1

so that
Test-ModuleManifest -Path /tmp/psCheckPoint.0.7.8/psCheckPoint.psd1
and
Import-Module /tmp/psCheckPoint.0.7.8/psCheckPoint.psd1
work

[debug4.log](https://github.com/PowerShell/PowerShellGet/files/1455991/debug4.log)

[2017-11-09 01:57] #184 closed

[2017-11-09 02:01] bmanikm commented on #192
@adaviel Thanks for the logs.
From [debug3.log](https://github.com/PowerShell/PowerShellGet/files/1455966/debug3.log) and [debug4.log](https://github.com/PowerShell/PowerShellGet/files/1455991/debug4.log), it is clear that it is a NuGet provider issue where -ExcludeVersion is not honored.

@brywang-msft Could you please take a look at this issue in NuGet provider?

[2017-11-09 04:37] vors commented on #25
I think a manual install step is totally fine as a first version. Ideally it should be a copy-pastable one-liner, but in dotnet world it always can break...

[2017-11-09 11:47] Archdeacon opened #193 "Publish-Module with extra files"
PSVersion: 5.0.10586.117; Windows 7 Pro.
I have created a module needing more than one file, ie Help.chm, icon.jpeg and an XAML file. How do I include all this with the manifest psd1 in Publish-Module please?

[2017-11-09 19:17] bmanikm commented on #193
You need to place the required files under the module folder (the location of module manifest file).
- https://msdn.microsoft.com/en-us/library/dd878310(v=vs.85).aspx
- https://docs.microsoft.com/en-us/powershell/gallery/psgallery/creating-and-publishing-an-item

[2017-11-11 09:55] pauby commented on #85
@bmanikm I'm happy to look at updating the documentation but need clarification on what the Path parameter actually does as I can't seem to find that - both explanations in the help file (a path to the manifest or to the module) seem to be incorrect. Only way to publish a module is by having it somewhere on the $PSModulePath.

Once I have the clarification I'll submit a PR to update the docs.

[2017-11-11 15:26] mviveki opened #194 "Error while installing AzureRM Module"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

[code]
PS C:\Windows\system32> Install-Module AzureRM

Untrusted repository
You are installing the modules from an untrusted repository. If you trust this repository, change its
InstallationPolicy value by running the Set-PSRepository cmdlet. Are you sure

[2017-11-11 15:28] mviveki commented on #194
PS C:\Windows\system32> Install-Module AzureRM

Untrusted repository
You are installing the modules from an untrusted repository. If you trust this repository, change its
InstallationPolicy value by running the Set-PSRepository cmdlet. Are you sure you want to install the modules from
'PSGallery'?
[Y] Yes  [A] Yes to All  [N] No  [L] No to All  [S] Suspend  [?] Help (default is "N"): a
PackageMana

[2017-11-11 17:15] bmanikm commented on #85
@pauby Path parameter only accepts the folder path (module base) of a module to be published.
An example with -Path parameter can be found [here](https://docs.microsoft.com/en-us/powershell/gallery/psget/module/psget_publish-module).

Below two scenarios are not supported
- Module manifest (.psd1) file path
- Piping of the Get-Module output

[2017-11-11 17:29] bmanikm commented on #100
This issue got fixed in the latest version of PowerShellGet.

[2017-11-11 17:29] #100 closed

[2017-11-11 17:32] bmanikm commented on #194
This is duplicate of https://github.com/PowerShell/PowerShellGet/issues/178.

Please take a look at the workaround [option](https://github.com/PowerShell/PowerShellGet/issues/178#issuecomment-337690739).

[2017-11-11 17:32] #194 closed

[2017-11-11 17:32] #193 closed

[2017-11-11 17:35] bmanikm commented on #189
Resolved with https://github.com/PowerShell/PowerShellGet/pull/190.

[2017-11-11 17:35] #189 closed

[2017-11-11 18:51] mviveki commented on #178
Save-Module AzureRM -Path c:\"Program Files"\WindowsPowerShell\Modules\
WARNING: Package 'AzureRM.profile' failed to be installed because: The process cannot access the file
'C:\Users\mviveki\AppData\Local\Temp\lj0ljfh4\Microsoft.Azure.Commands.Common.Authentication.Abstractions.dll' because
it is being used by another process.
WARNING: Dependent Package 'AzureRM.prof

[2017-11-11 18:52] mviveki commented on #194
Tried to save the module, but the same error.
Save-Module AzureRM -Path c:\"Program Files"\WindowsPowerShell\Modules\WARNING: Package 'AzureRM.profile' failed to be installed because: The process cannot access the file'C:\Users\mviveki\AppData\Local\Temp\lj0ljfh4\Microsoft.Azure.Commands.Common.Authentication.Abstractions.dll' becauseit is being used by another process.WARNING: Dependent Package '

[2017-11-13 22:20] brywang-msft commented on #178
@cgmeijers @mviveki Similar to [this](https://stackoverflow.com/questions/46555027/zipfile-extracttodirectory-failing-on-net-core-2-0) I believe this is an environment issue. That said, I've prototyped a risky workaround that might bypass your issue. You can get the zip [here](https://github.com/brywang-msft/oneget/blob/file-in-use/PackageManagement.zip).

May I ask you to please retry the scenari

[2017-11-14 21:28] bmanikm commented on #181
@TravisEz13 PowerShellGet and PackageManagement module contents are always authenticode/strongname signed when released to the PowerShell Gallery. Could you please let us know what work is involved here?

[2017-11-14 22:16] TravisEz13 commented on #181
It's probably showing up as not properly signed in the tool because you are using sha1 signing.  SHA256 is required.  Speak to me offline on how to update your build.

[2017-11-15 20:58] larssb commented on #25
Hi @bmanikm,

Just had a go at your fork [bmanikm fork](https://github.com/bmanikm/PowerShellGet/commit/12a18df79b2df18984a928fb31d1e9c2ae477b21).

- It works! Wonderful, fan-freaking-tastic 👍 I can now use publish-module on PWSH v6 beta 9.

Just needed to do theese two fixes:

<img width="1376" alt="screen shot 2017-11-15 at 21 53 56" src="https://user-images.githubusercontent.com/5261530/3285976

[2017-11-16 00:16] bmanikm commented on #25
@larssb thanks for validating the changes on MacOS. I have incorporated the above suggested change.
Yes, once the above to-do list is complete, we can publish the newer version of PowerShellGet to the PSGallery.

[2017-11-23 05:14] devblackops opened #197 "Errors with Get/Set-PSRepository on Windows Subsystem for Linux (WSL)"
## Expected Behavior
Getting / setting PowerShell repositories should behave the same in WSL as they do in Windows.

## Current Behavior
We're getting odd errors getting and setting PowerShell repositories here https://github.com/psake/psake/issues/237 where we are setting the PSGallery repository installation policy to `Trusted` if needed. This works fine on Windows but in WSL (Ubuntu) it is thro

[2017-11-24 18:03] bergmeister opened #198 "Publish-Module does not work if RequiredModules has $PSScriptRoot in module path"
I am trying to publish a module that declares a dependency on another module in the manifest and this dependency gets shipped as part of the module in the same working directory. I declare it as:
[code]
`Publish-Module` would only allow me to upload the module if I replaced `$PSScriptRoot` with `.\`so that it becomes `RequiredModules = @(".\vsts-cli-tabcompletion.psd1")` but when someone installs

[2017-11-25 10:43] bergmeister commented on #198
Note that I could resolve my issue by using `NestedModules` instead where the relative path `.\` to the dependent module worked. Maybe this is by design but I found the documentation to be not very helpful/intuitive.

[2017-11-25 18:38] larssb opened #199 "PowerShellGet in non-interactive mode. Importing the module fails. Using it fails."
I'm trying to use PowerShellGet in a script running through a PowerShell Scheduled Job. This gives me several issues.
- Having PowerShellGet as part of the requiredmodules section in my modules manifest file makes my module fail to load.
- Trying to do import-module inside the main script of my module throws this error
`
.....Cannot bind argument to parameter 'Path' because it is null.
`
- In turn

[2017-11-25 18:48] larssb commented on #199
On the other side I can see that Import-Module PackageManagement does not fail. And I can do Install-Package > the PowerShell module I want and it will install it to the PowerShell modules folder. So what does PowerShellGet give me, now don't misunderstand me, I think PowerShellGet is quite cool, but why was it "invented" so to speak?

Thanks a million.

[2017-11-25 22:59] #108 closed

[2017-11-26 00:38] bmanikm commented on #198
Since the dependency is part of the module folder, it is needs to be listed as part of the NestedModules entry.
New-ModuleManifest cmdlet documentation can be found [here](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/new-modulemanifest?view=powershell-5.1).

[2017-11-26 00:39] bergmeister commented on #198
thanks

[2017-11-26 00:39] #198 closed

[2017-11-27 13:05] jongisli opened #200 "Publish-Module can't overwrite - nuget can"
## Expected Behavior

Overwriting modules is impossible.

## Current Behavior

I'm developing PowerShell modules, and I have two nuget repositories, one for snapshots (modules under development) and another one for releases (production ready modules). I'm using Artifactory as an artifact management, and I've set up both repositories as nuget feeds in there.

First time I publish a module with Powe

[2017-11-28 01:06] #109 closed

[2017-11-28 01:06] #110 closed

[2017-11-28 01:06] #111 closed

[2017-11-28 01:07] #112 closed

[2017-11-28 01:07] #113 closed

[2017-11-28 01:07] #140 closed

[2017-11-29 07:30] bmanikm commented on #25
Submitted PR https://github.com/PowerShell/PowerShellGet/pull/196 for this.

[2017-11-29 09:07] bmanikm commented on #199
@larssb
Below script worked fine for me. Can you get the output of below script from your repro machine?
If your scenario is different, please provide the simple script which reproduces the reported issue.

[code]

[2017-11-30 12:41] loshurik commented on #199
could anybody advise what to do in the DSC case?
I'm using PackageManagement resource in pull mode
the code works if I apply the configuration directly from the node and fails in non-interactive mode
here is my code:
`			PackageManagement Agent
			{
				Name = "MyAgent"
				Source = "http://link.to.my.nuget.repo/sorry/cannot/provide/real/link"
				Ensure = "Present"
				ProviderName = "NuGet"

[2017-11-30 21:34] bmanikm commented on #199
@loshurik Can you provide the error details? Please ensure that NuGet provider is installed. If possible, please provide the steps to reproduce the reported issue.

[2017-12-02 21:45] larssb commented on #199
@bmanikm look at my post in > https://github.com/OneGet/oneget/issues/324 <-- had to go in another direction in order to make the system I do work. I don't know when I will have time to reproduce and give info on the issue....sooo

[2017-12-05 03:52] #25 closed

[2017-12-06 00:28] bmanikm commented on #175
Updated AllUsers scope install location on PWSH to the parent of $PSHOME. https://github.com/PowerShell/PowerShellGet/pull/196.

[2017-12-06 21:40] smurawski opened #204 "Non-Prerelease Modules do not install over Prerelease versions without -force"
The new prerelease support allows for prerelease naming of the package, but that doesn't reflect at all on PowerShell's versioning.

If I install module foo with a version of 2.0.0-beta1 (and powershell version 2.0.0), then later try to install foo 2.0.0, the second module install will silently fail.

## Expected Behavior
Installing the released version of a module should supercede the prerelease

[2017-12-07 04:12] JKeithB commented on #204
I think this is consistent with general behavior for Install-module. If I am missing something, please help me figure it out...
At home, I happen to have an old version of posh-git installed (some spaces removed)
PS C:\WINDOWS\system32> find-module posh-git
Version    Name                                Repository           Description
-------    ----                                ----------

[2017-12-07 14:01] jkavanagh58 opened #205 "AllowPrereleaseVersions parameter cannot be found"
Installed version 1.6.0 and on one machine I receive
Get-Package : A parameter cannot be found that matches parameter name 'AllowPrereleaseVersions'.
At C:\Program Files\WindowsPowerShell\Modules\PowerShellGet\1.6.0\PSModule.psm1:2525 char:39
+         PackageManagement\Get-Package @PSBoundParameters | Microsoft. ...
+                                       ~~~~~~~~~~~~~~~~~~
    + CategoryInfo

[2017-12-07 14:53] smurawski commented on #204
@JKeithB Your example has different version numbers.. mine is when the version number is the same, but one is a pre-release version.  You get no prompt about the module being present already when you try install the module again.  Side by side won't work in this case, because as far as PowerShell is concerned, the modules have the same version.  The pre-release information is only part of the nuge

[2017-12-07 17:21] JKeithB commented on #204
@smurawski do understand the difference. Good feedback, and thanks.
The reason we have the error is that prerelease version 2.0.0-beta is treated a lesser version than the stable version 2.0.0, but because the versions are same we skip the errors. Either way, we aren't generating any information to the user to tell them that (a) the action failed and (b) what to do.

[2017-12-07 19:23] JKeithB commented on #204
We talked through this, and want to clarify why we are choosing the behavior: it's about consistency. We will have to generate the proper errors, using the following mini-spec.
Ignoring prerelease versions for a moment, when a version X of a module exists on the system, and a version X+ is the higher-level version that's available, then:
install-module -requiredversion X                 #is a sile

[2017-12-07 20:32] sdwheeler commented on #130
@JKeithB - We need a way to uninstall a module and all its dependencies. Adding that functionality to Uninstall-Module should be very simple. I wrote the following function to uninstall a module and its dependencies.

[code]

[2017-12-07 20:39] sheldonhull commented on #205
@jkavanagh58  Ok, thanks for this :-) I just had the same issue. will try "turning it on and off again"

[2017-12-07 20:45] bmanikm commented on #205
Re-launching the PowerShell console should resolve the issue.
For more details on installing the newer version of PowerShellGet can be found [here](https://docs.microsoft.com/en-us/powershell/gallery/psget/get_psget_module).

[2017-12-07 22:41] JKeithB opened #206 "PowerShellGet prerelease feature does not work with fileshare psrepositories"
Repro steps:
1> Create a local file share SomeName    (and don't use that one)
2> Run elevated new-psrepository LocalShare -SourceLocation \\localhost\NameOfYourShare
3> Create 2 copies of a module in different subfolders named:
     Prerelease\MyMod\1.0.0                        <-- This copy of the module has prerelease string 'alpha'
     Stable_ver\MyMod\1.0.0                        <-- This mo

[2017-12-08 00:00] bmanikm commented on #206
I am unable to reproduce the reported issue. I found that it is not possible to remove the prerelease entry using Update-ModuleManifest cmdlet, I had to manually delete the Prerelease entry in .psd1 file.

[code]

[2017-12-08 00:18] JKeithB commented on #206
Unable to repro now, also. Closing issue.

[2017-12-08 00:18] #206 closed

[2017-12-11 19:57] JKeithB opened #207 "Upate-Module warns (and should not) when upgrading prerelease module"
The new prerelease functionality for update-module is generating an inappropriate warning in some cases, and requiring the user to use -Force. This may be related to [the Install-Module issue](https://github.com/PowerShell/PowerShellGet/issues/204) previously filed.

## Current behavior
Repro case:
[code]

## Expected Behavior
Update-module should succeed in both cases without warning.
In the firs

[2017-12-14 21:42] splatteredbits opened #208 "Find-Module fails when module has a prerelease version"
When a module (or any module) in the PowerShell Gallery has a prerelease version (like Pester currently does), `Find-Module` fails with a terminating exception and returns nothing.

## Expected Behavior
I expect `Find-Module` to work when searching for a module that has a prerelease version.

## Current Behavior
(Note: you get the same error with no parameters.)
[code]
                if ($psgetIt

[2017-12-15 07:37] bmanikm commented on #208
@splatteredbits From the above provided details, it looks like you have not installed the 1.6.0 version of PowerShellGet under `C:\Program Files\WindowsPowerShell\Modules` or under a path listed in $env:PSModulePath.  Take a look at the output of Get-PackageProvider output, it shows older version (1.0.0.1) of PowerShellGet provider. Where did you install the 1.6.0 version of PowerShellGet? I don't

[2017-12-15 08:03] splatteredbits commented on #208
@bmanikm Those are the system-installed versions. We are manually loading our own versions of PackageManagement and PowerShellGet (in that order) as nested modules in our module. The error reproduces with no global package management modules installed and with the latest versions of the package management modules installed. I’ve stepped into 1.6.0 in a debugger.

[2017-12-15 09:17] splatteredbits opened #210 "Save-Module fails with PackageManagement 1.1.7 when saving to a specific directory"
The Save-Module command fails using 1.1.7 of the PackageManagement module and saving the module to a specific path.

## Expected Behavior
I expect to be able to save a module to a specific path.

## Current Behavior
I get this error and no module is installed:
[code]

## Possible Solution
The `Save-Package` command has five parameter sets, but only two of them have the `AllowPrereleaseVersions`. I

[2017-12-15 22:47] bmanikm commented on #208
@splatteredbits Import-PackageProvider command usage is required in your above steps.
You will have to import the PowerShellGet provider from your own version of PowerShellGet module.

Updated steps (Please note that these steps are applicable only when the PackageManagement and PowerShellGet modules are imported from a custom path which is not listed in $env:PSModulePath)
- Import PackageManageme

[2017-12-15 22:49] bmanikm commented on #210
This is a duplicate of https://github.com/PowerShell/PowerShellGet/issues/208. Please take a look at my answer in https://github.com/PowerShell/PowerShellGet/issues/208#issuecomment-352130987 .

[2017-12-15 22:50] #210 closed

[2017-12-22 18:07] Jaykul opened #212 "Find-Module needs a -FullyQualifiedName ModuleSpecification parameter set"
The module commands in PowerShell (Get-Module, Import-Module, Remove-Module, and even Get-Command etc.) all support a `-FullyQualifiedName` parameter which takes a `[Microsoft.PowerShell.Commands.ModuleSpecification]` object that has the `Name` and either a `RequiredVersion` or a `MinimumVersion` and/or a `MaximumVersion` ...

Find-Module accepts these parameters, but doesn't work with the objects

[2017-12-22 18:56] MaximoTrinidad opened #213 "Concerns using Update-Module causing multiple versions of the same module"
I've been experiencing issues running script due to having multiple versions of the same module installed in my system.

I good example is with the AzureRM modules. Then, I just use the Update-Module cmdlet to update (is my understanding) AzureRM module from version 5.0.1 to the latest version 5.1.1

## Expected Behavior

To see  AzureRM module upgraded from version 5.0.1 to the latest version 5.1

[2017-12-25 11:35] schwaizi commented on #200
+1

[2017-12-25 20:33] potatoqualitee commented on #123
LOL I'm entertained that my comments are so controversial. Merry Christmas everyone! 🎁 Has there been any progression within the team to solve or close this issue?

Thanks,
Chrissy

[2017-12-25 20:44] potatoqualitee commented on #123
Also, I had to go the manual route for PowerShellGet last week and that was a pain. The information is all over the place since the prominent link provided to **PowerShellGet** actually requires PowerShellGet in the first place.

![image](https://user-images.githubusercontent.com/8278033/34342798-c33ecf2c-e9bb-11e7-92a2-6179403d2859.png)

It'd be 💣 if there could be two emphasized links - one for

[2017-12-25 20:56] potatoqualitee commented on #123
Just noticed that @kilasuit's screenshot varied from mine. It's closer to my request than the current state. However, I'd say that `WMF` only means something to people who understand PowerShell. It's too technical (sans the win10 promot, glad to see it's gone). How about:

`Install PowerShell Gallery access (PowerShellGet) on PowerShell 3 & 4`
`Update PowerShellGet for PowerShell 5+`
`Don't know y

[2017-12-26 08:29] Glober777 commented on #102
It would be also great if there was a scope option to register PSRepository on a system-wide level

[2017-12-26 09:11] Glober777 opened #214 "[Feature Request]: Ability to configure PSRepository on a system-wide level"
It would be great if there was a way to register a PSRepository on the system-wide level, so that if configured once, it would work for all the users on a particular system.

## Expected Behavior
`Register-PSRepository` should have a `-Scope` parameter added, to control whether a particular PSRepository needs to be registered for just the current user of for the whole system (similar to the behavi

[2017-12-31 00:34] rmegal opened #216 ""Cannot convert value" Error Installing Latest Version"
I'm trying to upgrade to 1.6.0 so I run this:

install-module -Name PowerShellGet -Force

And get this:

PackageManagement\Install-Package : Cannot convert value "1.2.0-preview" to type "System.Version". Error: "Input string was not in a
correct format."
At C:\Program Files\WindowsPowerShell\Modules\PowerShellGet\1.0.0.1\PSModule.psm1:1809 char:21
+ ...          $null = PackageManagement\Install-P

[2018-01-02 20:38] bmanikm commented on #216
@rmegal I am unable to reproduce this issue. Please provide [more details](https://github.com/PowerShell/PowerShellGet/issues/new) to reproduce this issue.

[2018-01-02 20:41] #208 closed

[2018-01-02 20:48] JKeithB commented on #123
@potatoqualitee - thanks for the updates, there are multiple topics so responding in reverse-chron order:
- The explanation on our (over) use of vernacular helps a bunch. That is definitely something we try to avoid. And yes, the front-page UI changed since May, in an attempt to make it more simple.
- On manual installation, we can write the info, have 2 questions: why did you need to do full manu

[2018-01-02 22:38] rmegal commented on #216
Updating the NuGet provider resolved the problem:

[code]

I ran the install again after this without any problems. Then I ran:

[code]

Thanks.

Ray

[2018-01-02 22:38] #216 closed

[2018-01-03 09:06] KevinMarquette opened #217 "Publish-Module is doing a string comparison and not a version comparision"
When my published version was "0.4.9.310" and when I tried to publish version "0.4.10.1", I got this error message:

    Publish-Module : Module 'MyModule' with version '0.4.10.1' cannot be published. The version must exceed the current version '0.4.9.310' that exists in the repository or you must specify -Force.

Debugging the publish took me to this line where a string comparison was performed w

[2018-01-03 09:57] KevinMarquette opened #218 "Republishing PackageManagement to internal repo changes version from 1.1.7.0 to 1.1.7"
## Expected Behavior
Running Save-Module and then Publish-Module to internal repo should not change the published version number when published to the internal repo even if the patch number is 0.

## Current Behavior
The repacking of the module to a nupkg is dropping the patch version if it is 0. The internal PSGallery lists the truncated version when doing a Find-Module.

## Possible Solution
Cou

[2018-01-03 11:20] KevinMarquette commented on #218
This version mismatch is causing the install from the secondary repo to be bad. `Install-Module` is installing it but using the version that was published to the gallery in the module folder. The issue is that the psd1 version does not match the folder.

[code]

I can install `PowerShellGet` from that secondary repo, but without the dependency module, it will not import. This also allows me to get

[2018-01-03 17:48] KevinMarquette commented on #218
I tried to republish using the 1.0.0.1 version of PowerShellGet and ran into a file not found error. Looking at the temp packaging folder, I see the nupkg is created without that trailing 0. `PackageManagement.1.1.7.nupkg`.

I suspect this may be a known issue.

[2018-01-03 17:55] KevinMarquette commented on #218
possibly related to #131

[code]

[2018-01-03 18:21] KevinMarquette commented on #218
The issue with the package changing looks like a nuget version normalization issue. https://github.com/NuGet/Home/issues/3050

I tested this with nuget 4.4.1.4656 and had the same issue.

[2018-01-03 18:40] KevinMarquette commented on #218
based on the info in #131 I was able to get this to publish correctly using nuget version `2.8.60717.93`

[2018-01-04 00:38] bmanikm commented on #217
Resolved with https://github.com/PowerShell/PowerShellGet/pull/219.

[2018-01-04 00:38] #217 closed

[2018-01-09 16:07] Sholdaway commented on #200
+1 from me too

[2018-01-09 19:21] alexsalisbury commented on #178
Having this issue both with Install-Module and Save-Module with several different packages (including MicrosoftTeams most recently) . I tried the above and it did not work for me. Near as I can tell it's an issue with Trend Micro's Real Time Scan Service. Unfortunately, I'm on a corporate machine and unable to kill this service. I suspect a pause and retry when encountering this error would work.

[2018-01-11 19:03] rkeithhill opened #220 "Get-Module -List -All lists duplicate entries"
For every version of a module I have installed, gmo PSReadLine -list -all shows two entries.

## Expected Behavior
I expect to see this:
[code]

## Current Behavior
I see this:
[code]
## Possible Solution

## Steps to Reproduce (for bugs)

1.  I'm trying this on WSL on Windows 10 1709. I'm using the Ubuntu 16.04 from the Windows Store.
2. Install PS Core 6.0.0 (GA)
3. install-module psreadline -Re

[2018-01-11 22:19] bmanikm commented on #220
@rkeithhill It looks like a PowerShell issue. If so, please open this in https://github.com/PowerShell/PowerShell repo.
Can you check the values in $env:PSModulePath? Please remove the duplicate entries, if any.

[2018-01-11 22:57] rkeithhill commented on #220
I don't see any dupes in the env var:
[code]

[2018-01-13 23:26] bmanikm commented on #220
@rkeithhill Please open an issue for this in PowerShell repo.

[2018-01-13 23:31] rkeithhill commented on #220
@daviwil used a tool that allowed him to move Git issues between repos.  For the future, you might look into using such a tool.

Re-submitted here - https://github.com/PowerShell/PowerShell/issues/5900

[2018-01-13 23:35] daviwil commented on #220
Yep, https://github-issue-mover.appspot.com is really helpful!

[2018-01-14 17:46] vojtechvit opened #221 "Update-ModuleManifest prefixes all CmdletsToExport with DefaultCommandPrefix"
## Steps to reproduce
[code]
## Expected Behavior
`SampleManifest.psd1` should contain `CmdletsToExport = 'Test-Me'`

## Current Behavior
`SampleManifest.psd1` contains `CmdletsToExport = 'Test-MyMe'`

[code]

[2018-01-14 17:57] vojtechvit opened #222 "*-ModuleManifest should support SemVer 2.0"
PowerShell Core 6.0 seems to be adding [support for SemVer 2.0](https://docs.microsoft.com/en-us/powershell/scripting/whats-new/what-s-new-in-powershell-core-60?view=powershell-5.1#semantic-versioning). `Prerelease` manifest field value validations should be updated to allow series of dot separated identifiers.

[2018-01-14 18:22] vojtechvit opened #223 "New-ModuleManifest -PrivateData does not work with nested hashtables"
## Steps to Reproduce
[code]

## Expected Behavior
`c.psd1` file should contain:
[code]

## Current Behavior
`c.psd1` file contains:
[code]

## Your Environment
[code]

[2018-01-16 23:22] #220 closed

[2018-01-16 23:23] bmanikm commented on #223
This issue was moved to PowerShell/PowerShell#5922

[2018-01-16 23:23] #223 closed

[2018-01-17 20:46] JKeithB commented on #222
This is something we want to address in the future, but we cannot at this time.
The PowerShell Gallery is based on NuGet v2, which only supports SemVer 1.0.0 prerelease versions.

[2018-01-18 15:41] MookeyUK commented on #178
I had exactly the same issue with Install-Module and Save-Module on Windows 10-1607 with Trend OfficeScan installed. IT have it locked down so I can't disable the software to confirm but updating the PackageManagement module to 1.1.7.2 worked for me so thanks for the temporary patch!

My other development machines (Win10-1703 with Windows Defender and 1607, 1703 and 1709 all with McAfee) work with

[2018-01-22 07:58] 0NG opened #224 "Custom installation path"
In the [document](https://docs.microsoft.com/en-us/powershell/gallery/psget/module/psget_install-module), I cannot find any way to install modules into a custom directory when using Install-module. Is there any way, or is it going to allow users to custom the installation paths of modules like [PsGet](https://github.com/psget/psget)?