[2020-03-30 23:47] alerickson commented on #586
@bganapa in Core could you run the install cmdlet with -Scope CurrentUser -Verbose -Debug
I'd like to see where exactly it's failing because you're right, it very well may be the wrong error getting thrown here.

[2020-03-30 23:57] keystroke commented on #586
[code]

[2020-03-31 00:17] alerickson commented on #586
Thanks @keystroke! Could you try running
`Install-Module -Name AzureStack -Repository azrc -RequiredVersion 2.0.0-preview -AllowPrerelease -Scope CurrentUser`   in PowerShell Core as well?

[2020-03-31 02:37] keystroke commented on #586
@alerickson Sorry, above was not for PowerShell core, just normal PowerShell. Changing the scope to "CurrentUser" functions as a workaround for me on full PowerShell.

[2020-04-09 22:39] aavdberg opened #596 "Install-Module for PSReadLine 2.1.0 Beta 1 on PowerShell 7"
When i try to install PSReadLine 2.1.0 Beta 1 on PowerShell 7 i get the following error:

![image](https://user-images.githubusercontent.com/22030609/78702403-d0eb4400-7908-11ea-9487-45c007e213be.png)

This is the information:

![image](https://user-images.githubusercontent.com/22030609/78702721-52db6d00-7909-11ea-831d-268cae7d2644.png)

[2020-04-11 08:24] aavdberg commented on #596
And there is also no solution so getting nowhere only redirected from one place to the other.

[2020-04-12 03:53] KevinZonda opened #597 "Cannot push to PSGallery"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]
![image](https://user-images.githubusercontent.com/33132228/79060132-ea4b1200-7cb3-11ea-9001-8a14c4504dea.png)

Environment data
----------------

[code]

[code]

[2020-04-12 05:05] KevinZonda commented on #597
I found the code which gives the exception

![image](https://user-images.githubusercontent.com/33132228/79061014-3a2ed680-7cbe-11ea-9db7-bdb9a0a28c83.png)

[2020-04-13 02:25] alerickson commented on #596
@aavdberg I was waiting for a response to Justin's comment above.  Are you running as admin?

[2020-04-13 07:00] aavdberg commented on #596
Yes i am running as Admin, i solved the problem when i did see that Windows 10 Protected folders was blocking it.
![image](https://user-images.githubusercontent.com/22030609/79099809-41f58600-7d65-11ea-8f67-ea63bd6acb87.png)

[2020-04-13 07:04] aavdberg commented on #596
So did this command in cmd with administrator rights.

![image](https://user-images.githubusercontent.com/22030609/79100047-c3e5af00-7d65-11ea-969f-41b9974b4991.png)

[2020-04-13 07:05] aavdberg commented on #596
But why powershell 7 gets blocked on Windows 10, where i have to report this and who will do something with it?

[2020-04-13 16:03] alerickson commented on #596
For that, please open an issue in the [PowerShell](https://GitHub.com/PowerShell/Powershell) repo.

[2020-04-13 16:05] alerickson commented on #596
For that, please open an issue on the [PowerShell](https://GitHub.com/PowerShell/PowerShell) repo.

[2020-04-17 05:33] idear1203 opened #599 "Fail to install PowerShellGet module 2.2.4"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[code]

[code]

[2020-04-17 16:56] Kelvysb commented on #599
For now I found a workaround for that problem, just skip the publisher check using  -SkipPublisherCheck on the Install-Module command.

[2020-04-17 17:10] alerickson commented on #599
Unfortunately, yes, the -SkipPublisherCheck needs to be added for that installation.  I needed to get a security patch out, but will work on completely removing the catalog file as it seems to be a relic from older days and doesn't provide much functionality anymore.

[2020-04-18 01:38] mohandatla opened #602 "Unable to install latest version from PSGallery"
I can not activate the below issue, creating a new issue to follow up on this.
Workaround is to unblock, but this needs to be fixed correctly,
https://github.com/PowerShell/PowerShellGet/issues/124

[2020-04-18 02:55] idear1203 commented on #599
Thanks you both for the quick reply and explanation! Please let me know once the catalog file is removed.

[2020-04-18 13:10] KevinZonda commented on #597
![image](https://user-images.githubusercontent.com/33132228/79638609-fc97e500-81b8-11ea-97cf-77121eb74b10.png)

The error in PS 7.

My Windows 10 is 1903. Some 1909 can push successfully.

[2020-04-18 20:54] alerickson commented on #597
Thanks for pin-pointing the problem!  From your original post it seems like the nupkg is getting created properly but somehow parsing the full file name isn't working.  Could you let me know if the nupkg exists in the temporary folder that gets created (particularly when running in Windows PS since I see that the nupkg is definitely getting created there)?

[2020-04-19 02:34] KevinZonda commented on #597
![image](https://user-images.githubusercontent.com/33132228/79677964-f7727e80-8228-11ea-924e-34ef9dbba35b.png)

@alerickson I think the NUGET package doesn't exit? My Windows user name is chinese, may it affect results?

[2020-04-20 07:40] hbagarich commented on #599
I have the same problem but with Update-Module cmdlet. The Update-Module does not have -SkipPublisherCheck flag, is there a workaround for it?

[2020-04-21 00:26] daxian-dbw commented on #596
Oh, that's a change in Windows that moves the user's Documents folder to OneDrive. That means the same issue will potentially happen to all modules that are ships with PowerShell, including PowerShellGet. @joeyaiello Can you please take a look here?

[2020-04-22 16:34] bganapa commented on #586
@alerickson Can you please update the issue here with your findings?

[2020-04-22 22:14] alerickson commented on #599
Hi @hiteshraigandhi, for future reference you can use Install-Module instead of Update-Module, as update (for all intents and purposes) simply calls to install.

However, there's a new release, [2.2.4.1](https://www.powershellgallery.com/packages/PowerShellGet/2.2.4.1), which no longer contains the catalog file.  You should be able to update appropriately with this version.

[2020-04-22 22:14] #599 closed

[2020-04-22 22:55] alerickson commented on #597
@KevinZonda thank you!  That's unfortunate, from the logs it seemed like the .nupkg was getting created properly, but not pushed (possibly due to incorrect parsing), but I'll have to dig in a bit more to see why exactly the nupkg isn't getting created properly.

I have a few more questions for you:
Do you have the nuget executable installed?
What is your $env:ProgramData path?

Could you install t

[2020-04-23 22:42] SydneyhSmith commented on #602
Thanks this issue should resolved in the latest version of PowerShellGet, released to mitigate this issue-- I will reopen if this reproduces with 2.2.4.1?

[2020-04-23 22:42] #602 closed

[2020-04-24 00:46] alerickson commented on #586
I noticed that the issue occurred to modules that have Az.Accounts as a dependency.  Whenever the Az.Accounts module was being used by the process but also being checked by PowerShellGet to see if it’s installed on the system, the error would get thrown.

When this error occurs you can unload the Az.Accounts module or restart the powershell console.

If anyone’s experiencing this with a module tha

[2020-04-27 20:26] RobCannon commented on #457
Is there a work-around for this?  We are seeing this behavior and it is blocking powershell usage on our hardened centos servers.

[2020-04-27 23:09] alerickson commented on #457
@RobCannon I'll properly address this issue with the GA of [PowerShellGet v3](https://github.com/powershell/powershellget), but as a workaround, could you try changing the umask value to 002 before installation?

[2020-04-29 01:55] idear1203 commented on #599
@alerickson , I see 2.2.4.1 has been unlisted. So we meet the same issue again. May I know why the 2.2.4.1 is unlisted and when this update issue will be fixed?

[2020-04-29 14:19] RobCannon commented on #457
@alerickson I tried this command to install on a fresh image and it does not work:
sudo -- sh -c 'umask 002; yum install -y powershell'

I think I could fix this by setting file permissions explicitly on specific directories.  Do you know which directories should be changed?

[2020-04-29 14:54] RobCannon commented on #457
Running this seems to fix problems with finding modules.  But installing module still does not work.
[code]

Get-PackageProvider is still not working.  Not sure what file/directory it is trying to use.  The permissions of /opt/microsoft/powershell/7 look right to me.  It is -rw-r--r-- on .dll and most other files and -rwxr-xr-x for executables.  Everything works if I run 'sudo pwsh', but we are tr

[2020-05-01 14:02] RobCannon commented on #457
I was able to fix the issues for us.  As part of our image creation script, we were installing powershell, but also later running a script to install some modules into the AllUsers scope.  The servers from this image will be used in places that are blocked from the internet, so we need to get the module baked into the image.

Anyway, when that script runs, it is running under the hardened umask 07

[2020-05-06 22:22] phonegi opened #604 "Find-Module -AllVersions does not produce output"
A Windows PowerShell v5.1 session:

    PS H:\> $PSVersionTable

    Name                           Value
    ----                           -----
    PSVersion                      5.1.17763.1007
    PSEdition                      Desktop
    PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
    BuildVersion                   10.0.17763.1007
    CLRVersion                     4.0.30319.42000

[2020-05-06 22:36] glatzert opened #605 "Not able to use PSGallery since PS7"
(This issue has been postet do OneGet as well, but PSGallery points here for PackageManagement, so I recreate a similar one here).

I tried moving to PS7 and got stuck with module installation via PowerShellGet:

[code]

This seems like a hen-and-egg problem for me, and I have tried multiple ways to solve it.
Can you advise, what needs to do, to "reset" PowerShellGet into a working state? (Reinsta

[2020-05-06 22:39] SydneyhSmith commented on #605
Thanks @glatzert, to be clear your issue is resolved if you import version 2.2.3 correct?

[2020-05-07 10:08] glatzert commented on #605
I can **mitigate** the issue by explicitly loading PackageManagement Version 2.2.3.
So I'd not call it resolved, but I'm not the one deciding for your product.

[2020-05-17 11:39] glatzert commented on #605
I think I found the underlying problem for the issue.

I installed Powershell 6 some time ago and it created `C:\Program Files\PowerShell\Modules` where `PowerShellGet 2.0.1` has been placed by PS6.
If you install PowerShell 7, it'll place `PowershellGet 2.2.3` in `C:\program files\powershell\7\Modules`.

The $env:PSModulePath will be
`C:\Users\MyUserPAth\Documents\PowerShell\Modules;C:\Program Fi

[2020-05-18 06:53] glatzert commented on #597
I'm seeing this behaviour as well (V 2.2.4). If needed, I can provide additional information about my system and environment. dotnet SDK is installed as well.
Using WindowsPowershell mitigates the problem (V 2.0.1)

ProcMon Traces and similar would be possible, as well as screen sharing via Teams or S4B

[2020-05-18 15:16] KevinZonda commented on #597
I install dotnet SDK too. What's ur Windows build? 1809, or...?

[2020-05-18 15:18] glatzert commented on #597
The latest installed dotnet SDK is 3.1.202
Windows Version is 1903

[2020-05-18 15:43] KevinZonda commented on #597
I want to upgrade my Windows. May it works.

[2020-05-19 22:11] alerickson commented on #605
@glatzert I missed this comment, but  thanks for this in depth investigation!  I actually think the ordering of your module paths is correct... the 'c:\program files\powershell\7\Modules' path should contain the modules that come in-box with PowerShell 7 and the 'C:\Users\MyUserPAth\Documents\PowerShell\Modules' and 'C:\Program Files\PowerShell\Modules' should contain modules installed and scoped

[2020-05-19 22:22] glatzert commented on #605
I can recreate the original issue, if I swap the paths.
Module loading seems to prefer the latest version from each location, but stops looking in other locations if one matches (thus loading the older 2.0.1 from the path, which PS6 already used to insall it).

I swapped the pathes (7 before plain) and it loads fine for PS7, but then creates issues for PS5 (probably because, I messed up the PSModu

[2020-05-19 23:28] viralmodi commented on #595
@peombwa @SydneyhSmith We are seeing this same issue about unable to Install or Publish pre-release modules which depend on other pre-release modules. Is there any resolution to this? If not, what are the possible workarounds?

[2020-05-19 23:29] viralmodi commented on #517
@SteveL-MSFT @matteo-prosperi  We are seeing this same issue about unable to Install or Publish pre-release modules which depend on other pre-release modules. Is there any resolution to this? If not, what are the possible workarounds?

[2020-05-19 23:41] alerickson commented on #517
@viralmodi linking to [this issue](https://github.com/PowerShell/PowerShellGet/issues/85) regarding a workaround for publish.

What module are you trying to install?  I'd like to test if there's a work around for this but can't easily find a module with a prerelease dependency.

[2020-05-20 01:12] viralmodi commented on #517
@alerickson Its a work-related module internal (pre-release) to our office. It depends on another internal (pre-release) module. You could create a couple of helloworld modules, make one dependent on another by adding a manifest file and test it.

[2020-05-20 01:19] alerickson commented on #517
@viralmodi is the installation for a pipeline/DevOps oriented use?

[2020-05-20 01:23] alerickson commented on #517
@viralmodi  do you still have the issue if the dependency are installed before the module?

[2020-05-20 01:58] viralmodi commented on #517
@alerickson We maintain an internal version of our tools and an external version. The internal version or the pre-release version carries pre-release feature which get released as per the release cadence. The employees in our company have access to all pre-release features. Our pre-release versions are tagged as <productname><release version as per semver><-preview.build_id>. Our release versions

[2020-05-20 02:29] matteo-prosperi commented on #517
@viralmodi I was not able to find a workaround. I simply released the prerelease modules with "normal" versioning marking them as prerelease in the module description.

[2020-05-20 02:36] alerickson commented on #517
@viralmodi the current preview release of PowerShellGet v3 should address this issue since we handle semver syntax:  https://www.powershellgallery.com/packages/PowerShellGet/3.0.0-beta3 .
I can't think of any workarounds that would be appropriate for you situation.

I'm currently working on publishing functionality for v3 as well, so that should be out in the next couple of weeks and address the c

[2020-05-20 05:32] viralmodi commented on #517
@alerickson Thanks. We will try out the PowerShellGet v3 and let you know. Will wait for your fix in Publish functionality as well.

[2020-05-20 06:25] glatzert commented on #605
It was late, when I answered, so I did not fully digest `PowerShell/7/Modules` being the out-of-the-box packages, so - yes - the order is correct.. Nevertheless, if you are upgrading and have a smaller version in your `Powershell/Modules` directory, it'll get messy.

What solved it for me (for good now):
 - Reset $PSModulePath (now empty, PS will add everything neccessary it seems)
 - ipmo PowerSh

[2020-05-21 07:54] deoradh commented on #586
I was seeing this with 7.1.0p3 and install-module posh-git.  Turned out it was protected folder access.  Allowing pwsh through the block resolved the issue for me.

[2020-05-29 00:13] viralmodi commented on #517
@alerickson PowershellGet v3 will be default in which powershell versions? We are thinking of using some other workarounds for versioning of our preview product for internal users so they do not have to rely on PowershellGet v3 install to install our cmdlets.

[2020-06-01 21:02] Stephanevg commented on #510
Hi @SydneyhSmith Is thins one fixed ?
I am facing the same issue on MacOS.
Using powershellget / packageManagement really really frustating as I keep just bumping into issues... :(

[2020-06-01 21:55] Stephanevg opened #606 "Failed to generate the compressed file for module 'Cannot index into a null array'."
I am trying to publish a module from a MacOS.
@SydneyhSmith tagging you hopping you can help resolve this one quickly.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[code]

[code]

I went and debugged a little bit setting a breakpoint here and there. I noticed that the

[2020-06-01 21:59] Stephanevg commented on #510
Ha, it looks there was a PR for this -> https://github.com/PowerShell/PowerShellGetv2/pull/567
Is actually somebody working on this project?

[2020-06-01 22:20] alerickson commented on #510
Hi @Stephanevg, no one is actively working on this repo.  I'm currently working on publish functionality for the v3 version of [PowerShellGet](https://github.com/powershell/powershellget).  That should be released in the next week or two.  We're only really accepting security PRs for this repo right now.

[2020-06-08 20:30] aavdberg commented on #596
@daxian-dbw @joeyaiello have now the same with installing PowerShellGet

Install-Module -Name PowerShellGet -AllowPrerelease -Force
![image](https://user-images.githubusercontent.com/22030609/84077455-a5074000-a9d7-11ea-9fae-9b76c3de18a6.png)

[2020-06-08 20:47] daxian-dbw commented on #596
From @aavdberg:

@SydneyhSmith For context, Windows moved the personal document folder to OneDrive, and it looks it blocks PowerShell from accessing the folders there, including the user module path folder (see https://github.com/PowerShell/PowerShellGetv2/issues/596#issuecomment-612780010). Can you please point @aavdberg to the right place to report this issue?

[2020-06-08 21:41] alerickson commented on #596
@aavdberg for the time being if you want a workaround you can update $env:PSModulePath to have the old documents folder prioritized on the path:
`
$env:PSModulePath = "<PreviousDocumentsPath>; $env:PSModulePath"`

[2020-06-08 21:57] aavdberg commented on #596
Thank you @alerickson just Friday received my new Surface Book 3 and was setting up everything. So I don't have a previous path.

But I can create a new location and copy all the content from the current location to this new location when I understand right?

[2020-06-08 22:01] alerickson commented on #596
@aavdberg, yup that'll work... the previous default documents path was:
 `C:\Users\<username>\Documents\PowerShell\Modules`

[2020-06-08 22:10] daxian-dbw commented on #596
I doubt if that will work for `Install-Module`. If `Install-Module` still treats the onedrive path as the personal module path, then it will not try to install modules to the newly created location.

[2020-06-08 22:17] aavdberg commented on #596
Indeed not working and also when i remove the onedrive location from the env.

[2020-06-08 22:19] alerickson commented on #596
Ah okay, in that case as a workaround you can use Save-Module -Destination <PreferredPath>

[2020-06-11 18:11] FISHMANPET commented on #604
I came across something like this just now.  Out of curiosity, does it work if you specify add `-AllowPrerelease` to your search?  It's not likely to be fixed, but I think I found a bug here:
https://github.com/PowerShell/PowerShellGetv2/blob/8c61ce7687de813438b0698c6eb461f610aa25ca/src/PowerShellGet/public/psgetfunctions/Find-Module.ps1#L158
Specifically this part `$psgetItemInfo.AdditionalMetada

[2020-06-12 20:49] dburtsev opened #625 "Install-Module Unable to resolve package source 'https://www.powershellgallery.com/api/v2'."
## Steps to reproduce

[code]

## Expected behavior
Performing the operation "Install-Module" on target "Version '2.2.4.1' of module 'PowerShellGet'".
[code]

## Actual behavior
DEBUG: 00:00:00.0000143 Trying provider assembly: C:\program files\powershell\7\Modules\PackageManagement\coreclr\netstandard2.0\Microsoft.PackageManagement.CoreProviders.dll
DEBUG: 00:00:00.0000221 Trying provider assembl

[2020-06-15 23:34] FISHMANPET opened #607 "Publish-Module prerelease version validation differs from documentation"
According to the [PowerShell documentation on PreRelease Modules](https://docs.microsoft.com/en-us/powershell/scripting/gallery/concepts/module-prerelease-support?view=powershell-5.1#identifying-a-module-version-as-a-prerelease), the valid characters for a prerelease string are `[0-9A-Za-z-]`, specifically including the hyphen.  The Code to validate the prerelease string omits the hyphen, so a pre

[2020-06-15 23:35] FISHMANPET commented on #607
Nevermind, this is a dupe of #561 and the explanation there is better than mine, closing this.

[2020-06-15 23:35] #607 closed

[2020-06-18 22:52] PrzemyslawKlys opened #608 "Single entry in ExternalModuleDependencies not respected"
Here's a simple PSD1 file

[code]

It seems that when there's only one RequiredModules or ExternalModuleDependencies it is ignored by PowerShellGet. If there are more external module dependencies it will work.

[code]

[2020-06-27 03:25] kumbham commented on #517
@alerickson is there an update on the Publish module? I'm still facing the following issue with the latest PowershellGet v3 module.

[code]

[2020-07-01 16:45] DrStrangepork commented on #516
I am having this issue as well. I think the root cause is having no package provider on the system for the user. The debug log says `Try 'Get-PackageProvider -ListAvailable' to see if the provider exists on the system.` When I run that command as a non-root user:
[code]
I even tried this after giving the current user rights to the PowerShell-related local folders
[code]

[2020-07-06 15:01] franklupo commented on #606
Same problem!
News

[2020-07-10 21:05] egl35720 opened #609 "HOLY SHIT : Unable to install AZ module on Win2012r2 : cycling issues PowershellGet / Nuget / PackageProvider / PSGallery"
Hello to all,

I have to manage an Azure File Syn Proof of Concept, with data on 3 different Win2012r2 file servers.
Our outsourcer that manage Azure Tenant and Azure resources wants I install AZ Module on file servers.
So I first installed successfully .NetFramework 4.8 and WinManagement Framework 5.1 ($PSVersiontable.PSVersion = 5.1.14409.1018), HTTPS 443 is enabled toward Internet (also SSL 2.0

[2020-07-10 21:09] alerickson commented on #609
I've transferred this issue here, as PowerShell/PowerShellGet is the active repository for development of the v3 version.

Please try updating PowerShellGet to version 2.2.4.1 (the latest stable) and starting a new PowerShell session

[2020-07-14 14:42] franklupo commented on #606
Hi,
I am currently blocked as I need to publish,
how can I do?

Best regards

[2020-07-15 06:48] egl35720 commented on #609
Thank you Alerickson.

I just donwloaded **"PowershellGet 2.2.4.1"** from PowerShell Gallery.
I unzipped **"powershellget.2.2.4.1.nupkg"** in directory **"powershellget"** and renammed file **"PowerShellGet.nuspec"** as **"PowerShellGet.nuspec.BAK"** so I copied unzipped directory **"powershellget"** to :

**C:\Windows\System32\WindowsPowerShell\v1.0\Modules**
**C:\Program Files\WindowsPowerShell\

[2020-07-15 09:51] EpicLPer commented on #461
In case someone finds this Issue via Google (since it's pretty high up in the results) having the same problem as me trying to install "AzureADPreview" yet still getting a confirmation prompt despite using `-Confirm:$false` here's an even simpler solution.

Simply do `Set-PSRepository -Name 'PSGallery' -InstallationPolicy Trusted` to shortly set PSGallery as trusted, then use `Install-Module` to i

[2020-07-16 22:43] johnwc opened #610 "Uninstall-Module doesn't remove/delete module"
I am trying to remove older module versions that are no longer being used. I run the command to point to a specific version of the install module, but nothing happens. It looks from the vernose output as if it is using an incorrect path for the module removal.

## Steps to reproduce

[code]

## Expected behavior

Correctly find the installed location and remove module.

## Actual behavior

Doesn't

[2020-07-16 22:47] cveld opened #611 "parsing_wstrust_response_failed when installing a module"
At our self-hosted Azure DevOps build agent we are hitting strange behavior of PowerShellGet.

Whereas on the virtual machine in a regular Windows account we can just hit `Install-Module Az.Storage`, in the context of the local system account - in which the agent is running - this results in the following exception:

[code]

Somehow the infrastructure is not able to retrieve the credentials for th

[2020-07-16 22:52] SydneyhSmith commented on #611
@cveld are you able to install the module if you also provide the credential at `Install-Module` time?

[2020-07-17 20:08] cygnim commented on #596
I also ran into this exact problem and can confirm saving the module to another location and then copying it to the local module path worked. Hopefully this can be fixed soon as the problem is not obvious.

[2020-07-22 11:56] cblackuk commented on #586
Still the same issue on 2.0.1-preview on W2016 on PS5.1.

Absolutely no issues on W2019 PS5.1.

[code]
![image](https://user-images.githubusercontent.com/28607803/88173581-ba000180-cc1a-11ea-8b78-654cd0ae1640.png)

[2020-07-31 11:15] #593 closed

[2020-08-02 13:13] glatzert commented on #597
Can you give any progress on this?
Or can we provide anything to allow you fixing the bug or providing us a workaround?

[2020-08-02 13:26] glatzert opened #612 "[BUG] Registering default PSRepostiory fails silently when there's no connection via proxy"
Steps to reproduce
------------------

- Get a machine, which connects to the internet via proxy.
- Make the proxy return 403.

[code]

Expected behavior
-----------------

The command has output, which makes it easy to determine, the requested operation failed - possibly with HTTP-failure message.

[code]

Actual behavior
---------------

The command does not return anything indicating an error (

[2020-08-02 14:07] glatzert commented on #597
I just did some digging and I think I found the underlying problem:

Text-Parsing!

[code]

My machine speaks german. It'll probably report "Nuget-Packet erfolgreich erstellt" or something similar.

[2020-08-03 22:22] codaamok opened #615 "ScriptsToProcess property must be valid before being able to update"
If my current module manifest includes a ScriptsToProcess property with invalid values (i.e. files that do not exist), I cannot update it using `Update-ModuleManifest`. An exception is thrown.

For example, the below may be the current value for ScriptsToProcess in my module manifest, and the referenced files do not exist.

[code]

I think it would be ideal to allow the user to replace the existin

[2020-08-06 23:20] rbeesley commented on #610
I don't know that this is related, but I'm hitting an issue where PowerShellGet isn't uninstalling modules although it presents slightly different behavior:

[code]

You can see in the Verbose message that it thinks it successfully uninstalled the module, but the module is still there. The steps to reproduce show a similar message but without the error.

[2020-08-20 15:57] tiberius-code opened #617 "Uninstall-Module error (pwsh v7.03): Index (zero based) must be greater than or equal to zero and less than the size of the argument list"
# Steps to reproduce
any module uninstall (modules installed by default in user mode, user documents file path on a onedrive synced folder):

Uninstall-Module -Name "AWSPowerShell.NetCore" -Force -AllVersions
Uninstall-Module -Name "AIPService" -Force -AllVersions
Uninstall-Module -Name "Microsoft.Online.SharePoint.PowerShell" -Force -AllVersions

## Expected behavior
Successfull uninstall

## Act

[2020-08-24 21:38] Jaykul opened #619 "PowerShellGet 2.1.4: Credential Providers | Authentication is STILL BROKEN"
I don't know why PowerShell/PowerShellGetv2#133 was closed when this is still so **COMPLETELY BROKEN**

We cannot work with repositories that require credentials unless we ...
... pass credentials
... with _every_,
... _single_
... call.

#### That's not how any of this is supposed to work.

For example, following the docs for the [Azure Artifacts CredProvider](https://github.com/Microsoft/artifac

[2020-08-25 12:00] robquinn commented on #586
This also resolved the issue for me. Specifically, these were the steps I took for any others wondering:

1. Click Start and search for "Windows Security"
2. Click "Virus & Threat Protection" in the left side-menu
3. Scroll down to the middle of the page, where it says "Virus & Threat Protection Settings", and click "Manage Settings"
4. Again, Scroll down to the middle of the page, where it says "

[2020-08-25 13:27] cblackuk commented on #586
Wish I could do that, but no such thing on Win Server 2016... at least not that I can see...

[2020-08-25 16:43] bganapa commented on #586
In case of AzureStack and AzureStack Specific Az modules, The issue happens when the Az.Accounts module is already loaded in the powershell session and then another module that has az.accounts module is being installed. The error message is completely misleading..
The workaround is to open a new session and install the module from there.
@alerickson has a fix queued up for this issue

[2020-08-25 16:44] cblackuk commented on #586
Sadly that is not really true either as I can replicate it on brand new session and even inside W2016 Core docker containers.

[2020-08-26 11:43] Machibuse commented on #606
Same Problem here under windows.

no solution, i cant publish

[2020-09-03 15:08] yamamoWorks commented on #606
Same Problem here under windows too.

[2020-09-03 17:18] alerickson opened #620 "Placeholder"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[code]

[code]

[2020-09-03 18:06] yamamoWorks commented on #606
Cause is language maybe...

This script will search standard-out of dotnet command with text message.

[src\PowerShellGet\private\functions\New-NugetPackage.ps1]
$stdOut -match "Successfully created package '(.*.nupkg)'" | Out-Null
$nupkgFullFile = $matches[1]

My computer run in Japanese,  dotnet command output is Japanese.
パッケージ 'C:\Windows\Temp\1346427969\FooBar\FooBar.0.0.1.nupkg' が正常に作成されました。

[2020-09-04 14:49] franklupo commented on #606
I use Italian. What is the solution?

Best regards

[2020-09-04 16:10] Machibuse commented on #606
I downgraded to an older version and replaced the nuget.exe with an actual version. this worked for me.

[2020-09-04 16:24] franklupo commented on #606
Wich version?

Best regards

[2020-09-08 15:35] DutchBlackOp opened #621 "Get-Package: issue with -Name parameter not working"
There seems to be an issue with the -Name parameter for the Get-Package version. It does not work.

![image](https://user-images.githubusercontent.com/19817594/92110971-daaba180-edeb-11ea-96ac-725bfefc5e0e.png)

After I search for the packages from a specific provider the result seems to be somehow cached:

![image](https://user-images.githubusercontent.com/19817594/92111194-3e35cf00-edec-11ea-9ef

[2020-09-08 16:29] ld0614 opened #622 "PowerShellGet doesn't automatically check for NetFx version of CredentialProvider.Microsoft.exe"
Steps to reproduce
------------------
Install fresh Windows 10 1903 with no additional software
[code]

Expected behavior
-----------------

[code]

Actual behaviour
---------------

[code]

Looking at the code it appears that only .nuget/plugins/netcore/CredentialProvider.Microsoft/CredentialProvider.Microsoft.dll in the user profile is checked.  The advice from https://github.com/microsoft/artif

[2020-09-08 16:30] clientFDJ opened #623 "Get-CredsFromCredentialProvider Option 1b) Find User-location - The NuGet Home location"
Steps to reproduce
------------------
- Environment variable **NUGET_PLUGIN_PATHS** is not set.
- Windows : file **$env:UserProfile/.nuget/plugins/netcore/CredentialProvider.Microsoft/CredentialProvider.Microsoft.dll** exists.
- GNU/Linux, MacOS : file **$HOME/.nuget/plugins/netcore/CredentialProvider.Microsoft/CredentialProvider.Microsoft.dll** exists.

[code]

Expected behavior
-----------------

[2020-09-08 19:48] SteveL-MSFT commented on #517
v3 beta10 fixes this issue.  I don't believe we'll spend time fixing this in v2.

[2020-09-08 19:48] #517 closed

[2020-09-09 09:24] bgelens opened #624 "Copyright Exception with Update-Module"
I get this `The property 'Copyright' cannot be found on this object. Verify that the property exists.` error when I update modules (any module).

Steps to reproduce
------------------

[code]

![image](https://user-images.githubusercontent.com/10071039/92579936-18964300-f28e-11ea-81a8-22774290ae0a.png)

Expected behavior
-----------------

Not throw an error

Environment data
----------------

Bot

[2020-09-10 13:11] Machibuse commented on #606
Sorry for the Late answer, i was not at work for the last days.

I downgraded PowerShellGet To 1.0.0.1

After the first usage of Publish-Module there will be an old nuget.exe at

C:\Users\<UserName>\AppData\Local\Microsoft\Windows\PowerShell\PowerShellGet\

I replaced the nuget.exe with with version 5.6.0.6591

Then Publish-Module works fine for me.

Maybe you also need to set the correct TLS Vers

[2020-09-27 10:31] timrossback commented on #617
@tiberius-code Are you finding that deleting the module folders works fine for you? I'm having the same issue, but I don't want to delete folders if they're going to leave behind broken references etc.

[2020-09-27 10:40] timrossback commented on #610
This seems to be quite a prolific issue - I'm also having this issue, and based on the number of issues, so are other people. Has there been any developments on resolving this issue?

[2020-09-29 16:26] Bruab1 commented on #625
Try this:
Run PowerShell as Administrator, and run the following command to force TLS1.2 protocol:

`[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::tls12`

[2020-09-29 19:24] dburtsev commented on #625
Bruab1, I already did.
[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::tls12 doesn't work on some stand-alone servers in our network.

[2020-10-08 14:51] cveld commented on #611
@SydneyhSmith Now we are getting the error on the windows-latest agent as well. Maybe this was always the case but we didn't try this until now.

I was also fiddling with a separate download of the Azure Artifact credential provider, found on https://github.com/microsoft/artifacts-credprovider#azure-artifacts-credential-provider
to no avail.

`$env:NUGET_PLUGIN_PATHS = "D:\Downloaded\Microsoft.NuG

[2020-10-15 21:00] jmb1304 commented on #625
I am having this same issue. I tried to force it to use TLS 1.2 and it also did not fix the problem.

[2020-10-20 09:17] mikejwhat commented on #625
Any update on this please?

[2020-10-22 03:18] tig opened #628 "Install-Package can't find pre-release nuget package"
This package: https://www.nuget.org/packages/Terminal.Gui/1.0.0-pre.5

`Find-Package` shows the pre-release versions if I use `-AllowPrereleaseVersions`.

[code]

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[code]

[code]

[2020-10-22 03:24] #628 closed

[2020-10-22 03:25] tig opened #629 "Install-Package can't find pre-release nuget package"
This package: https://www.nuget.org/packages/Terminal.Gui/1.0.0-pre.5

`Find-Package` shows the pre-release versions if I use `-AllowPrereleaseVersions`.

[code]

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[code]

[code]

[2020-10-22 19:22] SydneyhSmith commented on #629
@tig looks like this only reproduces with the nuget v2 path try updating you package source location to: https://api.nuget.org/v3/index.json

[2020-10-23 16:51] dburtsev commented on #625
No updates

[2020-10-27 11:24] veerajarasa commented on #625
Forcing  TLS1.2  fixed my issue. Thanks to Bruab1

[2020-10-27 11:34] sdwheeler opened #630 "Update-ModuleManifest corrupts PrivateData in module manifest"
This bug by @jformacek is copied from https://github.com/MicrosoftDocs/PowerShell-Docs/issues/6767

Usage of this command on existing module manifest breaks it's content. I wanted to use this command inside build pipeline to update ModuleVersion attribute, but found at least 2 things that got broken on my manifest module:
- **RequiredAssembles** attribute: I have something like below in my manifes

[2020-10-27 11:35] sdwheeler commented on #630
After reviewing the source code, it appears that Update-ModuleManifest supports single values or arrays for extra data. See https://github.com/PowerShell/PowerShellGetv2/blob/f45bfe1a66df7063aa8de10fc4f147fdc23639af/src/PowerShellGet/private/functions/Get-PrivateData.ps1#L61-L79

[2020-10-29 15:29] sheppyh commented on #619
Just wondering if this is planned to be fixed in v2 or if we need to wait for v3?

Damn, this issue has been going on for almost 4 years and is stunting adoption of Azure Artifacts where I work

[2020-10-29 15:39] sheppyh commented on #619
Managed to workaround
`PackageManagement\Install-Package : Unable to resolve package source`
with
`Register-PackageSource -Name CorporateRepo -Location $Url -ProviderName NuGet -SkipValidate`
as per
https://stackoverflow.com/questions/60973101/azure-powershell-module-properly-pushed-to-artifacts-feed-repository-cannot-be

[2020-10-30 15:54] jrachwalski commented on #625
Forcing TLS1.2 did NOT fix my issue. Any updates?

[2020-10-30 15:58] SydneyhSmith commented on #625
@jrachwalski unfortunately the PowerShell gallery is currently experiencing an outage-- we are tracking the issue with https://github.com/PowerShell/PowerShellGallery/issues/135#issuecomment-719631351 and also posting updates to aka.ms/psgallerystatus

[2020-11-11 21:15] kinwolfqc opened #631 "Register-PSRepository invalid Web Uri"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

This command works fine:
[code]
[code]

Environment data
----------------

[code]

[code]
And to give my personal feedback on powershellget, nuget and al.:  It's a complete failure.  First, we cannot register a repository with the default powershellget 1.0 that comes

[2020-11-12 12:33] VaughanJ commented on #586
We saw the same issue when we upgraded from Windows 2012 r2 to Windows 2019.

We have a slightly different setup.

- We are using the AWS modules and not the Azure ones,
- We see it on our Octopus Deploy tentacles and not CI Server.

However the error is exactly the same that "Administrator rights required" when we are running as Admin and the error was sporadic too.

Unfortunately we couldn't get

[2020-11-12 12:33] Shane-OH commented on #579
Having the same problem even with PSGet v 2.2.5, did you ever manage to get a fix for this? Passing the -SkipPublisherCheck param isnt an option as I'm relying on RequireModules in the psd to install the module.

![image](https://user-images.githubusercontent.com/74359284/98940634-2f058880-24e3-11eb-93fb-ee04cb32d9b5.png)

[2020-11-19 20:38] SydneyhSmith commented on #631
Thanks @kinwolfqc we have been working on PowerShellGet 3.0 to solve many of the frustrating challenges with the current package management situation, it would be great if you could check that out and give us feedback to make sure we are meeting your requirements as we finish building the module: https://github.com/PowerShell/PowerShellGet

[2020-11-19 20:40] SydneyhSmith commented on #629
Closing as inactive, will open if the issue is persisting

[2020-11-19 20:40] #629 closed

[2020-11-19 20:41] SydneyhSmith commented on #625
Closing as this should be resolved.

[2020-11-19 20:41] #625 closed

[2020-11-19 22:23] andur commented on #625
Not so quick, it's not resolved for PS5.1 on Win2008R2

[2020-11-21 08:58] codaamok commented on #615
@alerickson is this due to be fixed in newer version of PowerShellGet?

[2020-11-25 11:44] kduvzc commented on #579
Yeah... as @Shane-OH reported this is not allowing PowershellGet to install AWSPowerShell.NetCore 4.1.2.0 on a machine which already has AWSPowershell.NetCore 4.0.5.0 already installed because the root certification authorities differ: AWSPowershell.NetCore 4.0.5.0's root certification authority is **VeriSign Universal Root Certification Authority** while version 4.1.2.0 has **Amazon Web Services,

[2020-11-25 11:56] kduvzc opened #632 "Unable to SkipPublisherCheck when installing modules using RequireModules in psd1 file"
Amazon has recently changed the root certification authority used to sign the **AWSPowershell.NetCore** package: version 4.0.5.0 root certification authority is **VeriSign Universal Root Certification Authority** while version 4.1.2.0 uses  **Amazon Web Services, Inc.** .  When PowerShellGet attempts to install the newer 4.1.2.0 onto a machine which already has version 4.0.5.0 installed, it fails

[2020-12-10 18:42] JohnnyBopper opened #633 "Find-Module -Name * not returning all modules"
When I run `Find-Module -Name *` it's not returning all of the modules.

I am trying to mirror the PowerShell Gallery on-prem for an offline version but I cannot get a complete list of all of the modules in the PSGallery. Every time I run that command I get a different count for the results.
[code]

[2020-12-22 18:01] davesbrown commented on #625
Not so quick, it's not resolved for PS5.1 on Win2012RS

[2020-12-28 09:38] tiberius-code commented on #617
Yes, it works perfectly for me.
In the latest PWSH v7.1 and PoweshellGet v2.2.5 I no longer have these errors, but the folders (and then the modules) are not deleted.
![image](https://user-images.githubusercontent.com/68905876/103204965-604de280-48f0-11eb-8d76-256b754af06b.png)

[2021-01-06 22:54] chrishuynhc opened #634 "The 'Get-PSRepository' command was found in the module 'PowerShellGet', but the module could not be loaded."
After installing Powershell 7.1 and running a script that calls Get-PSRepository, the following error is displayed:

[code]

I have seen this repro for multiple users, all running or having recently installed Powershell 7.  However, using Powershell 5, the issue is not reprod.  I checked that the PSModule path was valid and that both the PowershellGet and PackageManagement modules existed and were

[2021-01-07 00:27] logiclrd opened #635 "Register-PSRepository fails if user profile path contains a space"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

A new PSRepository registration called `iQmetrix` is created.

Actual behavior
---------------

[code]

Environment data
----------------

This is almost certainly the trigger for this bug:
[code]

The path to my user profile contains a space. Process Monitor reports that PowerShell, in the execution of `Register-P

[2021-01-07 20:49] SydneyhSmith commented on #634
Thanks @chrishuynhc would it be possible to run `gmo PackageManagement, PowerShellGet -ListAvailable` in this session context, we are particularly interested in not only the versioning (which appears to be 1.4.7 for PackageManagement) but also the path to PackageMangement and PowerShellGet (the error implies they may not be accessible for some reason).... Also this looks like Window but it would b

[2021-01-07 23:10] chrishuynhc commented on #634
@SydneyhSmith Sure thing!  This is the result:
[code]

As far as I know, we don't modify the modules folder, but I can double check and get back to you.  And yes I am running Windows 10 (x64) with the following PowerShell version:
[code]

[2021-01-10 06:39] cyungmann commented on #586
Running into the same issue, but neither disabling controlled folder access nor adding an exception seemed to have any effect...

[2021-01-14 23:50] chrishuynhc commented on #634
After looking through the code again, I found that one of our commands calls PowerShell.exe to launch the above script.  The problem then would occur if a user had launched the command from inside a pwsh.exe window (PowerShell 7).  As a result, changing the command's call from PowerShell.exe to pwsh.exe fixed the issue!  I am not sure what the specifics are, but I assume that launching PowerShell

[2021-01-14 23:50] #634 closed

[2021-01-15 15:04] glatzert commented on #612
@alerickson today I hit this on a Powershell 7.1 running on windows server core which has outbound connectivity via an http proxy.
`Register-PSRepository -Default` is a noop with no result.

`Register-PSRepository -SourceLocation "https://www.powershellgallery.com/api/v2/" -Name "PSGallery"`
Ends in `Register-PSRepository: Use 'Register-PSRepository -Default' to register the PSGallery repository.`

[2021-01-18 18:52] potatoqualitee commented on #606
Having the same problem, seemingly out of nowhere. I used this blog to solve my problem: https://sqldbawithabeard.com/2019/11/26/fixing-the-failed-to-generate-the-compressed-file-for-module-cprogram-filesdotnetdotnet-exe-error-when-deploying-to-the-powershell-gallery-using-azure-devops/

[2021-01-20 00:52] jonwbstr opened #636 "Get-Package Scope parameter not working as expected"
Hello, this is related to Doc Issue [#7148](https://github.com/MicrosoftDocs/PowerShell-Docs/issues/7148)

I expected the -Scope parameter of Get-Package to return software installed either to all users or for the current user. However, when I run the command without a scope I get 3 packages, and when I specify either of the two supported values, I get 0 packages. Surely the packages are installed

[2021-01-21 19:54] SydneyhSmith commented on #636
Thanks @jonwbstr  looks like this may be an issue with the MSI provider which uses the available properties for MSI packages by calling the Windows Installer API (see https://github.com/OneGet/oneget/blob/WIP/src/Microsoft.PackageManagement.MsiProvider/Deployment/WindowsInstaller/ProductInstallation.cs)...at this time it doesnt look like MSI installs have a scope attribute, and are not recording t

[2021-01-21 19:54] #636 closed

[2021-01-22 01:37] jonwbstr commented on #636
Hi Sydney, is there something else we should be using instead?

On Thu, Jan 21, 2021, 2:55 PM Sydney Smith <notifications@github.com> wrote:

[2021-01-22 22:53] Ofer-Gal opened #637 "Did I get the right version?"
I do  Update-Module -Name PnP.PowerShell
and
Install-Module -Name PnP.PowerShell -RequiredVersion 1.2.0

but get-Module PnP.PowerShell Shows version 0.3.28

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Manifest   0.3.28     PnP.PowerShell                      {Add-PnPAlert, Add-PnPApp, Add-

So

[2021-01-22 23:01] alerickson commented on #637
Hi @Ofer-Gal, I transferred this issue to this repository because this looks like an issue with PowerShellGet, not the PnP.PowerShell module.  It doesn't look like version 1.2.0 is installing.  Could you try running
`Install-Module -Name PnP.PowerShell -RequiredVersion 1.2.0 -Debug -Verbose`

[2021-01-23 02:24] Ofer-Gal commented on #637
That worked Thanks

[2021-01-23 02:24] #637 closed

[2021-01-25 17:39] gkvappium opened #638 "Register-PackageSource: The property 'Name' cannot be found on this object. Verify that the property exists."
Steps to reproduce
------------------

# Check if PowerShell repository exists on local machine
if ($null -eq (Get-PSRepository | Where-Object { $_.Name -eq "TestPsModulesRepo" })) {
    Write-Host "Registering PowerSHellGet Repo 'TestPsModulesRepo'"
    Register-PackageSource -Name "TestPsModulesRepo" -Location "$FeedUrl" -ProviderName "PowerShellGet" -Force -Credential $credential -Trusted
}

Ex

[2021-01-25 17:43] gkvappium commented on #638
@SydneyhSmith could you please take a look into this issue?

[2021-01-25 17:54] alerickson commented on #638
@gkvappium are you having this issue when you use Register-PSRepository?

[2021-01-25 18:16] MarkKharitonov commented on #604
For a package that isn't prerelease `$psgetItemInfo.AdditionalMetadata.IsPrerelease` is actually a boolean `False` which does not equal to the string `false`.
I have just suddenly hit this issue and I do not understand how this happened. Seems like `PackageManagement\Find-Package` version does not match that of `PowerShellGet\Find-Module`
In my case I have PackageManagement 1.4.7, but PowerShellGe

[2021-01-25 18:31] MarkKharitonov commented on #604
OK, I figured out the root cause. Another script loads the latest version of PowerShellGet which overshadows the old one. But this latest version is broken! `Find-Module -AllVersions` is broken and the fix is trivial - just do not compare with the `'false'` string! Use `!$psgetItemInfo.AdditionalMetadata.IsPrerelease` instead or add it as an OR clause.

Is anyone looking at this one at all! This i

[2021-01-25 20:28] thered121 commented on #586
Getting the same error, tried installing the Az.Accounts module specifically and get

`Install-Module -Name Az.Accounts -AllowClobber -Force -Debug
DEBUG: 00:00:00.0000003 Calling New() : MethodName = 'GetDynamicOptions'
DEBUG: 00:00:00.0000545 Name: Az.Accounts
DEBUG: 00:00:00.0000714 Force: True
DEBUG: 00:00:00.0000858 Debug: True
DEBUG: 00:00:00.0037429 INVOKING PowerShell Fn Get-DynamicOptions

[2021-01-26 02:49] gkvappium commented on #638
@alerickson ,thanks for looking into it. Please find below the full logs. Please note that the same code/commands are working on Windows. I see this problem only on Mac (URL,Repo name etc are all valid and working. I've just changed it a bit as per the privacy guidelines of the organization. Please don't mind)

DEBUG:    1+  >>>> . ./Send-PushNotification.ps1  -TemplateType OTA -DeviceIdentifier A

[2021-01-26 15:19] jmutchek-msft commented on #586
I am getting the same error when trying to install the Az.Accounts module. I am in a PowerShell 7.1.1 admin session with Controlled Folder Access off. Results are the same with and without `-scope CurrentUser`:

[code]

[2021-01-26 15:21] gkvappium commented on #638
Any inputs on this @alerickson ?

[2021-01-28 19:44] FullStackRafik opened #639 "PackageProvider issues"
Hello,
Do you have any idea about this error please:
WARNING: Unable to download from URI 'https://go.microsoft.com/fwlink/?LinkID=627338&clcid=0x409' to ''.
WARNING: Unable to download the list of available providers. Check your internet connection.
Install-PackageProvider : No match was found for the specified search criteria for the provider 'NuGet'. The package provider requires 'PackageManage

[2021-01-30 10:47] FullStackRafik commented on #639
Hello @SydneyhSmith Thanks your comment.
Actually, I had no errors when I've used the wifi!!
So some sources are blocked using Ethernet!!

[2021-02-02 15:19] playground0076 opened #642 "Install-Module Az failing on Ubuntu 20.04 LTS"
Reference: https://github.com/Azure/azure-powershell/issues/14062

Issue: Install-Module Az is failing on Ubuntu 20.04 LTS

Investigation: httpclient is timing out when downloading Az.Accounts package. (more details in the reference link).

PS Version: 7.0.0.1

Tried with Pwsh-preview as well.

[2021-02-04 07:38] ErikMathijsen opened #641 "Unable to resolve package"
<!--
If this is a bug report, make sure you are able to reproduce it with the latest PowerShellGet module from master branch.
- Search the [existing issues](https://github.com/PowerShell/PowerShellGet/issues?utf8=%E2%9C%93&q=is%3Aissue).
- Fill out the following template:

PS C:\Windows\system32> Connect-MsolService

PS C:\Windows\system32> Install-Module -name MicrosoftPowerBIMgmt -force -debug -

[2021-02-04 19:50] SydneyhSmith commented on #641
Thanks @ErikMathijsen could you please provide more information including repro steps, and environment information

[2021-02-05 07:38] ErikMathijsen commented on #641
Hi Sydney,

The steps are quite simple and are listed in the screen capture as well.

  1.  Open PowerShell as Administrator on my Windows 10 Client
  2.  Connect-MsolService     (we do have mfa enabled)
  3.  Checked version of Security Protocol with [Net.ServicePointManager]::SecurityProtocol        -> Response Tls12
  4.  Tried to Install-Module -name MicrosoftPowerBIMgmt

Further related envir

[2021-02-05 15:37] SydneyhSmith commented on #641
Thanks for the update @ErikMathijsen ...looks like the screen capture didnt come through on our end
![image](https://user-images.githubusercontent.com/43417619/107054476-04933680-6785-11eb-971e-d287a229e251.png)

[2021-02-05 15:41] ErikMathijsen commented on #641
Hi Sydney,

I see, lets see if this would be better.

PS C:\Windows\system32> $PSVersionTable

Name                                                 Value
----                                                       -----
PSVersion                                          5.1.17134.858
PSEdition                                           Desktop
PSCompatibleVersions                  {1.0, 2.0, 3.0, 4.

[2021-02-05 18:38] playground0076 commented on #642
Thank you @SydneyhSmith  for looking into the issue I reported. I tried just now with Az module and I still have the problem.

And looks like your guess is correct, I am facing issue when installing other modules as well. I ran the cmd "Install-Module -Name AWSPowerShell" and it is also facing issue. Below is the error log. Let me know if this is machine specific that I have to address on my side.

[2021-02-05 20:42] SydneyhSmith commented on #641
Thanks @ErikMathijsen could you please run `Install-Module -name MicrosoftPowerBIMgmt -Verbose -Debug` and provide the output as well as `Get-Module PowerShellGet, PackageManagement -Listavailable` Thanks!

[2021-02-06 09:40] ErikMathijsen commented on #641
Hi Sydney,

Ok, so that capture in the original ticket is also not visible.
I’ve attached it to this email.

Regards,

Erik Mathijsen
Compliance Manager
ESM Pro
Ricoh EMEA IT

Ricoh Europe PLC
Nieuw Kronenburg
Prof. W. H. Keesomlaan 1,
Amstelveen
1183 DJ
The Netherlands
Postal address: P.O. Box 114, 1180 AC Amstelveen

Tel: +31 205474760
Mobile: +31 6 50601445

erik.mathijsen@ricoh-europe.com<mail

[2021-02-07 19:47] anamnavi commented on #642
Hi @playground0076! Can you run the following and let us know if it works or gives you the same error as above.

`docker run -it --rm mcr.microsoft.com/powershell:ubuntu-20.04`
//this should open a ubuntu20.04 container with powershell already installed
`Install-Module 'Az'` (if prompted selected Y)

Hopefully this will allow us to try to replicate the issue you're facing and determine if it's a m

[2021-02-07 22:15] playground0076 commented on #642
Hi @anamnavi , thank you for the pointer. Yeah, I ran the command in the docker container and  that worked just fine. In fact, it took less than 10 secs for everything.

But from my localhost, it failed with the same error.

Should I assume that this is machine specific then.? Let me know if I have to close this issue. And any instruction on how I can resolve this issue is really appreciated.

[2021-02-08 16:55] mzros commented on #606
Same problem here under windows

[2021-02-10 04:31] playground0076 commented on #642
hmmm, I strongly believe that it is the httpclient that's used by the powershell core is getting timed out and it's not machine specific but location specific.

However, I manually copied the PS Module for Az from my windows box to Linux box and for the time being I can live with that. I kind of made up my mind to use Az Cloudshell or Powershell in my windows box for interacting with my Az resourc

[2021-02-10 04:31] #642 closed

[2021-02-10 11:25] ErikMathijsen commented on #641
Hi Sydney,

I have found the solution, which is described here:

https://www.alitajran.com/unable-to-install-nuget-provider-for-powershell/

Regards,

Erik Mathijsen
Compliance Manager
ESM Pro
Ricoh EMEA IT

Ricoh Europe PLC
Nieuw Kronenburg
Prof. W. H. Keesomlaan 1,
Amstelveen
1183 DJ
The Netherlands
Postal address: P.O. Box 114, 1180 AC Amstelveen

Tel: +31 205474760
Mobile: +31 6 50601445

erik

[2021-02-10 19:15] SydneyhSmith commented on #641
Thanks @ErikMathijsen for all the detailed information, it sounds like your issue is now resolved, is that correct?

[2021-02-11 07:29] ErikMathijsen commented on #641
Hi Sydney,

Yes by setting the registry settings the issue is resolved.

Regards,

Erik Mathijsen
Compliance Manager
ESM Pro
Ricoh EMEA IT

Ricoh Europe PLC
Nieuw Kronenburg
Prof. W. H. Keesomlaan 1,
Amstelveen
1183 DJ
The Netherlands
Postal address: P.O. Box 114, 1180 AC Amstelveen

Tel: +31 205474760
Mobile: +31 6 50601445

erik.mathijsen@ricoh-europe.com<mailto:erik.mathijsen@ricoh-europe.com>

[2021-02-17 00:27] rakeshjjain commented on #586
I am also running into the same issue trying to install Azure Package

Windows PowerShell
Copyright (C) 2016 Microsoft Corporation. All rights reserved.

PS C:\Users\RJain> Install-Module -Name Az -Repository PSGallery -AllowClobber -Scope AllUsers -Force -Debug
DEBUG: 00:00:00.0000003 Trying provider assembly: C:\Program
Files\WindowsPowerShell\Modules\PackageManagement\1.0.0.1\Microsoft.PackageM

[2021-02-18 05:33] aricbernard commented on #609
It has been more than 6 months, and this is STILL a mess. I have tried executing the instructions available at https://docs.microsoft.com/en-us/azure-stack/operator/powershell-install-az-module verbatim on fresh installs of several Windows OS variants (WS2019, WS2016, Win10) and always have the same result with no viable work around:

Install-Module PowerShellGet -MinimumVersion 2.2.3 -Force
WARNI

[2021-02-18 11:37] lapayne commented on #586
This was the exact solution when using PSH 7.1.2

[2021-02-18 20:02] SydneyhSmith commented on #609
Thanks @aricbernard what is the output of `Get-Module PowerShellGet, PackageManagement -ListAvailable`
it would also be great to know if you can run this `Install-Module PowerShellGet -MinimumVersion 2.2.3 -Force -Debug -Verbose`, with elevated privilege's if possible.. thanks!

[2021-02-19 00:30] alex-titarenko commented on #522
Hi guys, any updates? We have the same issue.
It reproducible only with DSC and only on some machines.

[2021-02-19 13:14] johlju commented on #522
@alex-titarenko can you reproduce this on one machine? If so it possible for you to figure out what is different from one that do work? Would help if we can figure out what line in the code that throws the error, it might help narrow down what the cause is.,

[2021-02-19 20:03] alex-titarenko commented on #522
[bad-state.txt](https://github.com/PowerShell/PowerShellGetv2/files/6012632/bad-state.txt)
[good-state.txt](https://github.com/PowerShell/PowerShellGetv2/files/6012633/good-state.txt)

@johlju thank you for the replay.
I attached logs from good and bad VM (sensitive information was replaced).

The main difference in logs I see that in VM when it fails:

[code]

And on VM where it works:

[code]

Y

[2021-02-19 20:31] alex-titarenko commented on #522
I did notice, some package version differences on VMs

Good VM:
[code]

Bad VM:
[code]

But, after changing package versions, I did not see any differences in logs. The issue is still there.

[2021-02-23 02:32] alex-titarenko commented on #522
I found the root cause of the issue.
The file `%localappdata%\Microsoft\windows\PowerShell\PowerShellGet\PSRepositories.xml` was in a bad state.
After deleting it everything started working.

The issue was reproduceable only with DSC because `%localappdata%` variable will be resolved to `C:\Windows\System32\config\systemprofile\AppData\Local` when run through DSC and to you local profile if you ru

[2021-02-23 15:46] mhectorgato commented on #586
Powershell 7.1.2
Controlled Folder Access already off
Ran as Admin -- entered my creds in the UAC

`Install-Module AZ -AllowClobber -Force `

Got the error:
`....\Documents\PowerShell\Modules\PowerShellGet\2.2.5\PSModule.psm1:9711
Line |
9711 |  … talledPackages = PackageManagement\Install-Package @PSBoundParameters
     |                     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2021-02-24 23:33] Hicsy commented on #625
Not so quick, it's not resolved for PS5.1 on Win10

[2021-02-25 16:42] #641 closed

[2021-03-10 18:24] MarkDordoy opened #643 "Install-Module does not respect ModuleVersion or Guid for Required Modules"
I use an artifactory server with a nuget repository setup with an internally published location and a cache to psgallery. The end result of this means im able to register a single PSRepository and install both external and internally published modules.

However we have an internal module created called PSLogger which classes with the one found in PSGallery.

I have a module that i wrote that depen

[2021-03-17 22:36] JohnnyBopper commented on #633
Any update on this?

[2021-03-23 04:30] Garima-msft opened #645 "Install-Module Unable to resolve package source 'https://www.powershellgallery.com/api/v2'."
Install-Module Unable to resolve package source 'https://www.powershellgallery.com/api/v2'.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[code]

[2021-03-23 05:06] alerickson commented on #645
Hi @Garima-msft I believe this is likely due this issue on the PSGallery: https://github.com/PowerShell/PowerShellGallery/issues/157.  Please bear with us as we resolve this issue.  Please follow that open issue for more updates.

[2021-03-23 05:56] #645 closed

[2021-03-26 05:15] KexyBiscuit opened #648 "Cannot update packages on v7.1.3"
## Steps to reproduce

[code]

## Expected behavior

[code]

## Actual behavior

[code]

## Environment data

[code]

## Comments

The command works properly on v7.2.0-preview.4, seems not a network issue.

[2021-03-29 09:42] ckolumbus commented on #610
I had the same issue, and the solution was completely unrelated to PowershellGet ... we have OneDrive configured and my profile resides under `C:\UserData\<user>\OneDrive\Documents\PowerShell\Modules`.

I CANNOT DELETE anything from there (neither via Explorere and obviously also not via `Uninstall-Module`). Seems to have something to do with how OneDrive treats files there. I CAN MOVE  it away, a

[2021-03-31 21:14] Ben-Conrad commented on #604
@FISHMANPET I was having the same issue with some modules I downloaded from the PSGallery using save-module and save-package.  I can find-module in my local repository but only if I specify the -RequiredVersion.  Using -AllowPrerelease shows me all the modules in the local repository.   Thx!

[2021-04-01 19:15] SydneyhSmith commented on #610
@timrossback were you also seeing this issue with a OneDrive path?

[2021-04-02 05:33] timrossback commented on #610
@SydneyhSmith Yeah, I was.

[2021-04-02 06:36] rbeesley commented on #610
OneDrive seems like a common theme. My Modules would have been under OneDrive too.

[2021-04-12 16:16] Paurian commented on #610
I agree with OneDrive possibly being the defining element in this bug. Even after manually removing the directories associated with the module, PowerShell still thought it was there.

[code]

[2021-04-13 01:05] johnwc commented on #610
I don't believe OneDrive itself is the culprit, only the reason. I believe the culprit is the `My Documents` folder has folder redirection applied to it.

[2021-04-13 02:03] rbeesley commented on #610
@johnwc, likely. Leveraging the backup of OneDrive does this, is the encouraged setting, and is probably the most common way this situation presents itself, therefore it is why it is why those of us who have seen this issue have it in common. However, I agree that it is probably not the "root cause." It should be pretty easy to replicate the issue if OneDrive isn't enabled and My Documents is rema

[2021-04-16 16:20] attrib75 commented on #586
Also seeing this same issue

[2021-04-29 06:00] saradha1307 commented on #586
it worked for me after changing the controlled folder access to OFF.

[2021-04-30 21:48] ayeltsov commented on #586
Observation: this thread has grown unmanageably large, plus there are up several different root that all result in the same message:
- the obvious "you really are not running as admin" - nothing do do here
- controlled folder access - I guess the fix would be to give better error
- file in use - same, the fix would be to give better error

Mine is of the latter category.
How to proceed? Probably c

[2021-05-03 23:05] mklement0 opened #646 "Uninstall-Module -RequiredVersion doesn't recognize version-number variations that should be equivalent"
It is possible to use shortened version numbers in a module manifest, such as `ModuleVersion = '1.4'` instead of `ModuleVersion = '1.4.0'` or `ModuleVersion = '1.4.0.0'`

While using variations works fine with `Install-Module`, it doesn't with `UninstallModule -RequiredVersion`

Other version-number parsing/matching code may be affected as well.

## Steps to reproduce

[code]

## Expected behavior

[2021-05-03 23:06] daxian-dbw commented on #646
@alerickson @anamnavi and @PaulHigin please review this issue and see if you can get this fixed in PowerShellGetv3.

[2021-05-03 23:09] mklement0 opened #647 "Uninstall-Module shouldn't require -AllowPrerelease when a prerelease version is being uninstalled."
## Steps to reproduce

[code]

## Expected behavior

The test should pass.

## Actual behavior

The test fails, because `-AllowPrerelease` is unexpectedly required.

[code]

## Environment data

[code]

[2021-05-03 23:09] daxian-dbw commented on #647
@alerickson @anamnavi and @PaulHigin This is another one :)

[2021-05-03 23:18] alerickson commented on #646
Hi @mklement0, this we are working on a rewrite of PowerShellGet here: https://github.com/powershell/powershellget. This issue is currently addressed there and we should have a release with this change sometime this month.

[2021-05-03 23:23] alerickson commented on #647
@mklement0 this is also addressed and will be out in the next release.

[2021-05-10 17:44] JohnLudlow commented on #625
For me this worked on PowerShell 7.1.3, but not 7.2.0-preview.5, both on Windows 10 20H2 (10.0.19042)

[2021-05-18 19:59] varunmankal opened #649 "Register-PSRepository not able to register HTTPS Source"
Ran the following commands in RHEL 7
## Steps to reproduce

[code]

## Expected behavior

[code]

## Actual behavior

[code]

## Environment data

[code]

[2021-05-18 19:59] Ghufz opened #650 "Update-Module throws exception Authenticode issuer"
## Steps to reproduce

[code]

## Expected behavior

[code]

## Actual behavior
Update-module throws exception

[code]

## Environment data

[code]

[2021-05-18 19:59] VertigoRay opened #651 "Installing PowerShell modules in the CurrentUser scope of the System user silently fails."
## Steps to reproduce

Login to the *System* user however you want ...

[code]

## Expected behavior

[code]

## Actual behavior

Does not install the module anywhere that I can tell. Here's a transcript:

[code]

Restarting PowerShell or fixing the path manually will allow the PS Module to be discoverable. [Walked through everything a bit on my blog.](https://blog.vertigion.com/2020/11/12/install

[2021-05-18 19:59] brunosaboia opened #652 "Install-Module is not working properly with -Proxy"
## Steps to reproduce

Run `Install-Module` behind a proxy:

[code]

## Expected behavior

`Installed-Module` should use the specified proxy, such as in `Invoke-WebRequest`:

[code]

## Actual behavior
Proxy setting is ignored or incorrectly used (the DNS failure is an indication of that, as I have the same issue if I try `ping www.powershellgallery.com`):
[code]

## Environment data

[code]

[2021-05-18 20:00] tslothorst opened #653 "When updating a module with insufficient space left on disk for the operation an error gets thrown about needing administrator rights while the operation is performed as root"
I am trying to install/upgrade the VMware.PowerCLI on a RHEL 7.8 machine. The module was installed with the AllUsers scope. This results in an error message saying I need administrator privileges to do this. However I am running pwsh as root.

## Steps to reproduce

My system has version 11.x of the VMware.PowerCLI present, which was installed with the AllUsers scope. All components therefor are l

[2021-05-20 18:16] SydneyhSmith commented on #648
Thanks @KexyBiscuit could you please try running this with the `-Verbose` and `-Debug` switches

[2021-05-21 09:36] KexyBiscuit commented on #648
@SydneyhSmith Uninstall Az packages resolve the problem, I'll install them again to see if I can reproduce this.

[2021-05-21 16:55] jepper commented on #516
I had a similar problem. It was caused by ownership of /tmp/Microsoft.PackageManagement. Only root and the nonroot user who created it were able to install modules. Deleting this directory mitigates the issue, but, of course only for the user who creates it.

[2021-05-25 16:43] weiyentan commented on #303
@kwirkykat response  helped with my issue too

[2021-05-30 13:04] LxLeChat commented on #606
Hello same problem here.
had to change a line in the powershellget.psm1 ... even after installing the powershellget 3.0.0 latest beta version...

for me the problem was located in the ``New-NugetPackage`` function

had to change:
[code]
to
[code]
because i'm working on a french version of windows.

[2021-06-03 18:16] anamnavi commented on #516
@djsowa we're in the process of refactoring the Install cmdlet and will address this issue then.

[2021-06-06 10:06] codaamok commented on #586
Similar discussion here: https://github.com/PowerShell/PowerShell/issues/12777

I experienced the same. Controlled folder access was already disabled for me. However, I enabled it and added pwsh.exe. I was still receiving the error. Some conversation about files in use... so I rebooted and now I no longer see the issue.

[2021-06-09 16:32] astaruch commented on #652
Hi, is there any workaround for this problem? I am facing the same issue in our corporate environment for our servers.

[code]

[code]

[2021-06-10 00:08] jocobwknight commented on #457
@RobCannon, I never thank random strangers, but thank you so much for posting that! I've been trying to make a RedHat/Windows cross-platform PowerCLI utility and nothing I tried (including chmod 755) could get it to run as a non-root user. I completely uninstalled everything and used your workaround and it worked! (Although /tmp/powershell_init.ps1 didn't exist on my RH system so I did the chmod 7

[2021-06-10 18:12] anamnavi commented on #652
Hi @astaruch, thanks for sharing this. Are you facing any issues when you run this command without the `-Proxy` parameter? If you are not facing issues, can you run this command again: `Install-Module -Name DockerMsftProvider -Proxy http://proxy:8080 -Verbose -Debug` (but now with Verbose and Debug switches). This will help us get more information on this issue.

[2021-06-10 20:28] KexyBiscuit commented on #648
@SydneyhSmith
[code]

[2021-06-11 20:09] RobCannon commented on #457
/tmp/powershell_init.ps1 is our script for installing some common modules on the server.  If you don't need that, you can omit that step.  Glad I was able to help!

[2021-06-17 07:07] shardakov opened #654 "Uninstall-Package don't uninstall Microsoft Office 365"
Steps to reproduce
------------------

I trying to uninstall "Microsoft Office 365 - ru-ru" via powershell cmdlet Uninstall-Package. I used command like:

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[code]

[code]

[2021-06-18 18:20] k-weaver commented on #619
This worked for me. Adding the -SkipValidate was the trick.

[2021-06-18 21:10] anamnavi commented on #654
Thanks @shardakov, can you run: `"Get-Package -Name "Microsoft Office 365*" ` and share the output? This will allow us to see if you have that packae before attempting to uninstall

[2021-06-21 10:26] shardakov commented on #654
@anamnavi Sorry! I made a mistake. The correct command is "Get-Package-Name" Microsoft 365*"". And then I get the following output:

Name                           Version          Source                           ProviderName
----                           -------          ------                           ------------
Microsoft 365 - ru-ru          16.0.14026.20270

[2021-06-24 18:32] anamnavi commented on #654
@shardakov it seems this is a PackageManagement issue, not a PowerShellGet one so we'll transfer this issue to the appropriate repository.

Can you try updating your PackageManagement version:
`Install-Package PackageManagement -ProviderName NuGet`

[2021-07-03 11:32] yuusakuri commented on #606
I ran the following code in PowerShell to fix the problem.

[code]

[2021-07-03 17:18] KexyBiscuit commented on #648
I figured out how to reproduce this: use OneDrive's Auto Save (now called "Important PC Folders backup") to synchronize Documents folder, so that PowerShell modules and scripts are synchronized too. If modules were installed on other PCs, synchronized to this PC, then try to update or install them, this problem will occur. The workaround is to remove all modules and then reinstall them.

[2021-07-06 08:09] peppekerstens opened #655 "Update-Module fails when using -Force in authenticated scenario"
Scenario
----------------
I am trying to update several modules from a private repository, maintained within Azure Devops. The method used is exactly as [described here](https://docs.microsoft.com/en-us/azure/devops/artifacts/tutorials/private-powershell-library?view=azure-devops)

I want to 'force update if exist'. So, by using -Force.

This issue **only** happens when trying to update from an au

[2021-07-06 08:28] peppekerstens commented on #655
Found likely cause; I installed previous versions of the modules with install-package instead of install-module.
PowerShell modules do not get registered correctly by install-package

PowerShell already provides some hints;
[code]

When I delete a previous version of the module and re-install that version, using install-module, everything works as expected;
[code]

So this is a very specific use-c

[2021-07-06 08:29] #655 closed

[2021-07-06 21:08] yooakim opened #656 "PackageManagement\Install-Package fails with "Administrator rights are required to install or update." when run as administrator y bug report"
## Steps to reproduce

[code]

## Expected behavior

Expect the module to be updated in the current user scope

The same issue has been reported in issue [#12777](https://github.com/PowerShell/PowerShell/issues/12777) but that issue was closed as some users reported the problem had to do with Controlled Folder Access.

In my case controlled folder access is off but I still have the issue.

## Actu

[2021-07-08 18:39] danmetzler commented on #608
It appears to me this might not really be an issue.  Both RequiredModules and ExternalModuleDependencies are supposed to take arrays.
This provides a string value.
`RequiredModules      = 'Microsoft.PowerShell.Utility'`
This provides an array value
`RequiredModules      = @('Microsoft.PowerShell.Utility')`

Does it fail when specifying an array?

[2021-07-08 18:46] PrzemyslawKlys commented on #608
It fails only when it's a string value. Works fine with an array, including array with 1 element.

[2021-07-08 18:49] anamnavi commented on #648
@KexyBiscuit sorry for this issue and odd workaround, this should be resolved in V3. We plan to do a release in a few weeks and would love if you can test this functionality then if you're interested.

[2021-07-09 04:04] KexyBiscuit commented on #648
@anamnavi Surely I am!

[2021-07-22 07:25] KexyBiscuit commented on #656
Remove all modules from OneDrive by deleting the files, then reinstall them will workaround this problem on the current machine.

https://github.com/PowerShell/PowerShellGetv2/issues/648#issuecomment-873440050

[2021-07-22 19:15] rconiv commented on #639
If I run what @SydneyhSmith asked above (getting this same error running this on Powershell V7), I get this.
PS C:\Windows\System32> Invoke-WebRequest https://onegetcdn.azureedge.net/providers/providers.masterList.feed.swidtag

StatusCode        : 200
StatusDescription : OK
Content           : ﻿<?xml version="1.0" encoding="utf-8"?>
                    <SoftwareIdentity xmlns="http://standards.iso

[2021-07-22 20:33] mi-hol opened #657 "uninstall Microsoft.PowerShell.SecretStore not working"
Tried to remove all versions of Microsoft.PowerShell.SecretStore, but wasn't successful.

Any hints appreciated.

[code]

[2021-07-22 20:38] anamnavi commented on #657
Hi @mi-hol thanks for reaching out! Are you running this on WindowsPowerShell or PowerShell 6+? (You can run `$PSVersionTable` in the powershell terminal to find out)

If you are running this on WindowsPowerShell you need to run WindowsPowerShell as Admin and then run:
`Uninstall-Module Microsoft.PowerShell.SecretStore -Force -allVersions` again

In PowerShell 6+ you can run
`Uninstall-Module Micr

[2021-07-22 21:00] anamnavi commented on #639
@rconiv thanks for reaching out! Are you getting the exact same error message as the original poster? If so could you please provide the full error output/stack trace?

Could you please also run:
`gmo "PowerShellGet", "PackageManagement" -ListAvailable`

This may be related to some TLS issues which were resolved in later PowerShellGet versions so as long as you have a version `>= 2.2.4.1` that sho

[2021-07-22 21:25] rconiv commented on #639
I don't get the warnings, but the rest is the same.

PS C:\Windows\System32> Install-PackageProvider -Name NuGet -Force
Install-PackageProvider: No match was found for the specified search criteria for the provider 'NuGet'. The package provider requires 'PackageManagement' and 'Provider' tags. Please check if the specified package has the tags.

PS C:\Windows\System32> gmo "PowerShellGet", "Packag

[2021-07-22 21:57] sdwheeler commented on #639
I think the problem is with caused by OneDrive. I have seen all kinds of strange errors when the Modules folder (under Documents) has been redirected to OneDrive. Try removing your Documents folder from OneDrive sync.

[2021-07-22 22:05] rconiv commented on #639
I was wondering that myself.  Interesting they decided to put the modules folder in the documents folder.  Would think that this issue would show up fairly often, unless most people don't have their documents backing up to onedrive.

I turned off Documents from OneDrive sync, and copied the powershell folder in to it (by default the files stay on the onedrive folder it seems), and when I run gmo "

[2021-07-23 01:12] sdwheeler commented on #639
Be sure to start a new PowerShell session after you disabled OneDrive and restored the Documents folder.

[2021-07-27 22:25] JVimes commented on #60
Updating PowerShellGet fixed the "cannot prompt for input in non-interactive mode" error in my environment.

Since it was on the non-PowerShellGet version of PowerShellGet, I used Install-Module instead of Update-Module:

[code]

[2021-08-03 23:03] wre136 opened #658 "PSGallery Not Registering as Repository on Oracle Linux 7.6"
After installing Powershell on Oracle Linux 7.6, I am unable to find and install any modules from PSGallery. When I attempt to run the command `Install-Module -Name VMware.PowerCLI`, I receive the error "**No match was found for the specified search criteria and module name 'VMware.PowerCLI'. Try Get-PSRepository to see all available registered module repositories.**"

When I run `Get-PSRepository

[2021-08-03 23:04] alerickson commented on #658
I transferred this issue to PowerShell/PowerShellGetv2 since this is an issue with `Install-Module` and `Register-Repository`

[2021-08-12 19:03] anamnavi commented on #633
Hi all, this is an issue we're trying to resolve in PowerShellGet V3, definitely by the next prerelease.

[2021-08-17 15:28] mpaterno commented on #625
Any updates on this? It's not resolved on PS7 on Win2016RS

[2021-08-22 10:10] yooakim commented on #656
Sorry for taking so long to reply @iSazonov - Here's the output from a new session:

[code]

[2021-08-22 10:18] yooakim commented on #656
I can add that my system has the following package management modules:

[code]

[2021-08-24 14:52] golfalot commented on #648
Same issue for me with PowerShell 7.1.4

[2021-08-24 18:41] chausner commented on #606
This was also the issue on my German system.

[2021-08-24 18:46] LxLeChat commented on #606
Did someone tested the new v3 ??? I asked on twitter but no one answered... :(

[2021-08-24 19:28] alerickson commented on #606
I would love to know if using v3 helps to resolve this issue (https://www.powershellgallery.com/packages/PowerShellGet/3.0.11-beta).  If not we can't proceed to make bug fixes and updates there.

[2021-08-24 19:49] chausner commented on #606
How do I install PowerShellGet 3.0.11-beta? Even after putting it into my modules folder and importing it, whenever I run `Publish-Module` it continues to load the stable version from `C:\program files\windowsapps\microsoft.powershell_7.1.4.0_x64__8wekyb3d8bbwe\Modules\PowerShellGet`.

[2021-08-25 13:14] sdg002 commented on #554
Similar issue  with PowerShell core

### PSD1 structure
[code]

### Value of $PSVersionsTable
[code]

### Temporary work around
Works fine if I change `RequiredModules` to

[code]

Is this an inadvertent bug that is likely to get fixed? Or, is this a planned change of behaviour?

[2021-08-25 14:43] yooakim commented on #656
After spending much too much time on this I simply deleted all modules from my OneDrive/Documents/PowerShell/Modules folder and re-booted. After that it works.

So the underlying issue seems to be with the combination of OneDrive and PowerShell modules.

[2021-08-30 18:10] CobyPear commented on #605
I'm running into the same issue and the workaround isn't working for me.

My PowerShell 5 stopped working after accidentally syncing my Documents folder to OneDrive (a whole different issue). I installed PS7 as a workaround and it's been fine until recently, and now I am unable to update or install modules.
The following error occurs when attempting the above workaround. NuGet does in fact show up

[2021-09-02 18:52] StevenBucher98 commented on #605
Thanks @CobyPear can you please run the following and share your output:

 `Get-Module -Name "PowerShellGet", "PackageManagement"`

If your package management version is <1.4.7 can you run the command:
`Install-Package -Name PackageManagement -MinimumVersion 1.4.7 -Force -Source PSGallery`

If PowerShellGet version is less than 2.2.5:
`Install-Module -Name PowerShellGet -RequiredVersion 2.2.5 -For

[2021-09-02 19:56] CobyPear commented on #605
Thanks for the reply @StevenBucher98
Oddly enough, after running  `Install-Package -Name PackageManagement -MinimumVersion 1.4.7 -Force -Source PSGallery` with PowerShell 5, it worked perfectly. It's been a few days since I was messing with it, but maybe clearing out my PSModulesPath did the trick this time? The script I was trying to run now works.
I also set the TLS to 1.2 which seemed to solve

[2021-09-09 16:34] vadymt1 commented on #554
@StevenBucher98 it was not fixed in beta version as well. Have you included this bugfix in this particular version?

[2021-09-09 16:41] woter1832 opened #660 "Install-Module: Cannot find path ..\AppData\Local\Temp"
Steps to reproduce
------------------

[code]

Expected behaviour
-----------------

[code]
Erm... Install the module, perhaps!

Actual behaviour
---------------

[code]

What is it trying to do with `..\AppData\Local\Temp\..`? Why does it need that path? This has always worked in the past.

Environment data
----------------

[code]

[code]

[code]

[2021-09-10 09:22] woter1832 commented on #660
As per normal, it was me!
I was using the wrong pipeline, designed to package for Chocolatey as opposed to PowerShellGet. This meant the NuPkg didn't have the .psd1 file in the root of the package, so it couldn't find the .psd1 file.

However, I'm not closing this as I would like to know why it is trying to use `..\AppData\Temp\..`. I would also recommend a better error message.

[2021-09-14 06:23] timmkrause commented on #648
Has it been fixed for everybody?

Just did `Install-Module -Name PowerShellGet -AllowPrerelease -Force` and seeing `3.0.11-beta` via `Get-InstalledModule`. I am still experiencing the issue using PowerShell 7.1.4.

Before creating a new issue in the "new repo", I'd like to know whether it is only me.

[2021-09-15 19:58] tristanbarcelon opened #661 "Calling Register-PSRepository or Set-PSRepository triggers the error Unknown Option: -V in Powershell Core running on Ubuntu Linux"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the [latest released version](https://github.com/PowerShell/PowerShell/releases)
- [X] Search the existing issues.
- [X] Refer to the [FAQ](https://github.com/PowerShell/PowerShell/blob/master/docs/FAQ.md).
- [X] Refer to [Differences between Windows PowerShell 5.1 and PowerShell](https://docs.microsoft

[2021-09-16 02:21] tristanbarcelon commented on #661
Hi @SteveL-MSFT , Are you referring to the workaround which used -SkipValidate? I did not try that because that was referring to Register-PackageSource and not Register-PSRepository. In my particular situation, I only needed to ensure that the Azure Devops backed private feed was was present to ensure subsequent steps are able to install/update specific powershell modules from that feed. Is Regist

[2021-09-16 18:24] StevenBucher98 commented on #661
Thanks @tristanbarcelon! From what we understand you are trying to use the credential provider and the credential provider for PowerShellGetv2 is a bit finicky and we have not been maintaining it. In PowerShellGetv3 we intent to add [persistent credential](https://github.com/PowerShell/PowerShellGet/issues/330) ([WIP PR](https://github.com/PowerShell/PowerShellGet/pull/480)) support soon so it mig

[2021-09-16 18:29] StevenBucher98 commented on #648
@timmkrause after doing `Get-InstalledModule`, what kind of cmdlets are you running? If after installing `3.0.11-beta` and using cmdlets like `Install-Module` then you are still using the v2 cmdlets but instead using `Install-PSResource` then you are using the new v3 cmdlets.

[2021-09-16 18:33] StevenBucher98 commented on #660
Thanks @woter1832! It is using `..\AppData\Local\Temp\..` as a temporary install location and once it validates the files it is then moved to the respective `$env:PSModulesPath` location. Some of the error messaging in v2 is not that great, we are improving error messaging more in PowerShellGet v3, thank you for the feedback!

[2021-09-16 18:42] tristanbarcelon commented on #661
Hi @StevenBucher98, we're actually setting the -Credential parameter when calling Register-PSRepository or Set-PSRepository cmdlets in the setprivatepsgallery.ps1 above. I'm just not sure why I get the error below when setting -Verbose parameter to $false within the script.

[code]

I want to explicitly set -Verbose to $false for all built-in PSCore cmdlets we reference in our scripts and utilize

[2021-09-16 20:41] alerickson commented on #661
After taking a closer look at this issue, I think this is a bug originating from here: https://github.com/PowerShell/PowerShellGetv2/blob/5aba7531f526b6e60b2757c36799995597b6dcec/src/PowerShellGet/public/psgetfunctions/Get-CredsFromCredentialProvider.ps1#L122

For now I'd suggest not using the -Credential parameter when using Register-PSRepository or Set-PSRepository.
Whenever you access a reposit

[2021-09-17 14:40] tristanbarcelon commented on #661
Hi @alerickson, I have pscore 7.1.4 on Windows and Ubuntu and could not find Install-Resource cmdlet/function. Which module contains Install-Resource?

[2021-09-18 08:59] codaamok commented on #615
Same is true for `FileList`.

[2021-09-20 23:33] connde commented on #586
For information, I was getting the same error, but when I tried using Powershell ISE with admin rights I was able to uninstall AzureRM and install Az module without issues.

[2021-09-23 19:50] StevenBucher98 commented on #661
Hi @tristanbarcelon,
We (@alerickson) were chatting and realized we meant to say
`Install-Module <pkg-to-install> -Credental $AZDOCredential`

Please give this a try and let us know if that resolves your issue.

[2021-09-23 19:57] StevenBucher98 commented on #586
@connde can you show us the output of `$PSVersionTable` and let us know the version of PowerShellGet and PackageManagement? You can run `gmo PowerShellGet, PackageManagement -ListAvailable`.

[2021-09-23 20:08] connde commented on #586
Sure, here it is. Note that I installed PowerShell using Microsoft Store.

PS C:\Users\lucas> $PSVersionTable

Name                           Value
----                           -----
PSVersion                      7.1.4
PSEdition                      Core
GitCommitId                    7.1.4
OS                             Microsoft Windows 10.0.19043
Platform                       Win32NT
PSComp

[2021-09-30 18:24] StevenBucher98 commented on #586
Thank you @connde! We suspect it might have something to do with your path of your PowerShell that is making PowerShellGet v2 fail. One suggestion we have is to try and install the latest `.msi` file which you can find here: [PowerShell Releases](https://github.com/PowerShell/PowerShell/releases/tag/v7.1.4)

[2021-09-30 19:14] connde commented on #586
Hi @StevenBucher98, that means Windows Store installation is not recommended currently?

[2021-09-30 19:37] danpousson opened #662 "Error: Unable to find module providers (PowerShellGet)"
Steps to reproduce
------------------

[code]
steps to resolve:
Set-ExecutionPolicy -ExecutionPolicy Unrestricted;
[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12;

Environment data
----------------

[code]

[code]

[code]

contact info:
Dan Pousson
danpousson@gmail.com

[2021-09-30 19:45] danpousson commented on #662
Existing modules:

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/dpousso/AppData/Local/Temp/msohtmlclip1/

[2021-10-07 10:34] santanor opened #663 "Unable to Install-Module 'PowerShellGet' from an Azure DevOps build pipeline"
So I'm running a build pipeline in Azure DevOps and one of the steps requires to install various packages, some from PSGallery and some from an internal feed. In order to do that the first thing I do is:

[code]
After that I should be able to install the remaining packages.

The problem is that sometimes, `PowerShellGet` updates and sometimes it doesn't. Which makes it a pain to debug and determin

[2021-10-11 18:24] StevenBucher98 commented on #663
Also do you mind running
`Install-Module 'PowerShellGet' -AllowClobber -RequiredVersion "2.2.5" -Force -Repository 'PSGallery' -SkipPublisherCheck -Debug -Verbose`
and including the output.

Is there a particular reason you need to install PackageManagement 1.4.3? You also do not need to install PackageManagemnt because PowerShellGet installs it. This might be causing your issue because you are in

[2021-10-12 10:16] santanor commented on #663
Hi @StevenBucher98, the environment is defined here
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/powershell

Running `$PSVersionTable` outputs the following information

[code]

I'm not sure, I inherited this script so I'm cautious about making changes. Didn't know I didn't need it.

So I removed the explicit installation of `PackageManagement` and tried to run only `Insta

[2021-10-12 21:48] StevenBucher98 commented on #663
Thanks @santanor for the outputs! Do you mind confirming that PowerShellGet 2.2.5 has been installed by running
`Get-Module PowerShellGet - ListAvailable`

If you do see it in the list then you can try importing that specific version into your PS Session by running
`Import-Module PowerShellGet -Version "2.2.5"`

Then try `Get-Module PowerShellGet - ListAvailable` and can double check with `(Get-co

[2021-10-12 21:50] StevenBucher98 commented on #663
Also, for your reference, the `Get-Module` command only shows what is imported in your current PS Session. Using 'Get-Module PowerShellGet -ListAvailable' is a better way to check if a particular module is installed.

[2021-10-14 22:55] danpousson commented on #662
@StevenBucher98
Yes correct.

here are the results of

PS C:\> Install-module PowerShellGet -Force -AllowClobber

Security warning
Run only scripts that you trust. While scripts from the internet can be useful, this script can potentially harm your
computer. If you trust this script, use the Unblock-File cmdlet to allow the script to run without this warning
message. Do you want to run C:\program

[2021-10-14 23:03] danpousson commented on #662
When running PowerShell-7.1.4-win-x64.msi I get this error above in the screenshot.

This may have led me into this strange scenario that I am in.
I think the PS 7 modules a physically in place but not properly installed.

[2021-10-15 14:30] danpousson commented on #662
That above error happens the same with install or uninstall

[2021-11-25 15:48] mikebeaton commented on #625
Probably a pretty obvious point, but for me running PowerShell as Administrator resolved this issue.

[2021-12-06 19:08] ruffin-- opened #664 "No match was found for provider Nuget on initial installation attempt"
Goal
------------------

Attempting to follow installation instructions from [here](https://github.com/PowerShell/PSScriptAnalyzer#installation):

Steps to reproduce
------------------

1. Hit Windows Key.
2. Type `pwsh`
3. Mouse to right and select "Run as adminstrator"
4. Select "Yes" for User Access Control
5. Paste commands from instructions.

[code]

Expected behavior
-----------------
Nuget

[2021-12-25 09:16] penalvch opened #665 "System.Management.Automation.ParameterBindingException: A parameter cannot be found that matches parameter name 'Provider'."
Steps to reproduce
------------------
Running $test.ps1 as part of a scheduled task via an administrative user intermittently shows the below error.
I've never been able to reproduce the problem by executing the $test.ps1 script in Visual Studio Code, opening PWSH from Start > Run As Administrator, etc.
Computer has latest drivers, BIOS, firmware, and updates applied, with AV turned off.

$test.ps

[2021-12-29 11:25] sqlenders opened #694 "The variable '$script:PSGetModuleSourcesFilePath' cannot be retrieved because it has not been set."
I got this error :

The variable '$script:PSGetModuleSourcesFilePath' cannot be retrieved because it has not been set.
At C:\Program Files\WindowsPowerShell\Modules\PowerShellGet\2.2.5\PSModule.psm1:6447

What should I do ?

[2022-01-01 01:04] penalvch opened #666 "install-script only prompts once ever for environment variable choice"
Steps to reproduce
------------------

See below. As per help docs below, one could pass the -nopathupdate switch to choose no upfront, but there is no opposite, in case one changes their mind later. Instead, one has to manually update PATH:
https://docs.microsoft.com/en-us/powershell/module/powershellget/install-script?view=powershell-7.2

Expected behavior
-----------------

[code]

Actual behav

[2022-01-06 17:41] BladeFireLight opened #667 "Unable to save or install MS provided modules from gallery"
We are unable to install MS provided modules in the gallery. 3rd party seem to work. I assume there is some sort of additional validation involved.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[code]

[code]

[2022-01-10 20:25] florinmicle commented on #610
Any ideas/workarounds? I just ran into this issue as well...

[2022-01-12 20:01] StevenBucher98 commented on #667
Thanks for your issue @BladeFireLight! We were unable to reproduce this issue and are no longer supporting PowerShellGetv2.
What version of .NET are you running and can you possibly try the latest PowerShellGet v3 preview and see if this is still an issue?

[2022-01-12 20:03] StevenBucher98 commented on #666
Thanks @penalvch you are able to change environment variables, here is some additional information to [help](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_environment_variables?view=powershell-7.2).

[2022-01-12 20:03] #666 closed

[2022-01-13 10:19] abilous-ti commented on #516
@anamnavi Are there any ETA when the issue will be fixed?

[2022-01-23 22:01] josephtingiris commented on #516
I ran into a similar issue that brought me here.

On linux (f35), if I use pwsh as one user & then try a different user then install-module fails (for the second, and subsequent users).  I tracked it down to pwsh creating `/tmp/Microsoft.PackageManagement/`, which is owned by the first user (and mode 0700).  If I delete that directory manually, then install-module works for user #2, but user #1 no

[2022-01-27 22:38] StevenBucher98 commented on #516
Hi @abilous-ti and @josephtingiris can you all try the latest [PowerShellGetv3 release](https://www.powershellgallery.com/packages/PowerShellGet/3.0.12-beta)? We believe it might be resolved there.

[2022-01-29 15:31] 237dmitry opened #668 "Unable to install or update any package"
This problem in Windows and in Linux. The error and the warning are the same. `Install-Module` `Update-Module` `Save-Module`
Could this problem relates to internet provider?

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

installed module

Actual behavior
---------------
Not valid uri

Environment data
----------------

[code]
[code]

[2022-02-02 21:07] StevenBucher98 commented on #668
Thanks @237dmitry! Can you run `Get-PSRespository` and `Get-PackageSource` and share the output with us?

[2022-02-14 23:47] tristanbarcelon opened #669 "Get-PSRepository, Install-Module, Get-InstalledModule do not consistently work when executed under 2 different windows accounts"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

if NugetMetadata module is not presently installed in user's scope, then install it from PSGallery repo. Unfortunately, even Get-PSRepository does not work and I'm presented with this error: `WARNING: Unable to find module repositories.`

Actual behavior
---------------
I get this error instead

[code]

Environment

[2022-02-14 23:49] tristanbarcelon commented on #669
Are the PSRepository sources stored in an xml file just like nuget sources that I can examine to check if it's corrupted?

[2022-02-15 13:03] tristanbarcelon commented on #669
**Update:**
      Lines 94 and 101 of https://github.com/PowerShell/PowerShellGetv2/blob/master/src/PowerShellGet/private/modulefile/PartOne.ps1, indicate that the PSRepository file is PSRepositories.xml stored in $env:LOCALAPPDATA\Microsoft\Windows\PowerShell\PowerShellGet. Once we dropped that file, we were able to recreate it and everything was fine. Is there a cmdlet or function I could use to

[2022-02-15 13:03] #669 closed

[2022-02-21 17:13] sebastianrogers opened #671 "When an Azure DEVOps Project URL has spaces in it Register-PSRepository fails despite VSS_NUGET_EXTERNAL_FEED_ENDPOINTS being set"
Steps to reproduce
------------------

- Create an Azure DEVOps Project with a space in the URL, e.g. "https://dev.azure.com/MyOrganisation/Space Project"

[code]

- Create an Artifact feed (https://docs.microsoft.com/en-us/azure/devops/artifacts/get-started-nuget?view=azure-devops&tabs=windows#create-a-feed)
- Publish the NuGet Package (https://docs.microsoft.com/en-us/azure/devops/artifacts/get-

[2022-02-24 15:43] sagarkalangi opened #673 "Issue with Installing azure powershell module using "install-module" command"

[2022-02-24 19:14] sagarkalangi commented on #673
![image](https://user-images.githubusercontent.com/28378322/155591571-fb292b30-c038-4022-97c7-d1ac824d2ae2.png)

[2022-03-03 19:59] sagarkalangi commented on #673
Team.. is there any update here..

[2022-03-03 23:54] petrsnd opened #675 "Recent failure in build pipeline with Publish-Module related to prerelease versioning"
I have been publishing a PowerShell module for many years.  Between released versions I publish my module to PowerShellGallery with the '-pre' tag.  Upon merging recent code changes, my pipeline began failing.  I believe this to be a bug because my module conforms to the guidance provider here:
https://docs.microsoft.com/en-us/powershell/scripting/gallery/concepts/module-prerelease-support?view=po

[2022-03-07 16:53] justinainsworth commented on #586
I am able to consistently reproduce this issue.  In the case where I can consistently reproduce it is when a module is installed via install-module, and the module that is being installed has a defined dependency that uses 4 part semantic versioning, AND that dependent module is already installed.

There are a few modules that I see happen a lot with MSAL.PS, MicrosoftTeams, Microsoft.SharePoint.O

[2022-03-09 01:34] tristanbarcelon opened #676 "Find-Module does not allow parameters MinimumVersion and AllVersions to be specified together"
If I'm synchronizing PSGallery packages to a private Azure Devops feed, I would like to be able to copy versions of PSGallery modules newer than the latest version stored in private Azure Devops feed. Hence, we are specifying a MinimumVersion to Find-Module in order to limit results.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
------

[2022-03-09 06:33] BernieWhite commented on #675
Same issue. Using pre-release versions using documented guidance.

[2022-03-10 19:25] StevenBucher98 commented on #673
Can you try upgrading to the 2.2.5 version of PowerShellGet? Can you try this cmdlet to update
`Install-Module -Name PowerShellGet -RequiredVersion 2.2.5 -Force`

and if you have issues with the above then can you follow the instructions in this [blog post](https://devblogs.microsoft.com/powershell/when-powershellget-v1-fails-to-install-the-nuget-provider/)

[2022-03-10 19:26] StevenBucher98 commented on #675
This issue should be resolved and tracked [here](https://github.com/PowerShell/PowerShellGallery/issues/217)

[2022-03-10 19:26] #675 closed

[2022-03-10 19:36] StevenBucher98 commented on #676
You can get this behavior in PowerShellGetv3, and example of this is:
`Find-PSResource -Version [1.0.0, ]`

Another way to get this with the current v2 behavior is:
`Find-Module -Name aws.tools.common -AllVersions | where {$_.Version -ge "4.1.36"} `

[2022-03-18 18:53] tristanbarcelon commented on #676
Nice syntax on V3 and this would work pretty well with the list of modules I'm synchronizing which looks like this:

[HashTable] $ModulesToSync = @{
        'AzurePipelinesPS' = '(3.0.13,4.0]'
        'Carbon' = '(2.9.2,2.11]'
        'dbatools' = '[1.0.101,1.2]'
        'MSI' = '3.3'
        'NameIT' = '(2.1.1,2.3]'
        'powershell-yaml' = '(0.4.1,0.4.2]'
        'PSOneTools' = '[1.0,2.4]'

[2022-03-25 16:13] chreestopher commented on #484
I dont mean to raise the dead here, but thought i had some info that might be helpful:

I installed powershellget 2.2.5 from PSGallery and started having the issue once i started using -SkipAutomaticTags
When not using -SkipAutomaticTags, the probelm would go away but i would be stuck publishing modules with the automatically generated tags. This behavior seemed really odd so i started investigati

[2022-03-28 03:39] alerickson commented on #484
@chreestopher I think I know what the issue was here.  If you run `Get-Module PowerShellGet, PackageManagement -ListAvailable` you get a list of all of the versions that exist on your system.  If there's multiple versions installed in different locations then the ordering that is displayed with this output is the ordering PowerShell uses.  Meaning, version 1.0.0.1 may have been installed in a loca

[2022-04-12 12:23] simone-cw opened #678 "Find-Package fails to find existing NuGet package"

[2022-04-15 09:32] laellyo opened #677 "Error when executing Register-PSRepository command from Azure DevOps pipeline"
Context
--------

We have developed custom Powershell modules to ease the management of third party solutions from developers laptop and Azure DevOps pipelines.
We don't have any issues when registrating these modules from a local environment, however we have this error thrown when we register our NuGet repository a from Azure pipeline.

Steps to reproduce
------------------

We have created a YAM

[2022-06-10 03:30] tristanbarcelon opened #679 "When using a PSRepository backed by Azure Devops Artifact feed that upstreams PSGallery, Install-Module fails on specific module versions"
Steps to reproduce
------------------
1. Create an Azure Devops Artifact feed (org or team project scoped) and upstream powershellgallery.
2. Generate a personal access token with Package read/write permission within the organization containing the Artifact feed
3. Execute the following in PSCore

[code]

Expected behavior
-----------------
When the module or requiredversion is not found in azure

[2022-06-10 15:52] SteveL-MSFT commented on #679
cc @SydneyhSmith @alerickson

[2022-06-10 18:33] tristanbarcelon commented on #679
I tried this with dbatools, dbachecks modules as well and experienced the same issue.

[code]

[2022-06-28 20:50] mighty-services commented on #606
Hy chausner,

thanks for you´re answer. I also have a German windows with the same error. To what text do i need to change it since I don´t know how to capture the $stdout variable

[2022-06-29 23:37] tristanbarcelon commented on #679
Hi @anamnavi, I'm curious whether you've been able to reproduce this issue I'm observing. It started affecting newer versions of AWS.Tools.* modules starting with 4.1.116.

[2022-06-30 18:13] anamnavi commented on #679
@tristanbarcelon I'll test and get back on this early next week, sorry for the delay, just coming back from vacation.

[2022-07-20 04:47] tristanbarcelon commented on #679
@anamnavi , does your group collaborate with Azure Devops artifacts team? I noticed another pattern whenever these errors happen. Specifically, the errors happen within a few hours after a new version of a module is published in PSGallery. I don't know whether Azure Devops artifacts caches metadata from PSGallery rather than querying it directly for the presence of a module and version. Re-attempt

[2022-07-27 19:00] itsme112358 commented on #619
Don't know if anybody at Microsoft still cares, but the issue persists.
I have a deployment group of buildservers and another of developer machines. They are identical in OS and most of the setup.
After spending hours reading the docs and redoing everything _many_ times I also found that passing credentials with every command is the only way. Well if it's so, it's so...

_BUT_ I furthermore found

[2022-08-04 15:09] NeighborGeek commented on #586
I just ran into this issue for the first time.  I found @philosophicles detailed issue in [PowershellGet Issue #622](https://github.com/PowerShell/PowerShellGet/issues/622) was spot on in describing problems with the error message itself as well as possible causes not mentioned by the error.  In my case, the issue is that controlled folder access is blocking access to the folder pwsh is trying to

[2022-08-08 11:58] LaurentDardenne commented on #491
I have the same problem with a local repository (FileSystem) :
[code]
Whether or not -Allowprerelease is specified, all modules from local repositories are present in the result.

Version :
[code]

[2022-08-19 14:48] schrufygroovy commented on #678
+1 please fix

[2022-08-19 15:15] simone-cw commented on #678
Hi @SydneyhSmith

My apologies for the late reply. I must have missed the notification with your comment.
I have now tried to run the command again but I am unable to replicate it. I might now have a more recent versions of the underneath dependencies, so since the error is gone I can consider it resolved.

If it is of any help I can provide the packagemangement and powershellget versions, but I'd

[2022-08-22 09:43] schrufygroovy commented on #678
In my case I am dealing with a private azure devops nuget feed.

[code]

He is able to find the package and package information, but the information is somehow missing the `PackageSource` / `PackageSource.Location` leading to

[code]

[2022-09-15 12:34] shaikazure opened #681 "The version '1.0.2' of the module 'Az.MarketplaceOrdering' being installed is not catalog signed"

[2022-09-15 18:49] anamnavi commented on #678
@schrufygroovy @simone-cw can you try this scenario out with PowerShellGetV3? https://www.powershellgallery.com/packages/PowerShellGet/3.0.17-beta17

You can register a repository with the private azure devops V3 feed, and use the `Find-PSResource <pkgName>` cmdlet. Unfortunately we're no longer fixing issues for PowerShellGetV2, but would love to hear your feedback of whether this works in Powers

[2022-09-21 23:48] xtqqczze opened #680 "LICENSE is not recognized by Github as MIT"
See also: PowerShell/PowerShell#12729

[2022-09-29 18:17] alerickson commented on #680
HI @xtqqczze do you mean the PowerShellGet license is not recognized by GitHub as an MIT license?

[2022-09-29 20:18] xtqqczze commented on #680
Yes, the license in the following file:
https://github.com/PowerShell/PowerShellGetv2/blob/master/LICENSE

Compare to the following file, which is recognized:
https://github.com/PowerShell/PowerShell/blob/master/LICENSE.txt

[2022-10-04 16:26] twinter-amosfivesix commented on #619
I ran into the same problem as many here, where you are constantly taken to the device flow even thought it seems like you should not be. But using [the troubleshooting tips for the Azure Artifacts Credential Provider](https://github.com/microsoft/artifacts-credprovider#how-do-i-find-out-if-my-issue-is-a-real-401) I figured out that our Azure DevOps authentication setup required multifactor authen

[2022-10-10 10:30] Nevember commented on #520
Hi! After a couple years of dealing with this frustrating issue, I've _finally_ found a way to reliably repro this `XmlException`, `PropertyNotFoundStrict`, and `InvokeMethodOnNull` error combo.

The issue (at least in my case) was that--deep within my lengthy _profile.ps1_, I'd set the preference variable `$OFS` to "**,**"; the issue seemingly occurs if the value for `$OFS` includes _any_ non-whi

[2022-10-10 18:25] alerickson commented on #520
@Nevember thanks for the detailed repro information!  Were you able to try the repro with 3.0.17-beta17 in Windows 10 and Windows 11?

[2022-10-10 18:28] alerickson commented on #619
@twinter-amosfivesix can you try using our latest prerelease version (can be found [here](https://www.powershellgallery.com/packages/PowerShellGet/3.0.17-beta17)). There is an integration with the SecretMangement module that allows for a smoother experience with handling credentials and credential persistence.

[2022-10-10 21:18] Nevember commented on #520
@alerickson, my pleasure!

I have to apologize for one detail, though: **The issue does _not_ occur with 3.0.17-beta17 in Ubuntu.** I had forgotten that the command `Find-Module` has been replaced with `Find-PSResource` in newer versions of PowerShellGet, so when tested in Ubuntu yesterday, v2.2.5 was imported, **not** beta17.

I discovered this when testing in Win10 and Win11 (and Server2019) a f

[2022-10-17 18:31] anamnavi commented on #520
@Nevember thank you for this feedback, this is great to hear that this is not reproducing in v3.0.17-beta17, yay! The equivalent command for `Get-InstalledModule` is `Get-PSResource` in PowerShellGet V3. If the `$OFS` issue occurs with the `Get-PSResource` cmdlet please let us know, thank you!

Closing this issue as we're not working on PowerShellGetV2. If you're still facing it while using PowerS

[2022-10-17 18:31] #520 closed

[2022-10-17 18:38] anamnavi commented on #680
@xtqqczze thanks for pointing this out, this is resolved now.

[2022-10-17 18:38] #680 closed

[2022-10-18 14:36] BohrenAn opened #684 "Powershell 7 Get-InstalledModule not working"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the latest version
- [X] Search the existing issues.

### Steps to reproduce

As you can see below, i am using PowerShell 7. Seems that Get-InstalledModule does not work there.
Get-Module does work.

See also: https://github.com/PowerShell/PowerShell/issues/12271

PS C:\> get-host

Name             : Co

[2022-10-18 14:45] alexbuzzbee commented on #520
This issue is not fixed by PowerShellGet v3 until it is generally available. While PowerShellGet v3 is still in preview, PowerShellGet v2 remains the production version.

[2022-10-24 18:15] alerickson commented on #684
Thanks for letting us know of this issue @BohrenAn!  Are you encountering this issue with `Get-PSResource` in PowerShellGet 3.0.17-beta17?  We're currently only adding security bug fixes to PowerShellGet v2, but will address any v2 issues or bugs in v3.

[2022-10-25 06:44] BohrenAn commented on #684
@alerickson
I did run the following command. No return value. Does this help?

PS C:\Users\a.bohren> Get-PSResource -Name MicrosoftTeams
PS C:\Users\a.bohren> Get-Module

ModuleType Version    PreRelease Name                                ExportedCommands
---------- -------    ---------- ----                                ----------------
Manifest   7.0.0.0               Microsoft.PowerShell.Man

[2022-10-25 22:22] mmisztal1980 opened #685 "Install-Module fails to install from a local path on GitHub actions runner"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the latest version
- [X] Search the existing issues.

### Steps to reproduce

I'm working on emitting powershell modules from a [github repo](https://github.com/cloud-tek/automation) to nuget. My repo contains 2 modules:
- A: CloudTek.Automation.Shell
- B: CloudTek.Automatuon.K8S

B has a dependency on

[2022-11-01 12:56] #685 closed

[2022-11-03 21:36] CodyBatt commented on #619
@twinter-amosfivesix that's a pretty hefty amount of prerequisites. I was just trying to come up with some simple instructions for people to install a utility module from our Azure Artifacts. For CI/CD that's fine, but just to get a module that's a lot of hoops.

@alerickson I tried the latest prerelease and couldn't get it working but maybe the steps are different since all the commands changed i

[2022-11-07 20:09] anamnavi commented on #619
@CodyBatt Yes credential management is different in PowerShellGetV3. It relies on Microsoft.PowerShell.SecretsManagement module, and you can look at [this blogpost](https://devblogs.microsoft.com/powershell/secretmanagement-and-secretstore-are-generally-available/) to get familiar with SecretsManagement, install that module and set up a vault. In order for credential persistence to work with PSGet

[2022-11-07 20:24] anamnavi commented on #684
@BohrenAn thanks for sharing this info! There's 2 aspects to it. Firstly, with searching for packages installed under "Program Files" included in the path, that denotes machine wide scope, so to search for it you would need to add `-Scope AllUsers` (instead of the default which is `CurrentUser`). So an example would be `Get-PSResource -Name "PowerShellGet" -Scope AllUsers`.

Secondly, modules/scri

[2022-11-07 21:48] CodyBatt commented on #619
@anamnavi Right, I tried to set it up with SecretsManagment and didn't get anywhere. Succinct documentation for getting it set up will be a big help.

[2022-11-08 21:16] tgrader opened #686 "Install-Module fails from ADO feed on Powershell 7"
### Prerequisites

- [X] Write a descriptive title.
- [X] Make sure you are able to repro it on the latest version
- [X] Search the existing issues.

### Steps to reproduce

1. Install latest release of Powershell 7.
2. Create an ADO feed and register it as a repository following the instructions here: https://learn.microsoft.com/en-us/azure/devops/artifacts/tutorials/private-powershell-library?vi

[2022-11-14 19:35] anamnavi commented on #686
@tgrader thanks for reaching out! I noticed that you are using `Install-Package` (which comes from PackageManagement). Could you use `Install-Module` (which comes from PowerShellGet V2).

Also, are the packages `jQuery` and `sampleDependency` published to the ADO feed?

[2022-11-14 19:42] anamnavi commented on #684
@BohrenAn we completely understand the frustration with this PowerShellGet V2 behavior. We are working on PowerShellGet V3 to be less confusing and handle such scenarios better. If you try finding the installed `MicrosoftTeams` package with the PowerShellGetV3 cmdlet `Get-PSResource` like such: `Get-PSResource -Name "MicrosoftTeams" -Scope AllUsers` are you able to find it?

[2022-11-14 20:14] travisgr commented on #686
Hello, Please find the results you've requested below.

[code]

The problem is in Install-PackageUtility.ps1. This function calls a module-internal command named "Test-ValidModuleManifest" which triggers this error to be returned and does not honor the -Force parameter.

https://github.com/PowerShell/PowerShellGetv2/blob/7ef9df4738fbe2eefb144ff94b8941da0ccdec7f/src/PowerShellGet/private/functions/

[2022-11-14 22:57] alerickson commented on #686
@travisgr PowerShellGet was originally really only meant to interact with PowerShell modules/scripts (hence why it's expecting to find a .psd1).  We're working on a rewrite of [PowerShellGet](www.github.com/powershell/powershellget) that better abstracts modules so that users have a better experience with generic .nupkgs and not just specifically PowerShell packages.

Could you try using the [late

[2022-11-14 23:20] travisgr commented on #686
The latest version also fails to install this package. It's checking for the existence of a .ps1.

[code]

[2022-11-21 19:07] #671 closed

[2022-11-21 19:51] anamnavi commented on #686
@travisgr thanks for trying this scenario out with PSGet V3. We're working to add better nupkg integration for packages like these which have neither .psd1 nor .ps1 file. These files are always present with PowerShell resources (off powershellgallery site) but we understand that packages from other repositories may not have this and we want to support those packages. The issue to track this work i

[2022-11-22 10:06] BohrenAn commented on #684
Hi @anamnavi

Install-Module in PowerShell 5 is default to AllUsers?
Install-Module in PowerShell 7 is default to CurrentUser?
Did i get that right?

Here is the Output you asked for in PowerShell 7

PS C:\> Get-Module
ModuleType Version    PreRelease Name                                ExportedCommands
---------- -------    ---------- ----                                ----------------
Manifest